[dir="rtl"]  {
    .dynamictab {
        .checkboxGroupSec {
            padding-left: 0px;
            padding-right: 60px;

            .mat-icon-button {
                margin-right: 0px;
                margin-left: 10px;
            }
        }
        .dragToggleButtonBox {
            right: 0px;
            left: inherit;
            border-radius: 0px 4px 4px 0px;
            .drag-handle .mat-icon {
                left: inherit;
                right: -2px;
            }
        }
        .firstChild {
            margin-left: 0px;
            margin-right: 20px;
        }
        .secondChild {
            margin-left: 0px;
            margin-right: 20px;
        }
        .expandCollapseContent.mat-card .flex-row {
            padding-left: 0px;
            padding-right: 20px;
            .form-controls {
                padding-left: 15px;
                padding-right: 0px;
            }
            .stageName {
                margin-left: 15px;
                margin-right: 0px;
            }
            .toggleButton {
                margin-left: 0px;
                margin-right: 5px;
            }
        }
        .mat-slide-toggle {
            padding-left: 15px;
            padding-right: 0px;
        }
    }
}