[dir="rtl"] {
    .overlay-drawer-container{
        .overlay-drawer{
            .mat-drawer-inner-container{
                .closePanel{
                    .closeDrawerIcon{
                        border-radius: 0px 0px 0px 4px;
                        transform: rotate(180deg);
                    }
                    .sidebarSectionName{
                        transform: rotate(90deg);
                        border-radius: 0px 4px 0px 0px;
                    }
                    .candidate-summary-btn{
                        left: 83px;
                        top: 75px;
                    }
                    .overlay-md-btn{
                        left: 59px;
                        top: 51px;
                    }
                    .overlay-sm-btn{
                        left: 68px;
                        top: 59px;
                    }
                }
                .view-profile-summary{
                    margin-right: 40px;
                }
            }
        }  
    }
}