<!--
  @Who:  Renu
  @When: 08-Jan-2024
  @Why: EWM-19107 EWM-19192
  @What: open move workflow Stages lead popup
 -->
 <div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>

<form [formGroup]="addForm" id="addFormId" applyTabIndexes>
    <div class="quick-dialog">
        <h2 mat-dialog-title>{{leadData.LeadName}} ({{leadData.StageName}})</h2>
        <mat-dialog-content class="col">
            <div class="row mb-0">
                <div class="col l12 m12 s12">
                    <div class="ng-slectBox">
                        <!--<app-custom-dropdown [selectedIn]="selectedLevel1"  (selectedOut)="onLevel1change($event);"  [config]="dropDoneConfig"
                          ></app-custom-dropdown>-->
                        <ng-select class="dropdown-body" appendTo="body" [searchable]="false" [clearable]="true"
                            formControlName="level1" #select placeholder="{{ 'label_stagedelete' |translate}}"
                            (change)="onLevel1Changes($event);">
                            ] <ng-template ng-header-tmp>
                                <ng-container>
                                    <div class="add-manage">
                                        <span class="spacer"></span>
                                        <a mat-icon-button id="favIcon" color="primary" class="dropdown-manage"
                                            (click)="redirect();">
                                            <div class="two-icons" id="{{animationVar?.ManageButton?.id}}"
                                                class="{{animationVar?.ManageButton?.isAnimClass}}">
                                                <mat-icon>subject</mat-icon>
                                                <mat-icon class="secondIcon">settings</mat-icon>
                                            </div>
                                        </a>
                                        <!-- <span class="spacer"></span> -->
                                        <button mat-icon-button class="refreshBtn radius-call"
                                            (click)="getUpdateOptionsLevel1()" color="primary" type="button"
                                            [ngClass]="loader?'rotate-loader':''">
                                            <mat-icon>refresh</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container>
                                    <div class="pl-15 pr-15">
                                        <mat-form-field class="no-bottom">
                                            <input matInput class="selectSearch" autocomplete="off"
                                                placeholder="{{'label_search' |translate}}" type="text"
                                                (input)="select.filter($event.target.value)" />
                                        </mat-form-field>
                                    </div>

                                </ng-container>
                            </ng-template>
                            <ng-option [value]="" disabled>{{'label_select'| translate}} </ng-option>
                            <ng-option [value]="item" *ngFor="let item of level1">
                                {{item.StageName}}
                            </ng-option>
                        </ng-select>

                        <mat-error
                            *ngIf="addForm.controls['level1'].hasError('required')  && addForm.controls['level1'].touched">
                            {{'label_level1'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="row mb-0">

                <div class="col l12 m12 s12">
                    <ng-select class="dropdown-body" appendTo="body" [searchable]="false" [clearable]="true"
                        formControlName="level2" #select placeholder="{{ 'label_subSatge' |translate}}"
                        (change)="onLevel2Changes($event);">
                        <ng-template ng-header-tmp>
                            <ng-container>
                                <div class="add-manage">
                                    <a mat-button id="favIcon" color="primary" (click)="redirect();">
                                        Manage
                                    </a>
                                    <span class="spacer"></span>
                                    <button mat-icon-button (click)="getUpdateOptionsLevel2()" color="primary"
                                        type="button" [ngClass]="loader?'rotate-loader':''">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="pl-15 pr-15">
                                    <mat-form-field class="no-bottom">
                                        <input matInput class="selectSearch" autocomplete="off"
                                            placeholder="{{'label_search' |translate}}" type="text"
                                            (input)="select.filter($event.target.value)" />
                                    </mat-form-field>
                                </div>

                            </ng-container>
                        </ng-template>
                        <ng-option [value]="" disabled>{{'label_select'| translate}} </ng-option>
                        <ng-option [value]="item" *ngFor="let item of level2">
                            {{item.StageName}}
                        </ng-option>

                    </ng-select>
                    <mat-error
                        *ngIf="addForm.controls['level2'].hasError('required') && addForm.controls['level2'].touched">
                        {{'label_level2'|translate}} {{'label_errorreqired'|translate}}
                    </mat-error>
                </div>
            </div>

            <div class="row mb-0">
                <div class="col l12 m12 s12" *ngIf="workflowStagesData?.Child || level3?.length > 0">
                    <ng-select class="dropdown-body" appendTo="body" [searchable]="false" [clearable]="true"
                        formControlName="level3" #select placeholder="{{ 'label_childSubStage' |translate}}"
                        (change)="onLevel3Changes($event);">
                        <ng-template ng-header-tmp>
                            <ng-container>
                                <div class="add-manage">
                                    <a mat-button id="favIcon" color="primary" (click)="redirect();">
                                        Manage
                                    </a>
                                    <span class="spacer"></span>
                                    <button mat-icon-button (click)="getUpdateOptionsLevel3()" color="primary"
                                        type="button" [ngClass]="loader?'rotate-loader':''">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="pl-15 pr-15">
                                    <mat-form-field class="no-bottom">
                                        <input matInput class="selectSearch" autocomplete="off"
                                            placeholder="{{'label_search' |translate}}" type="text"
                                            (input)="select.filter($event.target.value)" />
                                    </mat-form-field>
                                </div>

                            </ng-container>
                        </ng-template>
                        <ng-option [value]="" disabled>{{'label_select'| translate}} </ng-option>
                        <ng-option [value]="item" *ngFor="let item of level3">
                            {{item.StageName}}
                        </ng-option>

                    </ng-select>
                    <mat-error
                        *ngIf="addForm.controls['level3'].hasError('required') && addForm.controls['level3'].touched">
                        {{'label_level3'|translate}} {{'label_errorreqired'|translate}}
                    </mat-error>
                </div>
            </div>

        </mat-dialog-content>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions align="end" class="button-row actionBoxFooter">
        <button mat-stroked-button color="warn" tabindex type="button" (click)="onDismiss(false)" id="btnCancel">
            {{'button_cancel'|translate}}</button>
        <button mat-stroked-button color="primary" tabindex type="button" [disabled]="!addForm.valid || isResponseGet"
            (click)="onConfirm(this.addForm.value)" id="btnSave"> 
            <span *ngIf="!isResponseGet">{{'label_save'|translate}}</span>
            <div *ngIf="isResponseGet" id="loading"></div>
        </button>
    </div>
</form>