/* 
    @(C): Entire Software
    @Type: File, <scss>
    @Who: Satya Prakash Gupta
    @When: 14-May-2022
    @Why:  EWM-6555 EWM-6704
    @What:  This page will be use for the knockout question Component scss file
*/
@import "../../../../../../../mixinStyle.scss";
.configure-application-card-sub-title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    // @When: 10-05-2023 @who:Amit @why: EWM-12353 @what: add media query
    @media only screen and (max-width: 767px) and (min-width: 240px) {
        flex-direction: column;
        gap: 5px;
        align-items: inherit;
    }
    div{
        font-weight: 500;
        font-size: 16px;
    }
    .mat-raised-button{
        background-color: #7fb734;
    }
    .enable-knock{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.move-cursor{
    cursor: move;
}
.add-knockout-floating.mat-fab{
    position: absolute;
    bottom: 20px;
    right: 8px;
    background-color: #7fb734;
    color: #fff;
    z-index: 2;
}
.add-knockout-floating.mat-fab.mat-button-disabled{
    background-color: rgba(0, 0, 0, 0.12);
}
.knockout-section{
    overflow: auto;
    padding: 3px;
    padding-bottom: 70px;
    height: calc(100% - 95px);
}
.label-with-radio{
    display: grid;
    grid: auto/ 200px calc(100% - 200px);
    align-items: center;
    margin-bottom: 5px;
    @media only screen and (max-width: 768px) and (min-width: 240px){
        grid: auto/ 100%;
    }
    .textarea-lavel{
        @media only screen and (max-width: 768px) and (min-width: 240px){
            margin-bottom: 5px;
        }
    }
}

.knockout-section{
    .knockout-mat-accordion{
        .knockout-mat-panel{
            height: auto;
            .knock-question{
                padding: 15px 0px;
                word-break: break-word;
            }
        }
    }
}
.application-fade-sec{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    // background: #0000004a;
    z-index: 3;
    cursor: not-allowed;
}