/* 
  @(C): Entire Software
  @Type: File, <css>
  @Who: Satya Prakash Gupta
  @When: 18-May-2021
  @Why: EWM-1481 EWM-1554
  @What:  This page will be use for the Social Profile Cmponent CSS file
*/
.hidden-x{
    overflow-x: hidden !important;
}