// @When: 10-04-2023 @who:Amit @why: EWM-11806 @what:add btn size change start here
.icon-withchip{
    .matSuffix-icon{
        min-width: 35px;
        padding: 0px 5px;
        line-height: 30px;
    }
}
// @When: 10-04-2023 @who:Amit @why: EWM-11806 @what:add btn size change end here
