
.skill-chip-list{
    .mat-chip{
        margin: 0px 3px 4px 0px;
        padding: 2px 3px 2px 5px;
    }
}

 ::ng-deep{
    .add-manage {
        display: flex;
        background: #f5f5f5;
        align-items: center;
        .spacer {
          flex: 1 1 auto;
        }
        .ng-dropdown-panel-items .scroll-host {
          margin-top: -15px;
        }
      }
    }