
// @(C): Entire Software
// @Type: File, <html>
// @Who: Anup Singh
// @When: 30-Sep-2021
// @Why: EWM-2871 EWM-2979

.date-and-time{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5px));
    gap: 10px;
}