.modal-header{
    margin-bottom: 0px;
    h2{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.dialog-footer{
    .logo-text-btn{
        padding-inline: 10px;
        img{
            width: 35px;
            margin-inline-end: 3px;
            background: #fff;
            padding: 3px 5px;
            border-radius: 2px;
            margin-block-start: -3px;
        }
    }
}