<!---
    @(C): Entire Software
    @Type: File, <html>
    @Who: Nitin Bhati
    @When: 3rd-Feb-2021
    @Why: EWM-814
    @What: This page wil be use only for the buynow Component HTML
-->
<div *ngIf="loading" class="logo-loader" id="logo-loader">
  <div class="logo-loading"></div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{'label_systemAuditlog' |translate}}</mat-card-title>
    <div class="actionButton" *ngIf="notDataAvailable!=0">
      <button mat-raised-button color="primary" style="display: none;" id="BtnCollapseAll" (click)="collapseAll(grid)"
        class="buttonForDesktopMobile exportButton">
        <span class="buttonTxt">Collapse</span>
        <mat-icon>system_update_alt</mat-icon>
      </button>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="buttonForDesktopMobile minWidthSize">
        <span class="buttonTxt">{{'label_exportbtn'|translate}}</span>
        <mat-icon>system_update_alt</mat-icon>
        <span class="material-icons"> arrow_drop_down </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="downloadFile('CSV')">
          <mat-icon>calendar_view_week</mat-icon>CSV &nbsp;
        </button>
        <button mat-menu-item (click)="downloadFile('PDF')">
          <mat-icon>picture_as_pdf</mat-icon>PDF &nbsp;
        </button>
        <button mat-menu-item (click)="downloadFile('XLS')">
          <mat-icon>article</mat-icon>XLS &nbsp;
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row mb-0 sticky">
      <mat-card-subtitle class="col s12 m12 l12 subTitle">{{ 'label_systemAuditLogSubTitle' |translate }}
      </mat-card-subtitle>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="kendo-table-container">
          <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
          </ng-template>
          <div kendoTooltip #tooltip="kendoTooltip" showOn="none" position="bottom" [tooltipTemplate]="template"
            (mouseover)="showTooltip($event)">
            <kendo-grid #grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" id="userGrupId"
              [selectedKeys]="mySelection"  [pageSize]="pagesize" [pageable]="{
                buttonCount: buttonCount,
                info: info,
                type: type,
                pageSizes: pageSizeOptions,
                previousNext: previousNext
                }" [sortable]="true" [sort]="sort" (sortChange)="sortChange($event)"
              (pageChange)="pageChange($event)" 
              [scrollable]="'virtual'"
              [groupable]="false" [reorderable]="true" [resizable]="true"
              (edit)="editHandler($event)" (add)="addHandler()" (detailExpand)="onExpand($event)"
              (detailCollapse)="onCollapse($event)">
              <kendo-grid-messages pagerPage="{{'label_pagerPage' |translate}}" pagerOf="{{'label_pagerOf' |translate}}"
                pagerItems="{{'label_pagerItems' |translate}}"
                pagerItemsPerPage="{{'label_pagerItemsPerPage' |translate}}"
                noRecords="{{'label_noRecordAvailable' |translate}}">
              </kendo-grid-messages>
              <ng-template kendoGridToolbarTemplate>
                <div class="row mb-0 gridTollbar">
                  <div #gridAdd #gridAdd1 class="col l4 m6 s12">
                    <mat-form-field class="dateRange">
                      <mat-label>{{'label_systemAuditDate'|translate}}</mat-label>
                      <mat-date-range-input [formGroup]="auditFrom" required [max]="maxDate" [rangePicker]="picker"
                        [matTooltipDisabled]="true">
                        <input matStartDate formControlName="start" placeholder="Start date"
                          (dateInput)="inputEventStart($event)" readonly>
                        <input matEndDate formControlName="end" placeholder="End date"
                          (dateInput)="inputEventEnd($event)" readonly>
                      </mat-date-range-input>

                      <mat-icon matDatepickerToggleIcon (click)="clearDate($event)" *ngIf="clearbtn" class="clearIcon">
                        clear</mat-icon>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker (closed)="onClose()"></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div #search class="col l4 m6 s12 floatRight">
                    <mat-form-field class="searchInput">
                      <mat-label>{{'label_search'|translate}}</mat-label>
                      <input matInput id="searchBox" placeholder="Search" (input)="onFilter($event.target.value)">
                      <mat-icon matPrefix>search</mat-icon>                      
                    </mat-form-field>
                  </div>
                </div>
              </ng-template>
              <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
              </ng-template>
              <kendo-grid-column field="Created" title="{{'label_systemAuditDate' |translate}}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="customer-name word-wrap"><span>{{ dataItem.Created |
                      date:userpreferences.timeformate:userpreferences.timezone}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="UserName" title="{{'label_systemAuditUsername' |translate}}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="customer-name word-wrap"><span>{{ dataItem.UserName}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="EventName" title="{{'label_systemAuditEventName' |translate}}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="customer-name word-wrap"><span>{{ dataItem.EventName}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="ChangeSummary" title="{{'label_systemAuditChanegdsummary' |translate}}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="customer-name word-wrap"><span>{{ dataItem.ChangeSummary}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              
              <kendo-grid-column title="{{'label_actions' |translate}}">
                <ng-template kendoGridCellTemplate let-dataItem>
                <button class="ml-10" mat-button color="primary" id="showButtonId" *ngIf="dataItem.Router!=null" >
                <a routerLink="/{{dataItem.Router}}"  [queryParams]="{id:dataItem.PrimaryKey}">               
                    <mat-icon>visibility</mat-icon>
                  </a>
                </button>
                <!-- <button class="ml-10" mat-button color="primary" id="showButtonId" *ngIf="dataItem.Router==null">
                  <a routerLink="../../system-settings/general-setting">
                    <mat-icon disable>visibility</mat-icon>
                  </a>
                </button> -->
               
              </ng-template>
              </kendo-grid-column>
              <!-- Entire Software : Satya Prakash Gupta : 26-April-2021 : add box for new data : EWM-1196 EWM-1408 -->
              <ng-template #test kendoGridDetailTemplate let-dataItem>
                <div class="row mb-0">
                  <div class="col l4 m4 s4">
                    <p><strong>{{'label_systemAuditIpAddress' |translate}}:</strong> {{dataItem.IpAddress}}</p>
                    <p><strong>{{'label_eventDescription' |translate}}:</strong> {{dataItem.EventDescription}}</p>
                    <p><strong>{{'label_moduleNames' |translate}}:</strong> {{dataItem.ModuleName}}</p>
                    <p><strong>{{'label_pageName' |translate}}:</strong> {{dataItem.PageName}}</p>
                  </div>
                  </div>
                <section class="row kendoGridDetailTemplate" id="kendo-grid-detail-template">
                  <div class="col l6 m6 s6" id="old-data">
                    <h4>{{'label_oldData' |translate}}</h4>
                    <mat-divider></mat-divider>
                     <ngx-json-viewer [json]="oldchangeObject"></ngx-json-viewer>
                    <!-- {{dataItem.ChangeObjectinJson}} -->
                  </div>
                  <div class="col l6 m6 s6" id="new-data">
                    <h4>{{'label_newData' |translate}}</h4>
                    <mat-divider></mat-divider>
                     <ngx-json-viewer [json]="changeObject"></ngx-json-viewer>
                    <!-- {{dataItem.ChangeObjectinJson}} -->
                   </div>
                </section>

              
              </ng-template>
              <!-- Entire Software : Satya Prakash Gupta : 26-April-2021 : add box for new data : EWM-1196 EWM-1408 -->
            </kendo-grid>
          </div>
          <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
          </ng-template>
          <!-- <kendo-dialog *ngIf="active" [width]="" (close)="closeForm()" id="auditFrom">
              <kendo-dialog-titlebar *ngIf="formtitle=='Add'">
                {{'label_addAdministratorUser'|translate}}
                <button mat-icon-button ID="cancelButton" class="closeKendoPopup" (click)="onCancel($event)">
                  <mat-icon>close</mat-icon>
              </button>
              </kendo-dialog-titlebar>
            </kendo-dialog> -->
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>