
//    @Type: File, <scss>
//     @Name: invite-a-teammate.component.scss
//     @Who: Anup Singh
//     @When: 25-May-2021
//     @Why: EWM-1434 EWM-1612
//     @What: popup component for Invite Teammate


.divTextAreaLavel{
    opacity: 0.74;
  }

  .dateInput{
    cursor: pointer
  }

  .matErrorDesc{
    font-size: 11px;
    position: relative;
    top: -15px;
}