.mandatory-listing{
    width: calc(100% - 50px);
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    b{
      background: rgb(255, 215, 0, .4);
      padding: 3px 5px;
    }
    ul{
        margin: 0px;
        padding: 0px;
        li{
            list-style: none;
        }
    }
}

