.counterTxt {
    position: relative;
    .countlabel {
      margin-top: 0px;
      text-align: right;
      color: #fe7000;
      font-size: 80%;
      position: absolute;
      bottom: 5px;
      right: 20px;
    }
  }

  .mat-dialog-content{
    .col{
      display: flex;
      align-items: center;
      .mat-slide-toggle{
        margin:0px 5px;
      }
    }
  }
