/* 
    @(C): Entire Software
    @Type: File, <css>
    @Who: Nitin Bhati
    @When: 23-Nov-2021
    @Why: EWM-3856
    @What: You can add this page styles on same file, and also import other style files
*/
*{outline:none !important}
.quick-dialog{
    .row{
        margin-bottom: 10px;
    }
    h4{
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        border-radius: 4px;
        .mat-icon{
            margin-right: 5px;
        }
    }
    &:first-child{
        margin-top: 0px;
    }
    .ng-select-withicon{
        display: inline-flex;
        align-items: baseline;
        box-sizing: border-box;
        width: 100%;
        .ng-select{
            font-size: 14px;
            width: 100%;
        }
    }
    .select-matPrefix-icon{
        top: 8px;
        position: relative;
        width: 1.215em; 
    }
    .matPrefix-icon{
        top: 8px;
        position: relative;
        width: 1.215em;
    }
    .matSuffix-icon{
        position: relative;
        bottom: 0px;
        font-size: 12px;
        padding: 3px 10px;
        line-height: 25px;
        height: 30px;
        min-width: 35px;
    }
    .mat-form-field-should-float{
        .matPrefix-icon{
            top: 8px;
        }
    }
}


.mgBottom5{
    margin-bottom: 5px;
}
.ng-slectBox{
    font-size: 14px !important;
}
// .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label{
//     transform: ;
// }

.mat-chip.mat-standard-chip .mat-chip-remove {
     color: #f44336;
    opacity: 1;
  }
  .no-bottom {
    margin-bottom: -1.25em !important;
  }
  .add-manage {
    display: flex;
    align-items: center;
    .spacer {
      flex: 1 1 auto;
    }
    .ng-dropdown-panel .scroll-host {
      margin-top: -15px;
    }
  }
.lead-column-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 12px;
    margin-bottom: 15px;
    @media (width <= 480px){
        grid-template-columns: 1fr;
    }
    .lead-column{
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        &:last-child{
            margin-bottom: 15px;
        }
        span{
            font-size: 12.3px;
            color: rgba(0, 0, 0, 0.52);
            font-weight: 500;
            word-break: break-word;
        }
        p{
            margin: 0px;
            word-break: break-word;
        }
    } 
} 

