.col-1 {
    width: 25%;
  }
.col-2 {
    width: 35%;
}
.col-3 {
    width:35%;
}
.col-5 {
    width: 5%;
}
.mat-dialog-content{
    min-height: 65vh;
    .listcardContentMaxData{
        min-width: unset;
        .listContent{
            padding-top: 0px;
            overflow-x: auto;
            min-width: 850px;
            overflow: hidden;
            .col{
                padding-left: 15px;
                padding-right: 15px;
            }
        } 
    }
}

