<!--
  @(C): Entire Software
  @Type: File, <ts>
  @Name: industry.compenent.html
  @Who:  Suika
  @When: 11-May-2021
  @Why: ROST-1452.
  @What: For Master Region .
 -->  
<div *ngIf="loading" class="logo-loader" id="logo-loader">
  <div class="logo-loading"></div>
</div>

  <mat-card-header class="dashboard-mat-card-header title-and-btn" id="manage-industry-mat-card-header">
      <!-- <mat-card-title>{{userTz}}</mat-card-title> -->
      <mat-card-title class="only-title" *ngIf="actionStatus=='Add'">{{'label_addindustry' |translate}}</mat-card-title>
      <mat-card-title class="only-title" *ngIf="actionStatus=='Edit'">{{'label_editindustry' |translate}}</mat-card-title>
   
     
      <div class="actionButton">
        <button mat-raised-button color="warn" tabindex="10" id="btnCancel" (click)="onCancel($event)"
          class="buttonForDesktopMobile">
          <mat-icon>close</mat-icon>
          <span class="buttonTxt">{{'label_cancel' |translate}}</span>
        </button>
      <button mat-raised-button color="primary" tabindex="9" (click)="onSave(this.addForm.value,this.actionStatus)"
          type="button" id="btnSave" [disabled]="!addForm.valid" class="buttonForDesktopMobile">
          <mat-icon>check</mat-icon>
          <span class="buttonTxt">{{'label_save'|translate}}</span>
        </button>
      </div>
    </mat-card-header>
   
  <mat-drawer-container class="xeople-container-with-one-card" autosize id="manage-industry-drawer">
    <mat-card id="industry-manage-card" class="component-card mat-elevation-z2">
        <form novalidate [formGroup]="addForm"  accept-charset="utf-8"
        enctype='multipart/form-data'>
        <div class="row col mb-0">
            
           
              <!---------display sequence-->
          <mat-form-field class="col l4 m6 s12">
            <mat-label>{{'label_displaySequence' |translate}}</mat-label>
            <input type="hidden" formControlName="Id" id="Id" name="Id">
            <input matInput formControlName="displaySequence"  tabindex="1" text="displaySequence" id="industry-displaySequence" 
             >          
            <mat-error *ngIf="addForm.controls.displaySequence.errors  && addForm.controls.displaySequence.errors.numeric">              
              {{'label_displaySequence'|translate}} {{'label_errornumeric'|translate}}
            </mat-error>
            <mat-error *ngIf="addForm.controls['displaySequence'].hasError('maxlength')">
              {{'label_displaySequence' |translate}} {{'label_errordigitmaxlength6' |translate}}
            </mat-error>
          </mat-form-field>
             <!---------code--appUppercase---->
            <mat-form-field class="col l4 m6 s12">
                <mat-label>{{'label_industryCode' |translate}}</mat-label>
                <input matInput   formControlName="code" tabindex="2" text="code" id="industry-code" required
                (blur)="onCodeChanges();">
                <mat-error *ngIf="addForm.controls['code'].hasError('required')">
                  {{'label_industryCode' |translate}} {{'label_errorreqired' |translate}}
                </mat-error>
                <mat-error *ngIf="addForm.controls['code'].hasError('pattern')">
                  {{'label_industryCode' |translate}} {{'label_industryerrorpattern' |translate}}
                </mat-error>
                <mat-error *ngIf="addForm.controls['code'].hasError('codeTaken')">
                  {{'label_industryCode'|translate}} {{'label_errorreqiredAlready'|translate}}
                </mat-error>
              </mat-form-field>
              <div class="clear"></div>
               <!---------description-->
  
              <mat-form-field class="col l4 m6 s12">
                <mat-label>{{'label_industryDescription' |translate}}</mat-label>
                <input matInput required formControlName="description" tabindex="3" text="description" id="industry-description" (blur)="onDescriptionChanges();">
             
              <mat-error *ngIf="addForm.controls['description'].hasError('descriptionTaken')">
                {{'label_industryDescription'|translate}} {{'label_errorreqiredAlready'|translate}}
              </mat-error>
              <mat-error *ngIf="addForm.controls['description'].hasError('required')">
                {{'label_industryDescription' |translate}} {{'label_errorreqired' |translate}}
              </mat-error>
              <mat-error *ngIf="addForm.controls['description'].hasError('maxlength')">
                {{'label_industryDescription' |translate}} {{'label_errormaxlength100' |translate}}
              </mat-error>
            </mat-form-field>
                 <!---------external Id-->
                 <mat-form-field class="col l4 m6 s12">
                    <mat-label>{{'label_industryExternalId' |translate}}</mat-label>
                    <input matInput formControlName="externalId"  tabindex="4" text="externalId" id="industry-externalId" 
                     >    
                     <mat-error *ngIf="addForm.controls['externalId'].hasError('maxlength')">
                      {{'label_industryExternalId' |translate}} {{'label_errormaxlength100' |translate}}
                    </mat-error>             
                  </mat-form-field>
                
              <div class="clear"></div>
             
                <!---------score-->
                <mat-form-field class="col l4 m6 s12">
                  <mat-label>{{'label_industryScore' |translate}}</mat-label>               
                  <input matInput appTwoDigitDecimalNumber  [(ngModel)]="InputValue" formControlName="score" placeholder=""  tabindex="5" text="score" id="industry-score" 
                   >            
                  <mat-error *ngIf="addForm.controls['score'].hasError('pattern')">              
                    {{'label_industryScore'|translate}} {{'label_errordecimal'|translate}}
                  </mat-error>
                   </mat-form-field>
             
              <!---------status---->
            <div class="col l4 m6 s12">
              <div class="ng-slectBox">
                <!-----@suika@EWM-10681 EWM-10818  @03-03-2023 to set default values for status in master data--->    
                <ng-select placeholder="{{'label_industryStatus'|translate}}" class="show-required" tabindex="6" [clearable]="false"
                  formControlName="status" id="industry-status" required>
                  <ng-option value="" disabled>{{'label_status'|translate}}</ng-option>
                  <ng-option *ngFor="let list of statusList" value="{{list.StatusId}}">{{list.StatusName}}</ng-option>
              
                </ng-select>
                <mat-error
                  *ngIf="addForm.controls['status'].hasError('required') && addForm.controls['status'].touched">
                  {{'label_industryStatus'|translate}} {{'label_errorreqired'|translate}}
                </mat-error>
              </div>
            </div>
            <div class="clear"></div>
          <!---hide externally-->  
                  
          <div class="col l4 m6 s12">
            <div class="row mb-0">
              <div class="col l5 m6 s6">
                <mat-label>{{'label_industryHideExternally' |translate}}</mat-label>
              </div>
              <div class="col l7 m6 s6">
                <mat-slide-toggle formControlName="hideExternally" id="industry-hideExternally" tabindex="7"  (change)="setDefaultSignature($event)"
                  color="primary">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
  
            <!---Is Built-In-->          
            <div class="col l4 m6 s12">
              <div class="row mb-0">
              <div class="col l5 m6 s6">
                <mat-label>{{'label_industryIsBuiltIn' |translate}}</mat-label>
              </div>
              <div class="col l7 m6 s6">
                  <mat-slide-toggle disabled formControlName="isBuiltIn" id="industry-isBuiltIn" tabindex="8" (change)="setDefaultBuilInSignature($event)"
                    color="primary">
                  </mat-slide-toggle>              
              </div>
               </div>                           
              </div>
         </div>
        </form>
    </mat-card>
  </mat-drawer-container>
       