// @When: 20-May-2025 @who:Amit Rajput @why:EWM-17135 @what: modal list view
@use "../../colors";
.dark-theme{
    .modal-list-view{  
        .modal-list-half-data{
            span{
                color: #a7a7a7;
                border-right: 1px solid #919191;
            }
            small{
                background: #2e2e2e;
                padding: 8px;
                border-right: 1px solid #919191;
            }
        }
    }
    .verify-text{
        padding-top: 5px;
        display: flex;
    }
}