.breadcum {
    display: block;
    margin-top: -15px;
    margin-bottom: 3px;
    .breadcumContent {
      font-size: 18px;
      font-weight: 800;
      // min-width: unset;
      line-height: 16px;
      padding: 0px 0px 0px 0px;
    }
  
    .breadcumContentopen {
      font-size: 18px;
      font-weight: 800;
      font-style: italic;
      line-height: 16px;
      padding: 0px 0px 0px 0px;
      min-width: unset;
    }
  
    .label_breadcum {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      text-align: left;
      max-width: 600px;
      padding-right: 5px;
    }
  
    .arrowIcon {
      position: relative;
      top: 1px;
      font-size: 20px;
      height: 10px;
      width: 13px;
    }
  
    .threeDotStyleMobile {
      display: none;
    }
  }