<ng-container applyTabIndexes>
  <div class="modal-header" id="modal-header">
  <h2 matDialogTitle class="mb-0"><img src="{{EOHLogo}}"> 
   <ng-container *ngIf="firstValue; else secondCondition">{{'label_ShareClient' | translate}}</ng-container> 
   <ng-template #secondCondition>
    <ng-container *ngIf="secondValue; else thirdCondition">{{'label_shareMember' | translate}}</ng-container> 
   </ng-template>
   <ng-template #thirdCondition>
    <ng-container>  {{'label_ShareJob' | translate}} </ng-container>
  </ng-template>
  </h2>
  
      <button mat-icon-button id="btncloseinfo" (click)="onDismiss()" color="warn">
          <mat-icon>close</mat-icon>
      </button>
  </div>
  <mat-dialog-content class="share-job-content" >
 <app-sharejob-client-member-order (selectedEmit)="onSelectionChange($event)"></app-sharejob-client-member-order> 
  </mat-dialog-content>
  <!-- <mat-divider *ngIf="!selectedMemberStatus"></mat-divider> -->
  <!-- <div mat-dialog-actions class="eoh-dialog-footer">
      <div class="button-group">
        <button mat-stroked-button color="warn" tabindex type="button" id="btnCancel" (click)="onDismiss()">
          {{'button_cancel'|translate}}</button>
        <button mat-stroked-button class="eoh-bg-button" tabindex color="primary" type="button" id="btnSave"  [disabled]="isFormValid" (click)="onSubmit()">
          <img src="{{EOHLogo}}">{{'label_ShareJob'|translate}}</button>
      </div>
  </div>  -->
  </ng-container>
  