


//    @Type: File, <scss>
//     @Name: invite-a-teammate.component.scss
//     @Who: Anup Singh
//     @When: 25-May-2021
//     @Why: EWM-1434 EWM-1612
//     @What: popup component for Invite Teammate

.maxValue{
    position: relative;
    top: -25px;
    font-size: 60%;
}

.searchUser{
    .mat-input-element{
        padding-right: 40px;
        width: calc(100% - 40px);
    }
    .inputSearch{
        display: block !important;
        z-index: 9999999999;
        position: absolute;
        top: inherit;
        left: inherit;
        right: inherit;
        bottom: inherit;
        font-size: 64px;
        background-color: rgba(0, 0, 0, 0);
        right: 20px;
        bottom: 18px;
        font-size: 26px;
    }
}
.contactList{
    top: -23px;
    padding: 0px;
    position: relative;
    max-height: 180px;
    overflow: auto;
    .feature-box {
        height: auto;
        .imageName{
            width: 100%;
          .email{
              margin-left: 4px;
          }  
        }
    }
    .feature-box:hover{
        background: rgba(153, 153, 153, 0.15);
    }
    img{
        width: 30px;
        height: 30px;
        position: relative;
        top:0px;
        margin-right: 10px;
    }
    img:focus{
        outline: none;
    }
}
.addContatChip{
    img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    img:focus{
        outline: none;
    }
}

.add-btn.mat-button-base.mat-primary{
    width: 28px;
    height: 28px;
    line-height: 28px;
    .mat-icon{
        font-size:20px;
    }
    &::after{
        content: "";
        background: currentColor;
        opacity: 0.22;
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 0;
        border-radius: 50px;
        transition: opacity .2s ease-in-out;    
        }
}