
/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: manage-status.component.scss
    @Who: Renu
    @When: 13-may-2021
    @Why: ROST-1500
    @What: You can add group details styles to this file, and also import other style files
*/

// @When:10-mar-2023 @who:Amit @why: EWM-10801 @what: create common style for that

