/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: salary-band.component.scss
    @Who: Renu
    @When: 18-June-2021
    @Why: ROST-1860
    @What: You can add salay band details styles to this file, and also import other style files
*/

@import "../../../../../../mixinStyle.scss";

.col-1 {
    width: 25%;
}
.col-2 {
    width: 35%;
}
.col-3 {
    width: 22%;
}
.col-4 {
    width: 15%;
}
.col-5 {
    width: 15%;
}
.col-6 {
    width: 3%;
}

.list {
    display: block !important;
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0.32);
}

.mat-form-field-infix,
.mat-form-field {
    width: 100%;
}

.xeople-container-listing-with-breadCrumb.mat-drawer-container{
    .component-card.mat-card{
        @media only screen and (max-width: 429px) and (min-width: 240px) {
            height: calc(100% - 54px);
        }
    }
}

.page-header.mat-card-header{
    @media only screen and (max-width: 1060px) and (min-width: 581px){
      flex-direction: column;
      height: 78px;
      padding: 5px 10px 5px 15px;
      align-items: inherit;
    }
    @media only screen and (max-width: 580px) and (min-width: 240px){
      height: 73px;
    }
}
