<!---
    @Type: File, <html>
    @Name: my-activity-list.component.html
    @Who: anup singh
    @When: 14-jan-2022
     @Why:EWM-4465 EWM-4660
    @What: my activity list
-->
<!---
    @modified
    @Type: File, <html>
    @Name: my-activity-list.component.html
    @Who: Satya Prakash Gupta
    @When: 22-jan-2022
     @Why:EWM-4465 EWM-4662
    @What: my activity list
-->
  <div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
  </div>
  <mat-card class="kendo-table-container activity-table-container" id="myActivity-list-kendo-table-container">
    <ng-template #template let-anchor>
      <span>{{anchor.nativeElement.innerText}}</span>
    </ng-template>
    <div kendoTooltip #tooltip="kendoTooltip" showOn="none" position="bottom" [tooltipTemplate]="template"
      (mouseover)="showTooltip($event)">

      <kendo-grid   #grid [kendoGridBinding]="gridListData" [sortable]="true" [sort]="sort" [scrollable]="'virtual'"
        [reorderable]="false" [resizable]="false" (sortChange)="sortChange($event)"
        (scrollBottom)="pageChange($event)">

        <kendo-grid-column width="35" class="p-0 listActionBox">
          <ng-template kendoGridCellTemplate let-dataItem>

            <button mat-flat-button [matMenuTriggerFor]="beforegridMenu" class="dataActionButton">
              <mat-icon>
                more_vert
              </mat-icon>
            </button>

            <mat-menu #beforegridMenu="matMenu" xPosition="after"
              class="candidateQuickMenu candidate-data-dropdown listactionMenu">
              <span class="material-icons headerDroupDownUp">
                arrow_drop_up
              </span>

              <a mat-menu-item id="btnView" (click)="openMyActivityViewModal(dataItem.Id)">
                <mat-icon>subject</mat-icon>
                {{'label_view'|translate}}
              </a>
              
              <a mat-menu-item id="btnEdit" (click)="openDrawerForEdit(dataItem.Id)" *ngIf="dataItem.Edit===1"
                [disabled]="dataItem?.IsCompleted===1 || dataItem?.IsOwner===0">
                <mat-icon>edit</mat-icon>
                {{'label_edit'|translate}}
              </a>

              <a mat-menu-item id="btnDelete" (click)="deleteActivity(dataItem)" *ngIf="dataItem.Delete===1"
                [disabled]="dataItem?.IsCompleted===1 || dataItem?.IsOwner===0">
                <mat-icon>delete</mat-icon>
                {{'label_delete'|translate}}
              </a>

              <a mat-menu-item id="btnMarkAsDone"
                (click)="openQuickMarkDoneModal(dataItem.Id,dataItem.IsCompleted,dataItem.Remarks)"
                [disabled]="dataItem?.IsOwner===0">
                <mat-icon class="done-icon">assignment_turned_in</mat-icon>
                {{'label_markAsdone'|translate}}
              </a>

            </mat-menu>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="ActivityTitle" title="{{'label_title' | translate}}"></kendo-grid-column>
        <kendo-grid-column field="CategoryName" title="{{'label_category' | translate}}"></kendo-grid-column>
        <kendo-grid-column field="RelatedTo" title="{{'label_activityRelatedTo' | translate}}"></kendo-grid-column>


        <kendo-grid-column field="StartDate" title="{{'label_date_Time' | translate}}">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.StartDate| date:userpreferences.timeformate:userpreferences.timezone}}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="Duration" title="{{'label_duration' | translate}}"></kendo-grid-column>
      </kendo-grid>

      <div *ngIf="loadingscroll" class="k-i-loading scrollloading candidateLoadingScrollBg clientTitlePurpleTxt">
      </div>
      <!-- <div *ngIf="kendoLoading" class="k-i-loading"></div> -->
    </div>
  </mat-card>