.custum-warning-msg{
  position: relative;
  .mat-error{
    position: absolute;
    bottom: 0px;
  }
}
.inputSearch {
    display: block !important;
    z-index: 9999999999;
    position: absolute;
    top: inherit;
    left: inherit;
    background-color: rgba(0, 0, 0, 0);
    right: 20px;
    bottom: 18px;
    font-size: 26px;
  }
  .counterTxt {
    position: relative;
    .countlabel {
      margin-top: 0px;
      text-align: right;
      color: #fe7000;
      font-size: 80%;
      position: absolute;
      bottom: 5px;
      right: 20px;
    }
    .days{
      padding-left: 5px;
    }
  }