/* 
  @(C): Entire Software
  @Type: File, <html>
  @Who: Satya Prakash Gupta
  @When: 20-April-2022
  @Why: EWM-4945 EWM-6167
  @What:  This page will be use for the contact receipent Component scss file
*/

.inputSearch.k-i-loading {
    left: inherit;
    right: 18px;
}

.add-contact-modal{
    .mat-standard-chip.mat-chip-with-trailing-icon{
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 3px;
        padding-bottom: 2px;
        min-height: 30px;
        .userAvtaarAndName{
            width: 24px;
            height: 24px;
            span,img{
                width: 24px;
                height: 24px;
            }
        }
        .text-overflow{
            padding-left: 5px;
        }
    }
    .contactList{
        top: -23px;
        position: relative;
        max-height: 180px;
        overflow: auto;
        padding: 0px;
        .feature-box {
            cursor:pointer;
            padding: 0px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            .imageName{
                width: calc(100% - 40px);
                span.text-overflow{
                    padding: 0px 3px;
                }
            }
        }
        .feature-box:hover{
            background: rgba(153, 153, 153, 0.15);
        }
        img{
            width: 25px;
            height: 25px;
            position: relative;
            top:0px;
            margin-right: 10px;
        }
        img:focus{
            outline: none;
        }
    }
}
