<!---
@(C): Entire Software
@Type: File, <html>
@Who: Adarsh singh
@When: 30-Oct-2022
@Why: EWM-8897 EWM-9270
@What:  This component is used for important link list page.
-->
<div *ngIf="loading" class="logo-loader new-logo-loader" id="logo-loader">
    <svg id="uuid-d007ca5b-8cc9-4eb1-b22b-737d4ac8c97a" class="svg-loader" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146.77 179.91">
        <defs>
          <radialGradient id="uuid-0f71c9eb-ebcc-4ebc-83e0-179accc70292" data-name="New Gradient Swatch 6" cx="121.51" cy="137.48" fx="144.95" fy="163.86" r="47.34" gradientTransform="translate(-37.36 -25.52) rotate(-12) scale(1 1.4)" gradientUnits="userSpaceOnUse">
            <stop offset=".26" stop-color="#8b63a9"/>
            <stop offset=".5" stop-color="#6c3f97"/>
            <stop offset=".8" stop-color="#381f75"/>
          </radialGradient>
          <linearGradient id="uuid-dc932506-eed1-43d3-bec4-fbecab1521c2" data-name="New Gradient Swatch 3" x1="-3.87" y1="152.86" x2="154.54" y2="95.21" gradientUnits="userSpaceOnUse">
            <stop offset=".3" stop-color="#cd181e"/>
            <stop offset=".8" stop-color="#f58a1f"/>
            <stop offset=".95" stop-color="#fcb813"/>
          </linearGradient>
          <radialGradient id="uuid-ba892379-9f70-43df-91c4-a59d35673950" cx="33.54" cy="73.74" fx="12.03" fy="51.89" r="42.9" gradientTransform="translate(6.22 -45.84) rotate(3) scale(1 1.6)" gradientUnits="userSpaceOnUse">
            <stop offset=".29" stop-color="#c5168c"/>
            <stop offset=".58" stop-color="#90278e"/>
            <stop offset=".88" stop-color="#381f75"/>
          </radialGradient>
        </defs>
        <path class="upper-circle circle" d="m55.78,28.33c-4.76-11.98,2.87-26.39,15.77-28.09,20.57-2.71,38.06,17.59,23.64,37.32-16.75,22.92-33.67,5.18-39.41-9.23"/>
        <path class="last-curve path" d="m139.75,140.86c-3.29-3.34-9.1-6.93-15.12-10.98-16.99-11.42-26.28-24.17-17.29-35.1-1.04,1.28-2.05,2.62-2.99,4.04-10.6,15.91-11.39,48.61,1.21,68.9,3.13,5.03,6.7,8.15,10.24,9.97,2.78,1.26,5.4,2,7.39,2.17,0,0,.87.04,1.12.04,12.04,0,22.45-10.22,22.45-22.66,0-7.17-3.1-12.41-7.02-16.38Z"/>
        <path class="third-curve path" d="m123.2,179.87s-.01,0-.02,0c0,0,0,0-.01,0,0,0,.02,0,.03,0-1.99-.18-4.61-.91-7.39-2.17-3.54-1.83-7.12-4.94-10.24-9.97-12.6-20.29-11.81-52.98-1.21-68.9.03-.04.05-.08.08-.12.43-.64.87-1.26,1.31-1.86.07-.09.14-.18.21-.28.44-.6.9-1.18,1.36-1.75,0-.01.02-.02.03-.03,0,0-.01.02-.02.02,12.41-15.28,30.75-21.94,30.75-41.46,0-10.39-7.98-17.82-17.82-17.82-2.3,0-14.06.29-24.71,19.42-.05.09-.11.2-.16.3-2.12,3.89-6.06,12.62-9.49,20.37-5.28,11.95-7.84,21.95-21.1,33.87-14.23,12.79-37.83,24-37.83,24,0,0,.08-.04.18-.11-8.82,4.79-16,8.48-17.85,9.76-6.82,4.69-9.29,10.95-9.29,16.81,0,11.03,8.94,19.96,19.96,19.96,24.87,0,36.05-43.28,58.99-35.22,13.98,4.91,22.05,34.21,44.25,35.18,0,0,0,0,0,0,0,0,0,0,0,0Z"/>
        <path class="first-curve path" d="m49.11,35.86c-4.72-4.53-10.39-7.67-17.69-7.67-13.35,0-24.17,10.82-24.17,24.18,0,7.25,2.96,12.87,7.4,17.35,10.31,10.43,32.18,21.11,32.49,38.48,0,2.69-.23,4.92-1.3,7.82-.46,1.23-1.12,2.29-1.85,3.28,1.78-2.1,3.55-4.54,5.34-7.41,10.61-17.11,10.53-38.81,10.52-39.48-.36-23.41-4.64-30.44-10.72-36.54,0,0,0,0,0,0"/>
        <path class="second-curve path" d="m77.7,72.63c-9.75-.86-15.63-23.33-27.87-36.03,5.7,5.96,9.66,13.33,10.01,35.81,0,.59.07,17.53-7.2,33.27-.22.53-.2.46-.42.89-.43.9-.89,1.78-1.37,2.67-.09.16-.17.32-.26.48-.39.7-.79,1.39-1.21,2.07-.02.04-.04.08-.07.12-.12.19-.25.4-.4.62-.02.04-.05.07-.07.11-.38.61-.77,1.2-1.15,1.76-.02.03-.04.06-.07.1-.38.56-.77,1.12-1.15,1.64-.11.15-.22.3-.34.45-.3.4-.59.8-.89,1.18-.42.54-.85,1.06-1.27,1.56.02-.03-2.47,2.79-3.66,3.95-5.77,5.64-13.36,10.25-13.36,10.25,0,0,23.6-11.21,37.83-24,13.26-11.92,15.83-21.92,21.1-33.87,3.51-7.96,7.57-16.94,9.65-20.67-5.2,9.34-9.49,18.42-17.84,17.68Z"/>
    </svg>
</div>

<div class="documents-application-card-title" id="documents-application-card-title">
    <div class="title">
        <h3>{{'label_impLinks' |customTranslate}}</h3>
        <!-- who:maneesh,why:ewm.9738 count,when:07/12/2022 -->
        <h3>{{'label_TotalLinks' |customTranslate}} : {{importantLinksList.length}}</h3>
    </div>
    <div class="sub-title">
        <p>{{'label_ImportantDesc' |customTranslate}}</p>
    </div>
</div>

<div class="application-fade-sec" *ngIf="!IsImportant"></div>
<!-- @When: 30-10-2023 @who:amit @what: condition add -->
<div class="importantLinks-section" id="importantLinks-section" *ngIf="importantLinksList?.length !=0">
    <mat-accordion class="knockout-mat-accordion" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel #panel1 hideToggle *ngFor="let data of importantLinksList" cdkDrag>
            <mat-expansion-panel-header class="importantLinks-mat-panel" #panelH (click)="panelH._toggle()">
                <button mat-icon-button color="primary" class="move-cursor" cdkDragHandle [disabled]="activestate()">
                    <mat-icon>drag_indicator</mat-icon>
                </button>
                <div class="knock-question">
                    <mat-icon color="primary">{{data?.IconPath?data?.IconPath: 'link'}}</mat-icon> {{data.Heading}}
                </div>
                
                <div>
                    <button mat-icon-button tabindex *ngIf="!panel1.expanded" id="btn_expand" (click)="panelH._toggle()"
                        [disabled]="activestate()">
                        <mat-icon>expand_more</mat-icon>
                    </button>
                    <button mat-icon-button tabindex *ngIf="panel1.expanded" id="btn_less" (click)="panelH._toggle()"
                        [disabled]="activestate()">
                        <mat-icon>expand_less</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="openAddImportantLinksModal(data.Id,data)"
                        id="btn_edit" [disabled]="activestate()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn"
                        (click)=deleteImportantList(importantLinksList,data.Heading,data.Id) id="btn_delete"
                        [disabled]="activestate()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-expansion-panel-header>
            <mat-card *cdkDragPreview class="importantLinks-question-preview" style="display: flex;">
                <button mat-icon-button color="primary" class="move-cursor" cdkDragHandle>
                    <mat-icon>drag_indicator</mat-icon>
                </button>
                <div class="knock-question" style="display: flex; align-items: center;">
                    <mat-icon color="primary">{{data.IconPath}}</mat-icon> {{data.Heading}}
                </div>
                <div>
                    <button mat-icon-button tabindex *ngIf="!panel1.expanded" id="btn_expand"
                        (click)="panelH._toggle()">
                        <mat-icon>expand_more</mat-icon>
                    </button>
                    <button mat-icon-button tabindex *ngIf="panel1.expanded" id="btn_less" (click)="panelH._toggle()">
                        <mat-icon>expand_less</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)=openQuickAddKnockOutModal(data.Id,data)
                        id="btn_edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn"
                        (click)=deleteKnockoutquestion(importantLinksList,data.Question,data.Id) id="btn_delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
            <div class="question-sets-placeholder" *cdkDragPlaceholder></div>
            <div class="configure-application-text-area label-with-radio">

                <div class="impt-data">
                    <span>{{'label_Subheading'|translate}}</span> <span>:</span> <span>{{data.SubHeading}}</span>
                </div>

                <div class="impt-data">
                    <span>{{'label_description'|translate}}</span> <span>:</span> <span>{{data.Description | slice:0:150}}
                        <a href="javascript:;"
                        *ngIf="!isReadMore[i] && data.Description.length>150"
                        (click)="openAddImportantLinksModal('View',data);isReadMore[i]=false">[more...]</a>
                    </span>
                </div>

                <span> </span>

                <div class="impt-data">
                    <span>URL</span> <span>:</span> <a href="javascript:;" (click)="socialURL(data.URL)">{{data.URL}}</a>
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<button mat-fab color="primary" class="add-importantLinks-floating" (click)="openAddImportantLinksModal('Add','')"
    id="btn_Add" matTooltip="{{'label_add' | translate}} {{'label_impLink' | translate}}" matTooltipPosition="left"
    [disabled]="activestate()">
    <mat-icon>add</mat-icon>
</button>