// Entire Software : Satya Prakash Gupta : 8-June-2022 : add style for p tag : EWM-6870 EWM-7009

.document-name{
    display: flex;
    padding-bottom: 10px;
    gap: 15px;
}
.permissionHeading{
    margin-top: 5px; 
    display: block;
}
