.main-container {
    background-color: #FAFAFA;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-expire{
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 15px 15px;
  background: #ffffff;
  border-radius: 4px;
  max-width: 100%;
  .material-icons{
    font-size: 100px;
    color: #ffb300;
  }
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
}
