.kendo-template{
    height: 100%;
}
.candidate-child-source{
    display: flex;
    align-items: center;
    background: #fff;
    padding-inline: 8px;
    border-radius: 5px;
    margin-block: 2px 3px;
    width: 965px;
    .candidate-child-source-inner{
        width: 100%;
        padding-block: 8px 3px;
    }
}
