/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: group.component.scss
    @Who: Renu
    @When: 25-Nov-2020
    @Why: ROST-1538
    @What: You can add group details styles to this file, and also import other style files
*/

@import "../../../../../../mixinStyle.scss";

.col-1{
    width: 13%;
}
.col-2{
    width: 60%;
}
.col-3{
    width: 12%;
}
.col-4{
    width: 12%;
}
.col-5{
    width: 3%;
}
.list{
  display: block !important;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.32);
}
.search-results {
  height: 300px;
  overflow: auto;
}

// Entire Software : Satya Prakash : 15-Dec-2020 : List and card view : ROST-491 ROST-532 
.maxData {
    height: 70px;
}
.maxData:hover {
    height: 70px;
}
.k-toolbar{justify-content:flex-end;}
.xeople-container-listing-with-breadCrumb.mat-drawer-container{
  .component-card.mat-card{
    @media only screen and (max-width: 385px) and (min-width: 320px) {
    height: calc(100% - 54px);
    }
  }
}
.page-header.mat-card-header{
  @media only screen and (max-width: 1060px) and (min-width: 581px){
    flex-direction: column;
    height: 78px;
    padding: 5px 10px 5px 15px;
    align-items: inherit;
  }
  @media only screen and (max-width: 580px) and (min-width: 240px){
    height: 73px;
  }
}