.enter-email{
    .mat-form-field{
        margin-bottom: 5px;
    }
    .mat-raised-button{
        margin-top: 20px;
    }
}
.enter-code{
    .mat-form-field{
        margin: 10px 0px;
    }
    .mat-raised-button{
        margin-top: 20px;
    }
}
.errormessage{
    position: absolute;
    top: 71px;
    color: #f44336;
}
h1{
    margin-bottom: 50px !important;
}