/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: manage-reasons.component.scss
    @Who: Renu
    @When: 18-may-2021
    @Why: ROST-1540
    @What: You can add group details styles to this file, and also import other style files
*/


.toggle-label{
    position: relative;
    top: -2px;
    padding-right: 15px;
}