/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: organization-details.component.scss
    @Who: Satya Prakash
    @When: 25-Nov-2020
    @Why: ROST-370 ROST-427
    @What: You can add organization details styles to this file, and also import other style files
*/

@use "../../../../../colors";
@import "../../../../../mixinStyle.scss";

.col-1 {
  width: 19%;
}
.col-3 {
  width: 3%;
}
.col-4 {
  width: 17%;
}
.col-5 {
  width: 17%;
}
.col-6 {
  width: 10%;
}
.col-7 {
  width: 18%;
}
.col-8 {
  width: 16%;
}
.list{
  display: block !important;
  z-index: 9999999999;    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.32);
}
  
// Entire Software : Satya Prakash : 15-Dec-2020 : List and card view : ROST-491 ROST-532 

.xeople-container-listing-without-breadCrumb.mat-drawer-container{
  .component-card.mat-card{
    // @When: 22-03-2023 @who:Amit @why: EWM-11250 @what:add media
    @media only screen and (max-width: 1060px) and (min-width: 581px) {
      height: calc(100% - 18px);
    }
    @media only screen and (max-width: 580px) and (min-width: 320px) {
      height: calc(100% - 52px);
    }
    .list-infinite-scroll{
      height: calc(100% - 47px);
      @media only screen and (max-width: 992px) and (min-width: 320px) {
        height: calc(100% - 64px);
      }
    }
  }
}

.xeople-container-listing-without-breadCrumb.mat-drawer-container.mat-card-mode {
  .component-card.mat-card{
    @media only screen and (max-width: 1060px) and (min-width: 581px) {
      height: calc(100% - 0px);
    }
    @media only screen and (max-width: 580px) and (min-width: 320px) {
      height: calc(100% - 0px);
    }
  }
}

.card-infinite-scroll{
  height: 100%;
  overflow-x: hidden;
}

.more-Users-show{
  width: 23px;
  height: 23px;
  line-height: 23px;
}
.flex-content{
  display: flex;
  align-items: center;
}
.mat-chip-group{
  max-width: 140px;
}
.mat-card-chip-group{
  max-width: 120px;
}
.cardContent{
  .mat-card.CarMode{
    &:hover{
      transform: inherit;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      transition: inherit;
    }
    .go-corner{
      width: 100%;
      margin-bottom: 0px;
      .mat-icon-button{
        opacity: 1;
      }
    }
  }
}
.card-height{
  height: 175px;
}
.multiple-owner-sec{
  .multiple-owner{
    margin-inline-start: 1px;
    vertical-align: middle;
    .userAvtaarAndName{
      width: 24px;
      height: 24px;
      margin-inline-end: 1px;
      span,img{
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 10px;
        color: colors.$white-color;
        border: none;
        box-shadow: 0px 0px 0px 1px colors.$white-color;
      }
    }
  }
  .more-owner-show.mat-icon-button{
    width: 24px;
    height: 24px;
    line-height: 24px;
    z-index: 2;
    border: none;
    box-shadow: 0px 0px 0px 1px #ffffff;
    margin-inline-start: 0px;
  }
}

.card-view-mode{
  .mat-card{
    .card-view-list{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 10px;
      padding: 0px 8px;
      @media only screen and (min-width: 320px) and (max-width: 580px) {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
      }
      .col{
        padding: 0px;
        .CarMode{
          padding: 10px;
          border-radius: 8px;
          border-left: none;
          border-bottom-color: colors.$primary-bg-color;
          border-bottom-width: 2px;
          border-bottom-style: solid;
          box-shadow: colors.$primary-bg-color 0px 0px 0px 0.4px, colors.$primary-bg-color 0px 0px 0px 0.4px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
          .listcardContent{
            padding: 0px 15px 15px;
            overflow: hidden;
            .card-header{
              strong{
                font-size: 12px;
              }
            }
            .card-data{
              span{
                color: #767676;
              }
            }
            &:hover{
              background-color: transparent;
              box-shadow: none;
              border-left: none !important;
            }
          }
        }
      }
    }
  }
}

.alternetBG{
  .mat-card{
    transition: none;
  }
}