.position-relative{
    position: relative;
}
.infoIconStyle{
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #9a9a9a;
}

.helpHeading{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.chipError{
    font-size: 11px;
    position: relative;
    top: -20px;
}

.redColor{
    color: #cc0000 !important;
    opacity: 1 !important;
}