// @(C): Entire Software @Who: Satya Prakash Gupta @When: 23-Aug-2023 @Why: EWM-13770 EWM-13838 @What:  scss page
@import '../../../../../../../styles-var.scss';
.add-notes{
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0px;
  width: calc(100% - 40px);
  form{
    max-height: calc(100% - 82px);
    overflow: auto;
    padding: 16px;
    .checkbox-group{
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }
    .counterTxt{
      .countlabel{
        right: 0px;
      }
    }
    .endoHTMLEditer .k-editor{
      height: 260px;
    }
    .access-button{
      min-width: 35px;
      padding: 0px 5px;
      line-height: 35px;
      height: 35px;
    }
    .matAttachment{
      display: inline-block;
      width: 100%;
      margin: 10px 0px;
      .matAttachment-data{
        display: grid;
        grid: auto/ calc(50% - 82px) calc(50% - 82px) 150px;
        gap: 5px;
        .matCardAttach{
          padding: 6px;
          display: grid;
          grid: auto/calc(100% - 22px) 18px;
          gap: 5px;
          align-items: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 4px 4px;
          margin-bottom: 0px;
          .file-detail{
            display: flex;
            flex-direction: column;
            .fileSize{
              font-size: 10px;
            }
            .fileName{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .matCloseIcon{
            font-size: 16px;
            line-height: 16px;
            height: 16px;
            width: 16px;
            color:#9a9a9a;
            cursor: pointer;
            &:hover{
              color: $warn-bg;
            }
          }
        }
      }
      .moreAttach{
        height: 40.5px;
        line-height: 40.5px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
        border: 0px;
      }
    }
  }
  .drawer-footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    .mat-raised-button{
      margin-inline-start: 8px;
    }
  }
}
:host ::ng-deep{
  .add-notes{
    .mat-form-field .mat-chip-list-wrapper .mat-standard-chip{
      padding-right: 5px;
    }
  }
}