<!---
    @(C): Entire Software
    @Type: File, <html>
    @Who: Anup Singh
    @When: 23-Sep-2021
    @Why: EWM-2682 EWM 2728
    @What:  This page wil be use only for the Access Levels view Component HTML
-->

<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>


    <mat-card-header class="dashboard-mat-card-header title-and-btn" id="client-dashboard-dashboard-mat-card-header">
        <mat-card-title class="only-title">{{'label_accessLevels'|customTranslate}}</mat-card-title>
        <div class="actionButton">
            <button mat-raised-button class="buttonForDesktopMobile" tabindex="4" color="warn"
                [routerLink]="['/client/core/user-management/access-levels']" id="btnCancel">
                <mat-icon>close</mat-icon>
                <span class="buttonTxt">{{'label_cancel' |translate}}</span>
            </button>

            <!-- <button mat-raised-button class="buttonForDesktopMobile" tabindex="3" color="primary"
                (click)="onSave(this.addUserRoleForm.value,this.activestatus)" type="button" id="saveBtnId"
                [disabled]="!addUserRoleForm.valid">
                <mat-icon>check</mat-icon>
                <span class="buttonTxt">{{'label_save'|translate}}</span>
            </button> -->
        </div>
        
    </mat-card-header>

<mat-drawer-container class="xeople-container-with-one-card" autosize id="dashboard-drawer">    
<mat-card id="Access-Levels-view" class="component-card candidate-list-card mat-elevation-z2">   
    <div class="list-container">
        <div class="sticky">
            <div class="row" [ngClass]="[ viewMode === 'cardMode' ? ' pb-15 mb-0' : 'mb-10']">
                <div #gridAdd #gridAdd1 class="listCardViewButtonroup">
                    <mat-card-subtitle class="subTitle mb-0">
                        {{accessName}}
                    </mat-card-subtitle>
                </div>
            </div>
        </div>

        <form novalidate [formGroup]="addUserRoleForm" accept-charset="utf-8">
            <div [ngClass]="[ viewMode === 'listMode' ? 'listMode' : 'hide']">
                
                    <div class="kendo-table-container kendogrid-with-lock">
                        <ng-template #template let-anchor>
                            <span>{{ anchor.nativeElement.innerText }}</span>
                        </ng-template>
                        <div kendoTooltip #tooltip="kendoTooltip" showOn="none" position="bottom"
                            [tooltipTemplate]="template" (mouseover)="showTooltip($event)">
                            <kendo-grid class="access-kendo-grid" #grid [kendoGridBinding]="editData" [sortable]="false" id="overflowCustom"
                                scrollable="virtual" [reorderable]="false" [resizable]="true" [pageSize]="pagesize">

                                <kendo-grid-column width="600" [locked]="true" field="DataPermissionName"
                                    title="{{'label_dataPermission' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div class="customer-name word-wrap"><span>{{
                                                dataItem.DataPermissionName}}</span>
                                        </div>

                                    </ng-template>
                                </kendo-grid-column>




                                <kendo-grid-column width="100" [locked]="false" field="View"
                                    title="{{'label_View' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.View=='Y'" disabled>
                                        </mat-checkbox>

                                    </ng-template>
                                </kendo-grid-column>


                                <kendo-grid-column width="100" [locked]="false" field="Add"
                                    title="{{'label_add' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.Add=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>


                                <kendo-grid-column width="100" [locked]="false" field="Edit"
                                    title="{{'label_edit' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.Edit=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>


                                <kendo-grid-column width="100" [locked]="false" field="Delete"
                                    title="{{'label_delete' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.Delete=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>


                                <kendo-grid-column width="100" [locked]="false" field="Comment"
                                    title="{{'label_comment' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.Comment=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>


                                <kendo-grid-column width="140" [locked]="false" field="ExportReport"
                                    title="{{'label_exportReport' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.ExportReport=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>



                                <kendo-grid-column width="100" [locked]="false" field="Print"
                                    title="{{'label_print' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.Print=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>



                                <kendo-grid-column width="140" [locked]="false" field="SendEmail"
                                    title="{{'label_sendEmail' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.SendEmail=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>


                                <kendo-grid-column width="140" [locked]="false" field="SendSms"
                                    title="{{'label_sendSms' |translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <mat-checkbox color="primary" [checked]="dataItem.SendSms=='Y'" disabled>
                                        </mat-checkbox>
                                    </ng-template>
                                </kendo-grid-column>


                            </kendo-grid>

                        </div>

                    </div>
              

            </div>

        </form>

    </div>
</mat-card>
</mat-drawer-container>