.viewAuditlog{
    margin: 0px 5px;
}
.k-grid{
    border-color: transparent !important; 
    height: calc(100vh - 240px);
    @media only screen and (max-width: 1060px) and (min-width: 581px){        
        height: calc(100vh - 250px);
    }
    @media only screen and (max-width: 580px) and (min-width: 320px){        
        height: calc(100vh - 280px);
    }
}
.displayBlock{
    display: block;
}
.xeople-container-listing-with-breadCrumb.mat-drawer-container{
    .component-card.mat-card {
        @media only screen and (max-width: 580px) and (min-width: 320px){        
            height: calc(100% - 52px);
        }
    }
} 



