/* 
  @(C): Entire Software
  @Type: File, <html>
  @Who: Satya Prakash Gupta
  @When: 04-Aug-2021
  @Why: EWM-2240 EWM-2364
  @What:  This page will be use for the candidate summary Component scss file

*/

@import "../../../../../../mixinStyle.scss";
@import "../../../../../../styles-var.scss";

.candidate-summry.parse-resume-tab-container {
  // @When: 11-05-2023 @who:Satya Prakash Gupta @why: EWM-11775 EWM-12376 @what: add search teaxt box
  box-shadow: none;
  margin-top: 0px;
  padding-inline-end: 5px;
  padding-inline-start: 0px;
  height: calc(100vh - 225px);
  overflow-y: auto;
  margin-bottom: 0px;
  .resumeHeader.mat-card {
    display: flex;
    align-items: center;
    border: 0px;
    box-shadow: none;
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: 0px;
    border-radius: 0px;
    column-gap: 15px;
    @media screen and (min-width:240px) and (max-width: 550px){
      flex-direction: column;
      position: relative;
      padding-top: 5px;
    }
    &:hover{
      box-shadow: none;
    }
    h2{
      font-weight: 500;
      margin: 0px;
      font-size: 18px;
      white-space: nowrap;
      @media screen and (min-width:240px) and (max-width: 550px){
        width: 100%;
        text-align: left;
      }
    }
    .search-and-parsebutton{
      display: flex;
      align-items: center;
      width: 100%;
      @media screen and (min-width:240px) and (max-width: 550px){
        width: 100%;
        justify-content: flex-end;
      }
      .buttonForDesktopMobile{
        margin-top: 8px;
        line-height: 30px;
        padding: 0px 12px;
        font-size: 13px;
        @media only screen and (max-width: 770px) and (min-width: 320px){
          padding: 0px 5px;
          min-width: auto;
        }
      }
    }
  }
  .mat-card {
    margin-bottom: 30px;
    transition: 0.3s;
    overflow: hidden;
    padding: 0px;
    &:hover{
      box-shadow: 0 11px 22px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22), 0px -4px 0px $primary-bg-color inset;
      border-bottom: none;
    }
    .mat-card-header {
      position: relative;
      color: $primary-bg-color;
      height: 45px;
      align-items: center;
      padding: 0px 15px;
      &::before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: currentColor;
        opacity: 0.15;
        position: absolute;
        border-radius: 4px 4px 0px 0px;
      }
      .mat-card-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
      }
    }
    .mat-card-content {
      height: auto;
      padding: 10px 15px;
      margin: 0px;
      min-height: 100px;
      max-height: 350px;
      border-top: 0px;
      overflow: auto;
      .d-flex{
        .mat-divider{
          position: relative;
          margin-bottom: 10px;
        }
      }
      strong {
        font-weight: 500;
      }
      p {
        margin: 0px;
        word-break: break-word;
      }
      .mat-chip.mat-standard-chip {
        span.number {
          border-radius: 10px;
          padding: 3px 8px;
        }
      }
    }
  }
  .profile-with-skill{
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    column-gap: 30px;
    @media screen and (min-width: 320px) and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
    .profile-info-data{
      @extend .grid-10;
      grid: auto/ 180px calc(100% - 190px);
      margin-bottom: 10px;
      @media screen and (min-width: 365px) and (max-width: 1113px) {
        grid: auto/ 140px calc(100% - 150px);
      }
      @media screen and (min-width: 240px) and (max-width: 364px) {
        grid: auto/ 110px calc(100% - 120px);
      }
    }
    .profile-info-data.skill-info-data{
      grid: auto/ 280px calc(100% - 290px);
      @media screen and (min-width: 365px) and (max-width: 1113px) {
        grid: auto/ 240px calc(100% - 250px);
      }
      @media screen and (min-width: 240px) and (max-width: 364px) {
        grid: auto/ 210px calc(100% - 220px);
      }
    }
  }
  .employment-info-data{
    @extend .grid-10;
    grid: auto/ calc(25% - 5px) calc(75% - 5px);
    margin-bottom: 10px;
    @media screen and (min-width: 581px) and (max-width: 991px) {
      grid: auto/ calc(35% - 5px) calc(65% - 5px);
    }
    @media screen and (min-width: 320px) and (max-width: 581px) {
      grid: auto/ calc(45% - 5px) calc(55% - 5px);
    }
  }
}
