<!---------@When: 31-08-2023 @who:Amit @why: EWM-13874 @what: candidate job resume modified--------->
<div class="canidate-card" id="canidate-card">
  <div class="candidate-summry parse-resume-tab-container" id="candidate-summry">
    <mat-card class="resumeHeader mb-5" id="resumeHeader">
      <h2>{{'label_parsingResult' | translate}}</h2>
      <div class="search-and-parsebutton">
  
         <!-- who:suika,what:EWM-12373 fixed cross icon,search when:11/05/2023 -->
         <mat-form-field class="search-input searchInput mb-0" floatLabel="never">
            <input matInput id="personal-searchBox"  [(ngModel)]="textToSearch" placeholder="Search" (keyup)="highligthSearchTextVal($event)">
            <mat-icon matPrefix style="position: relative; top: 7px;" id="mat-search">search</mat-icon>
            <button  *ngIf="textToSearch" matSuffix mat-icon-button id="btnCancel"  (click)="clearSearch()">
                <mat-icon class="inputval">close</mat-icon>
            </button>
            <div *ngIf="loadingSearch" id="loadingSearch" class="k-i-loading inputSearch"></div>
        </mat-form-field>
  
   
      </div>
    </mat-card>
    <div id="scrolltop" class="scrolltop">
  
      <div class="profile-with-skill" id="profile-with-skill">
        <!------Profile------->
        <mat-card id="candidate-general-information">
          <mat-card-header>
            <mat-card-title class="inputval" id="can_profile">{{'label_can_profile' | translate}}</mat-card-title>
          </mat-card-header>
          <div class="progress-loader-box" *ngIf="generalLoader" id="generalLoader">
            <div class="progress-loader">
                <div class="loaderBar"></div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="card-fadeloader" id="profilecard-fadeloader" *ngIf="generalLoader"></div>
              <div class="profile-info-data" id="profile-info-dataname">
                <strong class="inputval">{{'label_can_profile_name' | translate}}</strong>
                <p class="inputval">{{canProfileData?.Name}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-datafamilyname">
                <strong class="inputval">{{'label_can_profile_familyname' | translate}}</strong>
                <p class="inputval">{{canProfileData?.FamilyName}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-profilegender">
                <strong class="inputval">{{'label_can_profile_gender' | translate}}</strong>
                <p class="inputval">{{canProfileData?.Gender}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-country_code">
                <strong class="inputval">{{'label_can_profile_country_code' | translate}}</strong>
                <p class="inputval">{{canProfileData?.CountryCode}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-mobile_number">
                <strong class="inputval">{{'label_can_profile_mobile_number' | translate}}</strong>
                <p class="inputval">{{canProfileData?.MobileNumber}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-home_number">
                <strong class="inputval">{{'label_can_profile_home_number' | translate}}</strong>
                <p class="inputval">{{canProfileData?.HomeNumber}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-email_address">
                <strong class="inputval">{{'label_can_profile_email_address' | translate}}</strong>
                <p class="inputval">{{canProfileData?.EmailAddress}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-mobile_city">
                <strong class="inputval">{{'label_can_profile_mobile_city' | translate}}</strong>
                <p class="inputval">{{canProfileData?.City}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-profile_region">
                <strong class="inputval">{{'label_can_profile_region' | translate}}</strong>
                <p class="inputval">{{canProfileData?.Region}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-executive_summary">
                <strong class="inputval">{{'label_can_profile_executive_summary' | translate}}</strong>
                <p class="inputval">{{canProfileData?.ExecutiveSummary}}</p>
              </div>
              <div class="profile-info-data"  id="profile-info-marrital_status">
                <strong class="inputval">{{'label_can_profile_marrital_status' | translate}}</strong>
                <p class="inputval">{{canProfileData?.MaritalStatus}}</p>
              </div>
              <div class="profile-info-data"  id="profile-info_resume_name">
                <strong class="inputval">{{'label_can_profile_resume_name' | translate}}</strong>
                <p class="inputval">{{canProfileData?.ResumeName}}</p>
              </div>
              <div class="profile-info-data"  id="profile-info-cv_parsed_by">
                <strong class="inputval">{{'label_can_profile_cv_parsed_by' | translate}}</strong>
                <p class="inputval">{{canProfileData?.CVParsedBy}}</p>
              </div>
              <div class="profile-info-data" id="profile-info-cv_parsed_on">
                <strong class="inputval">{{'label_can_profile_cv_parsed_on' | translate}}</strong>
                <p class="inputval">{{canProfileData?.cvparsedonindecimal | date:userpreferences.timeformate:userpreferences.timezone}}</p>
            
              </div>
          </mat-card-content>
        </mat-card>
        <!------Skills------->
        <mat-card id="candidate-general-information">
          <mat-card-header id="general-information-header">
            <mat-card-title class="inputval">{{'candidate_skils' | translate}}</mat-card-title>
          </mat-card-header>
          <div class="progress-loader-box" *ngIf="generalLoader">
            <div class="progress-loader">
                <div class="loaderBar"></div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="card-fadeloader" *ngIf="generalLoader"></div>
            <div class="profile-info-data skill-info-data"  *ngFor="let listDataList of candidateResumeData?.SkillDetails;let i =index">
              <strong class="inputval" id="SkillName">{{listDataList?.SkillName}}</strong>
              <p class="inputval" id="SkillProficiency">{{listDataList?.SkillProficiency}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
        <!------Education History------->
          <mat-card id="education-history">
            <mat-card-header>
              <mat-card-title class="inputval">{{'label_can_education_history' | translate}}</mat-card-title>
            </mat-card-header>
            <div class="progress-loader-box" *ngIf="generalLoader">
              <div class="progress-loader">
                  <div class="loaderBar"></div>
              </div>
            </div>
            <mat-card-content>
              <div class="card-fadeloader" *ngIf="generalLoader"></div>
              <!-- who:maneesh,what:ewm-14616 for  patch education details ,when:20/10/2023 -->
              <div *ngFor="let education of candidateResumeData?.EducationDetails">
                <div class="bachlore-degree d-flex"  id="edu-bachlore-degree"
                 *ngIf="education.DegreeType != null && education.DegreeType != '' && education.DegreeType != undefined">
                  <strong class="inputval">{{education.DegreeName}} ({{education.schoolType}})</strong>
                  <p class="mb-10">{{education.SchoolName}}</p>
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        <!------Employment History------->
          <mat-card id="employment_history">
            <mat-card-header>
              <mat-card-title class="inputval">{{'label_can_employment_history' | translate}}</mat-card-title>
            </mat-card-header>
            <div class="progress-loader-box" *ngIf="generalLoader">
              <div class="progress-loader">
                  <div class="loaderBar"></div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="card-fadeloader" *ngIf="generalLoader"></div>
              <div class="d-flex" *ngFor="let listDataList of candidateResumeData?.EmploymentHistoryDetails;let i =index">
                <div class="employment-info-data" id="can_employment_org_name">
                  <strong class="inputval">{{'label_can_employment_org_name' | translate}}</strong>
                  <p class="inputval">{{listDataList.OrganizationName}}</p>
                </div>
                <div class="employment-info-data"  id="can_employment_designation">
                  <strong class="inputval">{{'label_can_employment_designation' | translate}}</strong>
                  <p class="inputval">{{listDataList.Designation}}</p>
                </div>
                <div class="employment-info-data" id="can_employment_position_type">
                  <strong class="inputval">{{'label_can_employment_position_type' | translate}}</strong>
                  <p class="inputval">{{listDataList.PositionType}}</p>
                </div>
                <div class="employment-info-data"  id="can_employment_start_date">
                  <strong class="inputval">{{'label_can_employment_start_date' | translate}}</strong>
                  <p class="inputval">{{listDataList.StartDate}}</p>
                </div>
                <div class="employment-info-data" id="can_employment_end_date">
                  <strong class="inputval">{{'label_can_employment_end_date' | translate}}</strong>
                  <p class="inputval">{{listDataList.EndDate}}</p>
                </div>
                <div class="employment-info-data"  id="can_employment_description">
                  <strong class="inputval">{{'label_can_employment_description' | translate}}</strong>
                  <p class="inputval">{{listDataList.Description}}</p>
                </div>
                <mat-divider></mat-divider>
              </div>
            </mat-card-content>
          </mat-card>
        <!------Experience------>
          <mat-card id="experience">
            <mat-card-header>
              <mat-card-title class="inputval">{{'label_can_experience' | translate}}</mat-card-title>
            </mat-card-header>
            <div class="progress-loader-box" *ngIf="generalLoader">
              <div class="progress-loader">
                  <div class="loaderBar"></div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="card-fadeloader" *ngIf="generalLoader"></div>
              <div class="d-flex" *ngFor="let listDataList of candidateResumeData?.ExperienceDetails;let i =index">
                <div class="employment-info-data" id="can_experience_executivebrief">
                  <strong class="inputval">{{'label_can_experience_executivebrief' | translate}}</strong>
                  <p class="inputval">{{listDataList.ExecutiveBrief}}</p>
                </div>
                <div class="employment-info-data"  id="can_experience_level">
                  <strong class="inputval">{{'label_can_experience_level' | translate}}</strong>
                  <p class="inputval">{{listDataList.Level}}</p>
                </div>
                <div class="employment-info-data" id="can_experience_month_of_exp">
                  <strong class="inputval">{{'label_can_experience_month_of_exp' | translate}}</strong>
                  <p class="inputval">{{listDataList.MonthOfExperience}}</p>
                </div>
                <div class="employment-info-data" id="can_experience_year_of_exp">
                  <strong class="inputval">{{'label_can_experience_year_of_exp' | translate}}</strong>
                  <p class="inputval">{{listDataList.YearsOfExperience}}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
</div>