/* 
 @Type: File, <ts>
 @Name: editForm function
 @Who: Nitin Bhati
 @When: 16-June-2021
 @Why: ROST-1809
 @What: For setting value in the edit form
*/

.mgTop15{
    margin-top:15px
}
.align-right{
    margin-left: 20px;
    position: relative;
    top: 2px;
}
.word-wrap {
    word-wrap: break-word;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
