@import '../../../../mixinStyle.scss';
.add-manage {
  display: flex;
  align-items: center;
  .spacer {
    flex: 1 1 auto;
  }
  .ng-dropdown-panel .scroll-host {
    margin-top: -15px;
  }
}
.no-bottom {
  margin-bottom: -1.25em !important;
}
.dropdowm-barloader {
  position: absolute;
}

.rotate-loader {
  animation: rotate-animation 0.8s infinite linear;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ngselect-tag{
  .text-overflow{
    max-width: 110px; 
    display: inline-block;
    @media (min-width : 320px) and (max-width : 992px){
      max-width: 95px;
    }
    @media (min-width : 993px) and (max-width : 1250px){
      max-width: 65px;
    }
    @media (min-width : 1251px) and (max-width : 1550px){
      max-width: 70px;
    }
  }
}
