<!--
  @(C): Entire Software
  @Type: File, <ts>
  @Name: manage-activity-category.component.html
  @Who: Nitin Bhati
  @When: 10-Jan-2022
  @Why: EWM-4516
  @What: For ADD/edit client Activity category master
 -->

 <div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
 </div>

    <mat-card-header class="dashboard-mat-card-header title-and-btn" id="client-dashboard-dashboard-mat-card-header">
         <mat-card-title class="only-title" *ngIf="activestatus=='Add'">{{'label_add' |translate}} {{'label_activityCategory'|translate}}
         </mat-card-title>
         <mat-card-title class="only-title" *ngIf="activestatus=='Edit'">{{'label_edit' |translate}} {{'label_activityCategory'|translate}}
         </mat-card-title>
         <div class="actionButton">
             <button mat-raised-button color="warn" tabindex="8" [routerLink]="['../']" [queryParams]="{V:viewMode}"
                 id="btnCancel" class="buttonForDesktopMobile">
                 <mat-icon>close</mat-icon>
                 <span class="buttonTxt">{{'label_cancel' |translate}}</span>
             </button>
             <button mat-raised-button tabindex="7" class="buttonForDesktopMobile" color="primary"
                 (click)="onSave(this.addForm.value,this.activestatus)" type="button" id="btnSave" [disabled]="!addForm.valid"
                 *ngIf="!visibilityStatus">
                 <mat-icon>check</mat-icon>
                 <span class="buttonTxt">{{'label_save'|translate}}</span>
             </button>
         </div>
     </mat-card-header>
     
<mat-drawer-container class="xeople-container-with-one-card" autosize id="dashboard-drawer">
<mat-card class="component-card mat-elevation-z2" id="component-card">
    <div class="row addEditSec">
        <ng-template #template let-anchor>
            <span>{{ anchor.nativeElement.innerText }}</span>
        </ng-template>
        <form novalidate [formGroup]="addForm"
        accept-charset="utf-8" enctype='multipart/form-data' class="col l12 m12 s12" id="activitycategory-form">
        <div class="row mb-0">
            <div class="col l8 m12 s12">
                <div class="row mb-0">
                <div class="col l6 m6 s12 ">
                    <div class="ng-slectBox">
                        <ng-select placeholder="{{'label_customer_type'|translate}}" [clearable]="true" class="show-required" (click)="changeCategory()"
                            tabindex="1" formControlName="UserType" id="activitycategory-usertType" [multiple]="typeStatus" required>
                            <!-- commented by Adarsh singh 21-10-2022 duplicate jobs are showing on create activty category -->
                            <!-- <ng-option  value="JOB">Job</ng-option> -->
                            <ng-option *ngFor="let list of userTypeList" value="{{list.CodeInternal}}">
                                {{list.PublicName}}</ng-option>
                        </ng-select>
                            <mat-error
                            *ngIf="addForm.controls['UserType'].hasError('required') && addForm.controls['UserType'].touched">
                            {{'label_customer_type'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                    </div>
                </div>
                </div>

                <div class="row mb-0">
                <mat-form-field class="col l6 m6 s12">
                    <mat-label>{{'label_activityCategory'|translate}}</mat-label>
                    <input type="hidden" formControlName="Id" id="Id">
                    <input matInput formControlName="ActivityCategory" tabindex="2" id="activitycategory-Name"
                        placeholder="{{'label_activityCategory'|translate}}" required
                        (blur)="duplicayCheck(addForm.controls['ActivityCategory'].value)">
                    <mat-error *ngIf="addForm.controls['ActivityCategory'].hasError('required')">
                        {{'label_activityCategory'|translate}} {{'label_errorreqired'|translate}}
                    </mat-error>
                    <mat-error *ngIf="addForm.controls['ActivityCategory'].hasError('codeTaken')">
                        {{'label_activityCategory'|translate}} {{'label_errorreqiredAlready'|translate}}
                    </mat-error>
                    <mat-error *ngIf="addForm.controls['ActivityCategory'].hasError('minlength')&&!addForm.controls['ActivityCategory'].hasError('whitespace')">
                        {{'label_activityCategory'|translate}} {{'label_errorreqiredMinlength'|translate}}
                    </mat-error>
                    <mat-error *ngIf="addForm.controls['ActivityCategory'].hasError('maxlength')&&!addForm.controls['ActivityCategory'].hasError('whitespace')">
                        {{'label_activityCategory'|translate}} {{'label_errormaxlength50'|translate}}
                    </mat-error>
      <!--  @Who: maneesh, @When: 21-dec-2022,@Why: EWM-9959 addnoWhitespaceValidator -->

                    <mat-error *ngIf="addForm.controls['ActivityCategory'].hasError('whitespace') && !addForm.controls['ActivityCategory'].hasError('required')">
                        {{'label_activityCategory' |translate}} {{'label_nameValidation' |translate}}
                      </mat-error>
                    </mat-form-field>
            </div>
            <div class="row mb-0">
                <div class="col l6 m6 s12 ">
                    <div class="ng-slectBox">
                        <ng-select placeholder="{{'label_categoryIcon'|translate}}" [clearable]="true"
                            tabindex="3" formControlName="CategoryIcon" id="activity-iconname" required class="categoryIcon show-required">
                            <!-- <ng-option  value="" disabled>{{'label_categoryIcon'|translate}}</ng-option> -->
                            <ng-option *ngFor="let list of iconData?.iconList" value="{{list}}">
                                <mat-icon>{{list}}</mat-icon>  {{list}}</ng-option>
                        </ng-select>
                            <mat-error
                            *ngIf="addForm.controls['CategoryIcon'].hasError('required') && addForm.controls['CategoryIcon'].touched">
                            {{'label_categoryIcon'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="row mb-0">
                <mat-form-field class="col l6 m6 s12 colorCode">
                    <mat-label>{{'label_colorCode'|translate}}</mat-label>
                    <!-- <input matInput id="ColorCodesc" readonly [value]="defaultColorValue"> -->
                    <!-- <kendo-colorpicker class="kendo-color-picker" matSuffix [view]="'palette'" [value]="defaultColorValue"
                    (valueChange)="onChange($event)"></kendo-colorpicker> -->
                    <input matInput  formControlName="ColorCode" id="ColorCodesc" readonly>
                                        <div matSuffix class="color-picker-button" [ngStyle]="{backgroundColor:selctedColor}" (click)="showColorPallate($event)" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                                        </div>
                                        <!-- --------@When: 10-03-2023 @who:maneesh @why: EWM-11122 Desc- Custome color picker -------- -->
                                        <ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                                        [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="showColorPallateContainer"
                                        (backdropClick)="showColorPallateContainer = false">
                                            <!-- color picker body  -->
                                            <div class="color-picker-default">
                                                <input type="color" id="head" name="head" value="#e66465" (input)="onChaneColor($event)">
                                            </div>
                                            <div class="color-picker-container" [style.opacity]="isMoreColorClicked ? '0' : ' '"
                                                [style.display]="isMoreColorClicked ? 'none' : ' '">
                                                <div class="themeColor">{{'label_selectColour' | translate}}</div>
                                                <div class="picker theme-color">
                                                    <div (click)="onSelectColor(codes)" class="color-picker" *ngFor="let codes of themeColors"
                                                        [ngStyle]="{backgroundColor:codes.colorCode}"> </div>
                                                </div>
                                                <div class="picker standard-color">
                                                    <div (click)="onSelectColor(codes)" class="color-picker" *ngFor="let codes of standardColor"
                                                        [ngStyle]="{backgroundColor:codes.colorCode}">
                                                    </div>
                                                </div>
                                                
                                                <div class="footer">
                                                    <div class="noFill" (click)="onSelectColor(null)">
                                                        <mat-icon>clear</mat-icon>
                                                        <div class="noFillText">{{'label_clear'| translate}}</div>
                                                    </div>
                                                    <div class="more" (click)="closeTemplate()">
                                                        <label for="head" class="noFill">
                                                            <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
                                                            <span>{{'labelMore'| translate}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                            </div>
                
                                            <!-- color picker body End-->
                                        </ng-template>
                             
                </mat-form-field>
            </div>
            <!-- <div class="row mb-0">
                <div class="col l6 m6 s12">
                    <mat-label class="toggle-label"><strong>{{'label_industryHideExternally'
                            |translate}}:</strong>
                    </mat-label>
                    <mat-slide-toggle formControlName="HideExternally" id="activity_hideExternallyId" tabindex="5"
                        color="primary" id="HideExternallyId">
                    </mat-slide-toggle>
                </div>
            </div> -->

<!-- who:maneesh,what:ewm-12799 for new cr so that add new field IsCall IsInterview,when:22/05/2023 -->
                  <div class="row mb-0">
                    <div class="col l6 m6 s11">
                        <mat-slide-toggle class="mb-10 p-0" formControlName="HideExternally" id="dumentCategory-HideExternally" tabindex="4"
                             color="primary">
                            {{'label_hideexternally' |translate}}
                        </mat-slide-toggle>
                        <div class="clear"></div>
                        <mat-slide-toggle class="mb-10 p-0" formControlName="IsCall" id="dumentCategory-ExpiryDate" tabindex="5"
                             color="primary">
                            {{'label_call' |translate}}
                        </mat-slide-toggle>
                        <div class="clear"></div>
                        <mat-slide-toggle class="mb-10 p-0" formControlName="IsInterview" id="IsInterview" tabindex="6"
                             color="primary">
                            {{'jobdetails_interview' |translate}}
                        </mat-slide-toggle>
                    </div>
                </div>
<!-- who:maneesh,what:ewm-12279 for new cr so that add new field IsCall IsInterview,when:22/05/2023 -->
            <div class="row mb-0">
                    <div class="col l6 m6 s12 ">
                        <div class="ng-slectBox">
                            <!-----@suika@EWM-10681 EWM-10818  @03-03-2023 to set default values for status in master data---->
                            <ng-select placeholder="{{'label_status'|translate}}" [clearable]="false" class="show-required"
                                tabindex="6" formControlName="Status" id="activitycategory-status" required>
                                <!-- <ng-option  value="" disabled>{{'label_status'|translate}}</ng-option> -->
                                <ng-option *ngFor="let list of statusList" value="{{list.StatusId}}">
                                    {{list.StatusName}}</ng-option>
                            </ng-select>
                            <mat-error
                                *ngIf="addForm.controls['Status'].hasError('required') && addForm.controls['Status'].touched">
                                {{'label_status'|translate}} {{'label_errorreqired'|translate}}
                            </mat-error>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </form>
    </div>
 </mat-card>
</mat-drawer-container>