<!---
    @(C): Entire Software
    @Type: File, <html>
    @Who:  Adarsh singh
    @When: 23-06-22
    @Why: EWM-3088 EWM-3181
    @What: This page is creted for show google maps
-->

<!---
    @(C): Entire Software
    @Type: File, <html>
    @Who:  Amit Rajput
    @When: 01-07-2022
    @Why: EWM-7363 EWM-7499
    @What: html structure change
-->

<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>

<div id="lat-long-distance" class="latLongDistance" applyTabIndexes>

    <div class="modal-header" id="modal-header">
        <h2 matDialogTitle class="mb-0">{{'label_Distance'|translate}}</h2>      
        <button mat-icon-button  id="btncloseinfo" (click)="onDismiss()" color="warn" class="material-icons closeModal">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content id="google-dialog-content" class="map-mat-card mb-0">
        <mat-form-field>
            <input matInput tabindex [value]="jobAddress" id="lat-long-distance-jobAddress" placeholder="{{'label_JobLocation'|translate}}" disabled>
        </mat-form-field>
       
        <div class="mb-0 distanceIcon">
            <mat-icon> import_export</mat-icon>
        </div>
        <mat-form-field>
            <input matInput [value]="canAddress" id="lat-long-distance-canAddress" placeholder="{{'label_CandidateLocation'|translate}}" disabled>
        </mat-form-field>

        <!---------@suika @EWM-12405 add distance field ----->
        <mat-form-field>
            <input matInput tabindex [value]="distance" id="lat-long-distance" placeholder="{{'label_Distance'|translate}}" disabled>
        </mat-form-field>
        <div class="mb-0 distanceTotal">
            <a href="{{fullUrl}}" target="_blank">
                <div id="lat-long-distance-totalDistance">
                    <label class="distanceTotalLbl">Get Direction in Map</label>
                </div>
            </a>
        </div>
        <div class="googleMaps">
        <agm-map class="agm-map" [latitude]="lat" [longitude]="lng">
            <agm-direction 
                [origin]="origin" 
                [destination]="destination">
            </agm-direction>
            </agm-map>
        </div>
    </mat-dialog-content>
</div>
