
/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: candidate-dpendent.component.scss
    @Who: Suika
    @When: 01-Aug-2021
    @Why: ROST-2428
    @What: You can add candidate emergency contact details styles to this file, and also import other style files
*/
.quick-dialog-candidateAdd-education{
    .mat-dialog-content{
        min-height: 370px;
    }
    .select-matPrefix-icon{
        top: 8px;
        position: relative;
        width: 1.215em; 
    }
    .matPrefix-icon{
        top: 8px;
        position: relative;
        width: 1.215em;
    }
    .matSuffix-icon{
        position: relative;
        bottom: 3px;
        font-size: 12px;
        padding: 3px 10px;
        line-height: 25px;
        height: 30px;
        min-width: 35px;
    }
    .mat-form-field-should-float{
        .matPrefix-icon{
            top: 8px;
        }
    }
}

.toggle-label{
    position: relative;
    top: -2px;
    padding-right: 15px;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: #f44336;
   opacity: 1;
 }


::ng-deep {
 .icon-withchip .mat-form-field-label-wrapper .mat-form-field-label {
    top: 1.28125em;
    left: 0px;
  }
}

.counterTxt{
    position: relative;
  .countlabel{
    margin-top: 0px;
    text-align: right;
    color: #fe7000;
    font-size: 80%;
    position: absolute;
    bottom: 5px;
    right: 0px;
  }
}