/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: job-interview.component.scss
    @Who: Satya Prakash Gupta
    @When: 08-Jul-2023
    @Why: EWM-11778 EWM-13056
    @What: You can add style for job activity to this file, and also import other style files
*/
.job-activity-table-container {
  .k-grid {
    height: 350px;
    min-width: 600px;
  }
}