
/* 
    @(C): Entire Software
    @Type: File, <css>
    @Who: Amit Rajput
    @When: 14-Jun-2023
    @What: job activity list show
*/

@import "../../../../EWM.core/client/client-notes/client-notes.component.scss";
@import "../../../../../../styles-var.scss";

.job-detail-container.job-activity-container{
    overflow: hidden;
    .notes-details-sec{
        height: 100%;
        .mat-drawer-content{
            padding: 10px;
            box-sizing: border-box;
            height: 100%;
            .flex-box{
                .notes-info{
                    .mat-divider{
                        left: 0px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.modal-header.job-modal-header{
    span{
        font-size: 14px;
        cursor: pointer;
        a{
            color: $primary-bg-color;
            text-decoration: underline;
        }
    }
}