<!--
  @(C): Entire Software
  @Type: File, <ts>
  @Name: subindustry.component.html
  @Who: Suika
  @When: 14-May-2021
  @Why: ROST-1506
  @What: For Groups in status- master
 -->

<div *ngIf="loading" class="logo-loader" id="logo-loader">
  <div class="logo-loading"></div>
</div>

<mat-card-header class="page-header" id="sub-industry-mat-card-header">
    <mat-card-title>
        <button mat-mini-fab class="mainAddButton"
        matTooltip="{{'label_add'|translate}} {{'label_subHeadSubIndustrypMaster'|translate}}" 
        matTooltipClass="custom-tooltip" color="primary" id="btnAdd" [routerLink]="['../manage-sub-industry']"
        [queryParams]="{viewModeData:viewMode}" *appHasPermission="['Add']"
        (mouseenter)="mouseoverAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)">
          <mat-icon id="{{animationVar?.CreateButton?.id}}"
          class="{{animationVar?.CreateButton?.isAnimClass}}">add</mat-icon>
      </button>
      <div class="sub-title">
      <span>{{'label_subHeadSubIndustrypMaster' |translate}}</span><br>
      <app-breadcrumb [pageLabel]="pageLabel" class="bread-crumb"></app-breadcrumb>
    </div>
     
    </mat-card-title>

    <div class="header-action-button" id="sub-industry-actionButton" *ngIf="formtitle=='grid'">

        <div class="header-form">
            <mat-form-field class="searchInput" floatLabel="never">
                <mat-label>{{'label_search'|translate}}</mat-label>
                <input matInput id="status-searchBox" (input)="onFilter($event.target.value)"
                    placeholder="Search" [(ngModel)]="searchVal">
                <mat-icon matPrefix style="position: relative; top: 7px;">search</mat-icon>
                <button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" id="btnClearFilterId" (click)="onFilterClear()"
                (click)="searchVal=''">
                <mat-icon>close</mat-icon>
              </button>
                <div *ngIf="loadingSearch" class="k-i-loading inputSearch"></div>
            </mat-form-field>
        </div>
    
        <div class="group-header-button">
    
        <!-- @When: 19-04-2023 @who:Amit @why: EWM-11974 @what: button change to anchor tag -->    
        <a mat-raised-button class="header-button" *ngIf="formtitle=='grid'" id="user-invitation-btnViewAudit"
            [routerLink]="['/client/core/system-settings/system-audit-log/',auditParameter]"
            matTooltip="{{'label_View'|translate}} {{'label_auditlog'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before">
            <mat-icon class="animate__animated animate__flash animate__repeat-3 animate__delay-2s">visibility</mat-icon>
        </a>
    
         <button mat-raised-button class="header-button" (click)="refreshComponent()" id="btnRefresh"
         matTooltip="{{'label_refreshBtn'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
         (mouseenter)="mouseoverAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)"
              (mouseleave)="mouseleaveAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)">
         <mat-icon id="{{animationVar?.BarRotateButton?.id}}" class="{{animationVar?.BarRotateButton?.isAnimClass}}">
            {{animationVar?.BarRotateButton?.iconName}}
         </mat-icon>
        </button>
    
          <button *ngIf="isCardMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']" class="header-button"
            (click)="switchListMode('listMode')" id="subindustry-viewcardInactive"
            matTooltip="{{'label_listView'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
            (mouseenter)="mouseoverAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)"
            (mouseleave)="mouseleaveAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)">
            <span class="material-icons" id="{{animationVar?.ListButton?.id}}"
              class="{{animationVar?.ListButton?.isAnimClass}}">
              {{animationVar?.ListButton?.iconName}}
            </span>
          </button>
    
          <button *ngIf="isListMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']" class="header-button"
            (click)="switchListMode('cardMode')" id="subindustry-viewcardActive"
            matTooltip="{{'label_gridViews'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
            (mouseenter)="mouseoverAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)"
            (mouseleave)="mouseleaveAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)">
            <span class="material-icons" id="{{animationVar?.GridButton?.id}}"
              class="{{animationVar?.GridButton?.isAnimClass}}">
              {{animationVar?.GridButton?.iconName}} 
            </span>
          </button>
    
        </div>
    </div>

  </mat-card-header>

<mat-drawer-container class="xeople-container-listing-with-breadCrumb" autosize id="sub-industry-drawer">
<mat-card id="subindustry-card" class="component-card mat-elevation-z2">
    <div class="list-container" infinite-scroll [infiniteScrollDistance]="pageOption" [infiniteScrollThrottle]="pageSize"
        (scrolled)="onScrollDown()" [scrollWindow]="false">
        <div class="row mb-0 sticky" *ngIf="formtitle=='grid'"
            [ngClass]="[ viewMode === 'cardMode' ? ' ' : 'sticky-width']">
            <div class="row mb-0 listHeader" id="listHeader" [class.hide]="isvisible">
                 <!------Action column header ---->
                <div class="col col-9 listActionBox">
                    <strong>&nbsp;</strong>
                </div>
                <!------code column header ---->
                <div class="col col-1" (click)="onSort('Code')">
                    <button mat-button [disableRipple]="true" id="btnCode">
                        <strong>{{'label_industryCode'|translate}}</strong>
                        <mat-icon *ngIf="sortedcolumnName === 'Code' && sortDirection === 'asc'">{{ascIcon}}</mat-icon>
                        <mat-icon *ngIf="sortedcolumnName === 'Code' && sortDirection === 'desc'">{{descIcon}}
                        </mat-icon>
                    </button>
                </div>

                <!------description column header ---->
              <!-- who:maneesh,what:ewm-13209 for change label ,when:21/07/2023 -->
                <div class="col col-2" (click)="onSort('Description')">
                    <button mat-button [disableRipple]="true"
                        id="btnDescription"><strong>{{'label_subindustry' |translate}} {{'label_description' |translate}}
                        </strong>
                        <mat-icon *ngIf="sortedcolumnName === 'Description' && sortDirection === 'asc'">{{ascIcon}}
                        </mat-icon>
                        <mat-icon *ngIf="sortedcolumnName === 'Description' && sortDirection === 'desc'">{{descIcon}}
                        </mat-icon>
                    </button>
                </div>

                <!------IsbuiltIn column header ---->

                <div class="col col-7" (click)="onSort('IsBuiltIn')">
                    <button mat-button [disableRipple]="true"
                        id="btnIsBuiltIn"><strong>{{'label_industryIsBuiltIn'|translate}}
                        </strong>
                        <mat-icon *ngIf="sortedcolumnName === 'IsBuiltIn' && sortDirection === 'asc'">{{ascIcon}}
                        </mat-icon>
                        <mat-icon *ngIf="sortedcolumnName === 'IsBuiltIn' && sortDirection === 'desc'">{{descIcon}}
                        </mat-icon>
                    </button>

                </div>


                <!------display sequence column header ---->
                <div class="col col-4 right-align" (click)="onSort('Order')">
                    <button mat-button [disableRipple]="true"
                        id="btnOrder"><strong>{{'label_displaySequence'|translate}}
                        </strong>
                        <mat-icon *ngIf="sortedcolumnName === 'Order' && sortDirection === 'asc'">{{ascIcon}}
                        </mat-icon>
                        <mat-icon *ngIf="sortedcolumnName === 'Order' && sortDirection === 'desc'">{{descIcon}}
                        </mat-icon>
                    </button>
                </div>




                <!------HideExternally column header ---->

                <div class="col col-6" (click)="onSort('HideExternally')">
                    <button mat-button [disableRipple]="true"
                        id="btnHideExternally"><strong>{{'label_industryHideExternally'|translate}}
                        </strong>
                        <mat-icon *ngIf="sortedcolumnName === 'HideExternally' && sortDirection === 'asc'">{{ascIcon}}
                        </mat-icon>
                        <mat-icon *ngIf="sortedcolumnName === 'HideExternally' && sortDirection === 'desc'">{{descIcon}}
                        </mat-icon>
                    </button>
                </div>



                <!------status column header ---->

                <div class="col col-8" (click)="onSort('StatusName')">
                    <button mat-button [disableRipple]="true" id="btnStatus"><strong>{{'label_status'|translate}}
                        </strong>
                        <mat-icon *ngIf="sortedcolumnName === 'StatusName' && sortDirection === 'asc'">{{ascIcon}}
                        </mat-icon>
                        <mat-icon *ngIf="sortedcolumnName === 'StatusName' && sortDirection === 'desc'">{{descIcon}}
                        </mat-icon>
                    </button>

                </div>

               
            </div>
        </div>
        <!-----header table start ---->
        <!---------@When: 01-06-20223 @who:Amit @why: EWM-12700 @what: card listing scroll add--------->
        <div class="listCardView" id="listCardView"
            [ngClass]="[ viewMode === 'cardMode' ? 'card-infinite-scroll' : 'listcardContentMaxData']" *ngIf="formtitle=='grid'">



            <!-----header table end ---->
            <div id="contentdata" [ngClass]="[ viewMode === 'cardMode' ? 'cardContent' : 'listContent']">
                <div class="row">
                    <div *ngIf="loadingPopup" class="list"></div>
                    <div class="col nodata" *ngIf="this.gridData==undefined ||this.gridData.length==0">
                        <span>{{'label_noRecordAvailable'|translate}}</span>
                    </div>
                    <!-----grid list start ---->
                    <div class="col" [ngClass]="[ viewMode === 'cardMode' ? 'cardWidth' : 'l12 m12 s12 alternetBG']"
                        *ngFor="let industryData of gridData;let i =index" [@letterAnim4]="{value: animationState, params: { delay:delaAnimation(i)} }">

                        <mat-card [ngClass]="[ viewMode === 'cardMode' ? 'CarMode' : '']">
                            <mat-card-content class="listcardContent"
                                [ngClass]="[ viewMode === 'cardMode' ? 'cardHeight' : 'pt-0 pb-0']">

                                <!-- card mode -->
                                <div [ngClass]="[ viewMode === 'cardMode' ? '' : 'hide']">
                                    <div class="cardModeLine">
                                        <span class="spacer"></span>
                                        <span class="badge red">
                                            <strong>{{'label_industryIsBuiltIn'|translate}}</strong> :
                                            {{(industryData.IsBuiltIn=='1')?'Yes':'No'}}
                                        </span>
                                        <span class="badge red">
                                            <strong>{{'label_status'|translate}}</strong> :
                                            {{industryData.StatusName}}
                                        </span>
                                    </div>
                                    <div class="row mb-5 mt-15">
                                        <div class="col l6 m6 s12">
                                            <div class="col card-header">
                                                <strong>{{'label_industryCode'|translate}}</strong>
                                            </div>
                                            <div class="col card-data" id="code">
                                                <span class="cardListTxt word-wrap" matTooltip="{{ industryData.Code }}"
                                                    matTooltipClass="custom-tooltip">
                                                    {{ industryData.Code }}
                                                </span>

                                            </div>
                                        </div>
                                        <div class="col l6 m6 s12">
                                            <div class="col card-header">
                                                <strong>{{'label_industryDescription'|translate}}</strong>
                                            </div>
                                            <div class="col card-data"  matTooltip="{{ industryData.Description  }}"
                                            matTooltipClass="custom-tooltip">
                                                <span class="cardListTxt word-wrap">
                                                    {{industryData.Description}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5 mt-15">
                                        <div class="col l6 m6 s12">
                                            <div class="col card-header">
                                                <strong>{{'label_displaySequence'|translate}}</strong>
                                            </div>
                                            <div class="col card-data" id="displaySequence">
                                                <span class="cardListTxt word-wrap"
                                                    matTooltip="{{ industryData.Order  }}"
                                                    matTooltipClass="custom-tooltip">
                                                    {{ industryData.Order }}</span>
                                            </div>
                                        </div>
                                        <div class="col l6 m6 s12">
                                            <div class="col card-header">
                                                <strong>{{'label_industryHideExternally'|translate}}</strong>
                                            </div>
                                            <div class="col card-data" id="HideExternally">
                                                <span class="cardListTxt word-wrap"
                                                    matTooltip=" {{(industryData.HideExternally=='1')?'Yes':'No'}}"
                                                    matTooltipClass="custom-tooltip">
                                                    {{(industryData.HideExternally=='1')?'Yes':'No'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="go-corner">

                                        <!-- <button mat-icon-button color="primary"
                                            [routerLink]="['../manage-sub-industry', {id: industryData.Id}]"
                                            [queryParams]="{viewModeData:viewMode}" id="btneditButtonId"
                                            matTooltipClass="custom-tooltip" matTooltip="{{'label_edit'|translate}}">
                                            <mat-icon>edit</mat-icon>
                                        </button> -->
                                        <!-- Anchor Tag on ADD and EDIT Button with right click by Piyush Singh -->
                                        <a mat-icon-button color="primary"
                                            [routerLink]="['../manage-sub-industry']"
                                            [queryParams]="{id: industryData.Id,viewModeData:viewMode}" id="btneditButtonId"
                                            matTooltipClass="custom-tooltip" matTooltip="{{'label_edit'|translate}}" *appHasPermission="['Edit']">
                                            <mat-icon>edit</mat-icon>
                                    </a>
                                    <ng-container *ngIf="industryData.IsBuiltIn==0">
                                        <button  mat-icon-button color="warn"
                                            id="btndeleteId" (click)=confirmDialog(industryData.Id,index)
                                            matTooltipClass="custom-tooltip" matTooltip="{{'label_delete'|translate}}" *appHasPermission="['Delete']">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </ng-container>
                                        
                                    </div>
                                </div>
                                <!-- card mode  end-->



                                <!-- list data -->
                                <div class="row mb-0" [ngClass]="[ viewMode === 'cardMode' ? 'maxData hide' : '']">

                                <!------Action grid column --->
                                <div class="col"
                                [ngClass]="[ viewMode === 'cardMode' ? 'actionBox hide' : 'listActionBox customBtnWidth col-9']">

                                <button mat-flat-button [matMenuTriggerFor]="listactionMenu" class="dataActionButton">
                                    <mat-icon>more_vert</mat-icon>
                                </button>

                                <mat-menu #listactionMenu="matMenu" dir="ltr" xPosition="after" class="listactionMenu">
                                <!-- <button mat-icon-button color="primary" id="btnEdit"
                                    [routerLink]="['../manage-sub-industry', {id: industryData.Id}]"
                                    [queryParams]="{viewModeData:viewMode}" matTooltipClass="custom-tooltip"
                                    matTooltip="{{'label_edit'|translate}}">
                                    <mat-icon>edit</mat-icon>
                                </button> -->
                                <!-- Anchor Tag on ADD and EDIT Button with right click by Piyush Singh -->
                                <button mat-menu-item id="btnEdit"
                                [routerLink]="['../manage-sub-industry']"
                                [queryParams]="{id: industryData.Id,viewModeData:viewMode}" *appHasPermission="['Edit']"
                                    [disabled]="industryData.IsSys!=0">
                                    <mat-icon>edit</mat-icon>
                                    {{'label_edit'|translate}}
                            </button>
                                <button  mat-menu-item
                                [disabled]="industryData.IsBuiltIn !=0"
                                    id="btnDelete" (click)=confirmDialog(industryData.Id,index) *appHasPermission="['Delete']">
                                    <mat-icon>delete</mat-icon>
                                    {{'label_delete'|translate}}
                                </button>
                            </mat-menu>
                                
                            </div>


                                    <!------code grid column --->
                                    <div class="col cursor" id="code"
                                        [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-1']">
                                        <span class="cardListTxt word-wrap" matTooltip="{{ industryData.Code }}"
                                            matTooltipClass="custom-tooltip">
                                            {{ industryData.Code }}
                                        </span>
                                    </div>
                                    <!------description grid column --->
                                    <div class="col cursor" id="description"
                                        [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-2']">
                                        <span class="cardListTxt word-wrap" matTooltip="{{ industryData.Description  }}"
                                            matTooltipClass="custom-tooltip">
                                            {{industryData.Description}}</span>
                                    </div>
                                    <!------IsBuiltIn grid column --->
                                    <div class="col cursor" id="IsBuiltIn"
                                        [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-7']">
                                        <span class="cardListTxt word-wrap"
                                            matTooltip=" {{(industryData.IsBuiltIn=='1')?'Yes':'No'}}"
                                            matTooltipClass="custom-tooltip">
                                            {{(industryData.IsBuiltIn=='1')?'Yes':'No'}}</span>

                                    </div>
                                    <!------display sequence grid column --->
                                    <div class="col cursor" id="displaySequence"
                                        [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-4  right-align']">
                                        <span class="cardListTxt word-wrap" matTooltip="{{ industryData.Order  }}"
                                            matTooltipClass="custom-tooltip">
                                            {{ industryData.Order }}</span>

                                    </div>

                                    <!------HideExternally grid column --->
                                    <div class="col cursor" id="HideExternally"
                                        [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-6']">


                                        <span class="cardListTxt word-wrap"
                                            matTooltip=" {{(industryData.HideExternally=='1')?'Yes':'No'}}"
                                            matTooltipClass="custom-tooltip">
                                            {{(industryData.HideExternally=='1')?'Yes':'No'}}</span>

                                    </div>



                                    <!------Status grid column --->
                                    <div class="col cursor" id="status"
                                        [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-8']">
                                        <span class="cardListTxt word-wrap" matTooltip="{{industryData.StatusName}}"
                                            matTooltipClass="custom-tooltip">
                                            {{industryData.StatusName}}</span>

                                    </div>

                                    
                                </div>
                                <!-- list data -->
                            </mat-card-content>

                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="loadingscroll" class="k-i-loading scrollloading"></div>

    </div>
</mat-card>
</mat-drawer-container>