<!-- @(C): Entire Software
@Type: File, <html>
@Name: modal.component.html
@Who: Mukesh kumar Rai
@When: 10-Sep-2020
@Why: Common modal
@What: There are  HTML for modal window components -->
<span (click)="onNoClick()" tooltip="close" *ngIf="count===3" style="float: right;cursor: pointer;" 
  class="material-icons closeModal">
  close
</span>
<h2 mat-dialog-title *ngIf="count===2">{{title | translate}}
  <span (click)="onNoClick()" style="padding-top: 5px; float: right;cursor: pointer;"
    class="material-icons">
    close
  </span></h2>
<!-- Entire Software : Mukesh kumar rai : 10-Sep-2020 : Main container start here -->
<mat-dialog-content class="mat-typography modal-body" [ngClass]="{'imagepreview' : count===3}">
  <p *ngIf="count===2">
    {{content}}
  </p>
  <img *ngIf="count===3" src="{{content}}" />
</mat-dialog-content>
<!-- Entire Software : Mukesh kumar rai : 10-Sep-2020 : Main container start here -->
<!-- Entire Software : Mukesh kumar rai : 10-Sep-2020 : Footer container start here -->
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close > {{'button_close' | translate}}</button> -->
</mat-dialog-actions>
<!-- Entire Software : Mukesh kumar rai : 10-Sep-2020 : Footer container end here -->
