/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: folder.component.scss
    @Who: Renu
    @When: 18-Dec-2021
    @Why:  EWM-2861
    @What: You can add client notes details styles to this file, and also import other style files
*/

.col-1{
    width: 30%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 20%;
}

.inputSearch{
    display: block !important;
    z-index: 9999999999;
    position: absolute;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0);
    right: 20px;
    bottom: 18px;
    font-size: 26px;
  }

  .list{
    display: block !important;
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0.32);
  }
.cursorpoint{
    cursor: default;
}


