

/*
    @(C): Entire Software
    @Type: File, <html>
    @Who:  Nitin Bhati
    @When: 1 Dec 2023
    @Why: EWM-15214,EWM-15247
    @What: You can add style for bulk sms, and also import other style files
*/
@import "../../../EWM.core//job/job/job-sms/job-sms.component.scss";

::ng-deep {
    .mat-form-field .mat-chip-list-wrapper .mat-standard-chip{
        margin: 2px;
    }
}
.error{
    color: #f44336;
    font-size: 11px;
    position: relative;
    top: -17px;
    display: block;
}
