.addEditSec{
  form{
    width: 33.33%;
    @media only screen and (max-width: 600px) and (min-width: 320px) {
      width: 50%;
    }
    .input-with-info-icon{
      .infoStyle{
        right: -5px;
      }
    }
    .label-with-toggle{
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }
}
