/*
  @modified 
  @(C): Entire Software
  @Type: File, <css>
  @Name: employee-activity.component.scss
  @Who: Satya Prakash Gupta
  @When: 23-Mar-2023
  @Why:EWM-11340 EWM-11343
  @What: You can add style for Employee activity list
*/
@import "../../../../modules/EWM.core/home/my-activity/my-activity.component.scss";

.header-button{
  min-width: 36px;
  // @When: 24-04-2023 @who:Amit @why: EWM-12105 @what:space manage
  margin-inline-end: 5px;
}