/* Modified for CR:@(C): Entire Software:@Type: File, <css>:@Who: Satya Prakash Gupta:@When: 07-Apr-2022:@Why: EWM-5654 EWM-6057:@What: You can add this page styles on same file, and also import other style files*/
@import "../../../../mixinStyle.scss";
@import './../../../../styles-var.scss';
@import "../../EWM.core//client/client-notes/client-notes.component.scss";
@import "../../../modules/EWM.core/home/my-activity/my-activity.component.scss";
// @When: 20-Nov-2023 @who:Satya Prakash Gupta @why: EWM-15148 EWM-15168 @what: close label change
.close-job{
  font-weight: 700;
  display: inline-block;
  padding: 2px 10px;
  text-transform: uppercase;
  border-radius: 30px;
  font-family: 'Courier';
  mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
  color: $warn-bg;
  border: 7px double $warn-bg;
  mask-position: -20px -43px;
  font-size: 26px;
  position: absolute;
  right: 100px;
  top: calc(50% - 23px);
  z-index: 9;
  transform: rotate(350deg);
  @media only screen and (max-width: 767px) and (min-width: 240px){
    right: 50px;
  }
}
.close-job-style{
  position: relative;
  z-index: 99999 !important;
  background: $primary-bg-color;
  .mat-icon{
    color: #fff;
  }
  &::before{
    opacity: 0 !important;
  }
  &::after{
    position: inherit;
  }
}
.close-job-style.button-disabled{
  color: rgba(0, 0, 0, 0.26);
  background: rgba(0, 0, 0, 0.12);
  .mat-icon{
    color: rgba(0, 0, 0, 0.45);
  }
}
.job-detail-header{
  display: block;
  padding: 5px 5px;
  position: relative;
  height: 180px;
  transition: 0.4s ease;
  .dynmic-bg-color{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    &::before{
      content: "";
      background-color: currentColor;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0.1;
    }
  }
  .header-expand-collapse{
    width: 30px;
    height: 20px;
    line-height: 20px;
    padding: 0px;
    min-width: 40px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    border: 0px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: "";
      background-color: currentColor;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0.2;
    }
  }
  .canidate-header-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-start;
    position: relative;
    @media only screen and (max-width: 875px) and (min-width: 240px){
      align-items: flex-start;
    }
    .canidate-header-left{
      display: flex;
      gap: 20px;
      position: relative;
      @media only screen and (max-width:940px) and (min-width: 876px) {
        gap: 20px;
      }
      @media only screen and (max-width:875px) and (min-width: 240px) {
        gap: 5px;
      }
      .candidate-profile-info {
        .icon-with-detail{
          display: flex;
          align-items: center;
          max-width: 300px;
          margin-bottom: 2px;
          & > .mat-icon{
            min-width: 25px;
            font-size: 20px;
            line-height: 25px;
          }
          p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            margin: 0px;
            background-color: #fff;
            border-radius: 10px;
            padding: 2px 5px;
            font-size: 13px;
          }
          div{
            height: 25px;
            display: flex;
            align-items: center;
            background: #fff;
            border-radius: 10px;
            .more-owner-show{
              width: 23px;
              height: 23px;
              line-height: 20px;
            }
            .userAvtaarAndName{
              width: 23px;
              height: 23px;
              line-height: 23px;
              span, img{
                width: 23px;
                height: 23px;
                line-height: 23px;
                font-size: 13px;
              }
            }
          }
        }
        .tags-sec{
          max-width: 100%;
          .addTag.mat-mini-fab{
            width: 25px;
            height: 25px;
            line-height: 25px;
            padding: 0px;
            .mat-icon{
              font-size: 18px;
              height: 18px;
              width: 18px;
              line-height: 1px;
            }
          }
          .tag-list{
            display: inline-flex;
            .tag-name{
              display: inline-flex;
              align-items: center;
              padding: 0px 5px;
              max-width: 105px;
              font-size: 13px;
              .mat-icon{
                font-size: 20px;
                height: 28px;
                line-height: 28px;
              }
            }
          }
          .hiddenTagMenu{
            min-width: auto;
            width: 40px;
            padding: 0px 7px 0px 7px;
            border-radius: 25px;
            line-height: 20px;
            height: 20px;
            display: inline-flex;
            overflow: hidden;
            .mat-icon{
              line-height: 20px;
              height: 20px;
            }
          }
        }
      }
      .candidate-profile-info.collapseExpandData {
          display: none;
      }
      .job-detail-chart{
        position: relative;
        color: $primary-bg-color;
        min-width: 305px;
        display: flex;
        justify-content: center;
        z-index: 1;
        &:after{
          content: "";
          position: absolute;
          height: calc(100% - 5px);
          width: 100%;
          border-radius: 8px;
          background-color: currentColor;
          opacity: 0.10;
          left: 0px;
          top: 0px;
          z-index: -1;
        }
      }
      .sourced{
        display: flex;
        padding: 5px;
        cursor: pointer;
      }
    }
    .canidate-header-right{
      .candidate-action {
        display: flex;
        .mat-mini-fab {
          margin-bottom: 5px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          @media screen and (min-width: 320px) and (max-width: 1060px) {
            margin-bottom: 8px;
            margin-left: 0px;
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
          .mat-icon {
            width: 30px;
            height: 30px;
            line-height: 15px;
            font-size: 20px;
          }
          &:first-child{
            margin-inline-end: 3px;
          }
        }
      }
    }
  }
}
.jobdetail-card.mat-card {
  @include for-small-smartphones {
    height: calc(100% - 10px);
  }
  .jobDetailsPage{
    .candidate-data-header{
      display: flex;
      align-items: center;
      padding: 7px 0px;
      gap: 10px;
      justify-content: space-between;
      @media screen and (min-width:240px) and (max-width: 767px) {
        display: grid;
        grid: auto/100%;
      }
      .mat-raised-button{
        min-width: 36px;
        padding: 0px;
        .mat-icon{
          font-size: 20px;
          line-height: 24px;
        }
      }
      .mat-raised-button.button-disabled.blankFilter,.mat-raised-button.button-disabled.header-button{
        color: rgba(0, 0, 0, 0.26);
        background: rgba(0, 0, 0, 0.12);
      }
      .filter-refresh{
        display: flex;
        position: relative;
        flex-basis: 90px;
        button{
          margin-left: 0px;
          margin-right: 5px;
        }
        .button-disabled{
          color: rgba(0, 0, 0, 0.26);
          background: rgba(0, 0, 0, 0.12)
        }
      }
      .search-viewicon{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
        flex-basis: 100%;
        .button-with-clear{
          display: inline-flex;
          .addFilter{
            padding-left: 5px;
            padding-right: 55px;
          }
          .mat-stroked-button{
            min-width: 36px;
            padding: 0px 8px;
            .mat-icon{
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
        .list-grid-button{
          min-width: 36px;
          padding: 0px;
        }
        .active-list-grid{
          display: none;
        }
        .searchInput{
          margin: 0px;
          height: 36px;
          margin-top: -15px;
          width: 100%;
          max-width: 100%;
          min-width: 140px;
        }
      }
    }
    .quickFiltr-sidenav-content{
      padding: 0px 10px;
      .quick-filter-button{
        width: 20px;
        height: 30px;
        line-height: 30px;
        padding: 0px;
        min-width: auto;
        position: absolute;
        top: 0px;
        right: 0px;
        border: 0px;
        border-radius: 8px 0px 0px 8px;
        overflow: hidden;
        z-index: 2;
        &::before{
          content: "";
          background-color: currentColor;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          opacity: 0.4;
        }
        .mat-icon{
          font-size: 20px;
          width: 18px;
          height: 30px;
          line-height: 30px;
        }
      }
      .dynamic-filter-area{
        left: 130px;
      }
    }
  }
}
/******************for drag and drop****************/
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.candidate-box:last-child {
  border: none;
}
.candidate-list.cdk-drop-list-dragging
  .candidate-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.dragdisable{
  cursor:no-drop;
}
.cdk-drop-list-disabled{
  position: relative;
  background: rgba(245, 245, 245, 1) !important;
  cursor: default;
  cursor:no-drop;
  .drop-overlay{
    z-index: 9;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor:no-drop;
  }
  .jobcandidate-card{
    opacity: 0;
  }
}
.card-summary-candidates-header-resume{
  display:flex;
  align-items: center;
  .resume-view.resume-card-view{
    margin: 0px 5px;
    .mat-mini-fab,.mat-icon-button{
      width: 20px;
      line-height: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2), 0px 6px 4px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
      @media only screen and (max-width: 767px) and (min-width: 320px){
          margin-right: 5px !important;
      }
      .mat-icon{
        width: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        height: 20px;
        opacity: 1;
      }
      &:hover{
        .mat-icon{
          animation-name: zoomIn;
          animation-duration: 1s;
          animation-duration: var(--animate-duration);
          animation-fill-mode: both;
        }
        @keyframes zoomIn {
          0% {
            opacity: 0;
            transform: scale3d(.3,.3,.3);
          }
          50% {
            opacity: 1;
          }
        }
      }
    }
    .mat-icon-button{
      box-shadow: none;
    }
    .share{
      top: -2px;
      background: #00ACC1;
    }
    .share.mat-button-disabled{
      background: rgba(0, 0, 0, 0.12);
    }
  }
}
.my-activity{
  height: calc(100% - 0px);
  overflow: auto;
}
// header collapse layout
.header-collapse-layout{
  height: 55px;
  overflow: initial;
  padding-inline-start: 10px;
  .header-expand-collapse{
    right: 50px;
    @media only screen and (max-width: 767px) and (min-width: 320px){
      display: none;
    }
  }
  .canidate-header-container .canidate-header-left{
    gap: 5px;
    align-items: center;
    position: relative;
    @media only screen and (max-width: 400px) and (min-width: 240px){
      gap: 0px;
    }
  .logo-loader.logo-loader-candidate{
     right: 58px;
    }
    .candidate-profile-info.collapseExpandData {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 3px));
      column-gap: 5px;
      row-gap: 2px;
      align-items: center;
      height: 42px;
      @media only screen and (max-width: 767px) and (min-width: 240px){
        grid-template-columns: 1fr;
      }
      .jobdetail-header-info{
        margin-right: 0px;
        color: inherit;
        height: 20px;
        margin-bottom: 0px;
        @media only screen and (max-width: 400px) and (min-width: 240px){
          width: 155px;
          margin-right: 0px;
        }
        &::before{
          content: inherit;
        }
        &:hover{
          box-shadow: none;
        }
        .jobdetail-header-info-txt{
          grid: auto/20px calc(100% - 25px);
          .mat-icon{
            color: $primary-bg-color;
            background-color: transparent;
            font-size: 16px;
            height: 20px;
            width: 20px;
            min-width: 20px;
            line-height: 20px;
          }
          .button-disabled,.anchor-disabled{
            .mat-icon{
              color: rgba(0, 0, 0, 0.26);
            }
          }
        }
      }
      .jobdetail-header-info.collapseExpandData{
        &:nth-child(3),&:nth-child(4){
          @media only screen and (max-width: 767px) and (min-width: 240px){
            display: none;
          }
        }
      }
    }
    .job-profile-details{
      text-align: left;
      align-items: inherit;
      padding: 0px 7px;
      .userAvtaarAndName{
        height: 50px;
        display: flex;
        align-items: center;
        width: inherit;
        .medal{
          left: 13px;
        }
        span{
          width: 50px;
          height: 50px;
          line-height: 46px;
        }
        h3{
          display: block;
          font-size: 16px;
          font-weight: 500;
          margin: 0px 5px;
          color: $primary-bg-color;
        }
      }
      .medal-and-rank-name{
        margin-bottom: 0px;
      }
    }
  }
  .job-status,
  .canidate-header-container .canidate-header-left{
    .candidate-profile-info{
      .icon-with-detail.publish-and-tag-buttons-sec{
        display: none;
      }
      .candidate-action{
        grid-column-start: 2;
      }
      .jobdetail-header-info{
        display: none;
      }
      .collapseExpandData{
        display: flex;
      }
    }
    .job-status{
      .data-sync{
        span{
          max-width: 100%;
          @media (1220px <= width <= 1365px){
            max-width: 160px;
          }
          @media (1105px <= width <= 1219px){
            max-width: 60px;
          }
        }
      }
    }
  }
  .candidate-profile-info.expandData{
    display: none;
  }
  .job-status{
    .jobAge{
      .jobAgeBox{
        display: none;
      }
      .jobAgeBox.data-sync{
        display: flex;
        @media (1104px >= width) {
          display: none;
        }
      }
    }
  }
  .job-profile-details{
    .userAvtaarAndName{
      margin-bottom: 0px;
      span{
        margin-bottom: 0px;
      }
    }
    .desktop-job-status-sec{
      display: none;
    }
  }
}
.container-collapse-layout.job-detail-container{
  height: calc(100% - 55px);
  .jobdetail-card{
    .jobDetailsPage{
      .quickFiltr-container{
        .quickFiltr-sidenav-content{
          .kendo-table-container {
            .k-grid {
              // @When: 29-03-2023 @who:Amit @why: EWM-11597 @what: searchbar add height decrease
              height: calc(100vh - 414px);
              @media only screen and (max-width: 767px) and (min-width: 240px){
                height: calc(100vh - 512px);
              }
            }
          }
        }
        .logo-loader.logo-loader-candidate{
          bottom: 10px;
          right: 0px;
          top: -5px;
         }
      }
    }
  }
}
// header collapse layout
.job-profile-details {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width:875px) and (min-width: 240px) {
    padding: 0px 10px;
  }
  .medal-and-rank-name{
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: $primary-bg-color;
    .rank-circle{
      font-size: 20px;
      color: $white-color;
      display: inherit;
      text-align: center;
      text-shadow: 1px 1px 2px #000;
    }
    .medal{
      position: absolute;
      left: -8px;
      top: -3px;
      z-index: 1;
      color: $primary-bg-color;
      font-size: 20px;
      width: 23px;
      height: 23px;
      line-height: 23px;
      background:#ffffff;
      border-radius: 50px;
      text-align: center;
    }
  }
}
.jobdetail-header-info{
  display: flex;
  border: 0px solid $primary-bg-color;
  border-radius: 15px 8px 8px 15px;
  width: 250px;
  justify-content: space-between;
  margin-bottom: 6px;
  position: relative;
  color: $primary-bg-color;
  height: 25px;
  padding-right: 3px;
  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px 8px 8px 15px;
    background-color: currentColor;
    opacity: 0.10;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  &:hover:before{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.50);
  }
  &:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  &:last-child{
    margin-bottom: 0px;
  }
  .jobdetail-header-info-txt{
    display: grid;
    grid: auto/ 25px calc(100% - 30px);
    align-items: center;
    gap: 5px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    &>.mat-icon{
      color: #fff;
      font-size: 12px;
      height: 25px;
      width: 25px;
      min-width: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 20px;
      background-color: $primary-bg-color;
      cursor: inherit;
    }
    .jobAgeBoxLabel-btn{
      width: 18px;
      height: 18px;
      line-height: 18px;
      padding: 0px;
      background: transparent;
      border: none;
      .mat-icon{
        color: #fff;
        font-size: 12px;
        height: 18px;
        width: 18px;
        min-width: 18px;
        line-height: 18px;
        text-align: center;
        border-radius: 20px;
        background-color: $primary-bg-color;
      }
    }
    &>span{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $primary-bg-color;
    }
    .count{
      width: 16px;
      height: 16px;
      line-height: 16px;
      background: #f44336;
      border-radius: 50px;
      font-size: 10px;
      text-align: center;
      font-weight: 500;
      color: #fff;
    }
    // company contacts
    .company-contacts{
      display: flex;
      gap: 2px;
      .company-contacts-btn-groups{
        display: flex;
        gap: 3px;
        border-radius: 4px;
        align-items: center;
        color: $primary-bg-color;
        position: relative;
        padding: 2px 3px;
        &:before{
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 4px;
          background-color: currentColor;
          opacity: 0.18;
          left: 0px;
          top: 0px;
          // z-index: -1;
        }
        .userAvtaarAndName{
          width: 18px;
          height: 18px;
          span,img{
            width: 18px;
            height: 18px;
            font-size: 10px;
            padding: 0px;
            color: $white-color;
          }
          .tooltip-drop{
            z-index: 2;
          }
        }
        .mat-icon-button{
          margin-left: 0px;
          .mat-icon{
            font-size: 14px;
          }
        }
      }
    }
    // company contacts

    // multipler owners
    .multiple-owner-sec{
      margin-left: 4px;
      .multiple-owner{
        .userAvtaarAndName{
          width: 18px;
          height: 18px;
          span,img{
            width: 18px;
            height: 18px;
            font-size: 10px;
            padding: 0px;
            color: $white-color;
          }
        }
      }
      .mat-icon-button{
        margin-left: 0px;
        line-height: 16px;
        width: 20px;
        height: 20px;
        span{
          color: $default-text-color;
        }
      }
    }
    // multipler owners

    // tags
    .tag-list{
      display: flex;
      align-items: center;
      gap: 3px;
      .tag-name{
        max-width: 80px;
        display: flex;
        align-items: center;
        .mat-icon{
          font-size: 14px;
          width: 16px;
          height: 16px;
          line-height: 16px;
        }
      }
    }
    // tags
  }
  .group-btn{
    z-index: 2;
    display: flex;
    align-items: center;
    .mat-icon{
      opacity: 0.6;
      &:hover{
        opacity: 1;
      }
    }
  }
  .group-btn.div-disabled{
    .mat-icon{
      opacity: 0.4;
    }
  }
  .mat-icon-button{
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-left: 3px;
    .mat-icon{
      font-size: 18px;
      height: 18px;
      width: 18px;
      line-height: 18px;
    }
  }
  .mat-icon-button.button-disabled,.mat-icon-button.anchor-disabled{
    color: rgba(0, 0, 0, 0.26);
  }
  .mat-icon{
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    cursor: pointer;
  }
  .profile-name-show{
    display: flex;
    align-items: center;
    gap: 5px;
    .multiple-owner-sec{
      .multiple-owner{
        .userAvtaarAndName{
          span,img{
            &:hover{
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
.jobdetail-header-info.clientdetail-header-info{
  .jobdetail-header-info-txt{
    span{
      cursor: pointer;
    }
  }
}
.jobdetail-header-info.blue-bg{
  color: $info-color;
  .jobdetail-header-info-txt{
    span{
      color: $info-color;
    }
  }
}
.jobdetail-header-info.orange-bg{
  color: $orange-color;
  .jobdetail-header-info-txt{
    span{
      color: $orange-color;
    }
  }
}

.contact-mat-list{
  .company-contacts-btn-groups{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    span{
      max-width: 140px;
      margin-right: 2px;
    }
    .mat-icon-button{
      width: 24px;
      height: 24px;
      line-height: 24px;
      .mat-icon{
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 18px;
      }
    }
  }
}
.multilayer-workflow{
  padding: 0px 10px;
  width: 290px;
  h4{
    margin: 0px 0px;
    font-weight: 500;
    padding-right: 35px;
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 13px;
    .mat-icon-button{
      position: absolute;
      right: 0px;
      top: 1px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      .mat-icon{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
      }
    }
  }
  .tree-view-box{
    padding-top: 4px;
    .mat-tree-node{
      min-height: 30px;
      &:hover{
        background-color: transparent;
      }
    }
    .multilayer-tree-node{
      display: flex;
      align-items: center;
      .multilayer-tree-node-name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline;
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        color: #fff;
        text-shadow: 1px 1px 4px #000;
        margin: 3px 0px;
        border-radius: 4px;
        box-shadow: #d2d6de 0px 0px 0px 1px;
        position: relative;
        &:hover{
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
        .badge{
          background: #fff;
          line-height: 20px;
          margin-left: 0px;
          padding: 3px 1px;
          height: 24px;
          font-size: 12px;
          max-width: 45px;
          min-width: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          border-radius: 4px;
          box-shadow: 0px 2px 4px 0px #958686 inset;
          position: absolute;
          right: 6px;
          top: 3px;
          color: $primary-bg-color;
          text-shadow: none;
          &::after{
            position: absolute;
            content: "";
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: currentColor;
            opacity: 0.15;
          }
          &:hover{
            box-shadow: 0px 0px 8px 0px #958686 inset;
            box-shadow: 0px -2px 4px 0px #958686 inset;
            &::after{
              position: absolute;
              content: "";
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
              background-color: #fff;
            }
          }
        }
      }
      .mat-icon-button {
        line-height: 30px;
        height: 30px;
        width: 30px;
        .mat-icon{
          font-size: 20px;
          line-height: 30px;
          height: 30px;
          width: 30px;
        }
      }
    }
    ul{
      padding-inline-start: 10px;
    }
    .node-child-and-subchild{
      .child-and-subchild{
        width: 219px;
        padding-inline-start: 5px;
        border-left: 5px solid #2196f3;
        .mat-icon{
          position: absolute;
          right: 36px;
          top: 3px;
        }
      }
      .parent{
        width: 200px;
      }
    }
    .node-parent{
      .child-and-subchild{
        width: 214px;
        border-left: 5px solid #4caf50;
      }
      .parent{
        width: 224px;
        border-left: 5px solid #2196f3;
        padding-inline-start: 5px;
        .mat-icon{
          position: absolute;
          right: 36px;
          top: 3px;
        }
      }
    }
    ul .node-parent{
      .child-and-subchild{
        width: 204px;
        border-left: 5px solid #ffc107;
      }
      .parent{
        width: 214px;
        border-left: 5px solid #4caf50;
      }
    }
    /*---Tree view node---*/
    .example-tree-invisible {
      display: none;
    }
    .multilayer-tree ul,
    .multilayer-tree li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      font-size: 12px;
    }
    /* silly UX, they want a border in the full width of the tree between tree nodes */
    .multilayer-tree {
      position: relative;
    }
  }
}
.progress-loader-box {
  z-index: 2;
}
.myActivityContainer{
  .home-create-activity.mat-card{
    height: 100%;
  }
}
.copyMessage.email-hide{
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  .alert-green {
    color: #7fb734;
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    padding: 5px;
    height: 12px;
    line-height: 15px;
    .mat-icon{
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 16px;
    }
  }
}
.candidate-profile-info.expandData{
  z-index: 1;
}
.cursorLink{
  cursor: pointer;
  text-decoration: underline;
}
.d-none{
  display: none!important
}
// @When: 22-09-2023 @who:Amit @why: EWM-14386 @what: group btn skill
.group-btn-skill{
  display: flex;
  align-items: center;
  gap: 3px;
  .mat-icon-button{
    height: 20px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    width: min-content;
    min-width: 8px;
    max-width: 100%;
    padding: 0px 4px;
    font-size: 11px;
    &::after{
      @include color-bg-after;
      opacity: 0.09;
      border-radius: 3px;
    }
    .mat-icon{
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 18px;
    }
  }
  .mat-chip-list{
    .mat-chip{
      max-width: 190px;
      margin-inline-end: 0px;
      padding: 3px 6px;
      font-size: 13px;
      line-height: 13px;
      display: inline-block;
      margin-bottom: 0px;
    }
  }

}
.logo-loader.logo-loader-candidate{
  cursor: inherit;
}
.kanban-sec-main.job-details-kanban .kanban-sec .kanban .process-box .candidate-list .candidate-card-box .source-details .group-icon .mat-icon-button.red-btn.mat-button-disabled{
  opacity: .5;
  height: 50px;
}
.CandidateNameBtn.unread{
  font-weight: 700;
}
// @When: 16-Nov-2023 @who:Satya Prakash Gupta @why: EWM-14944 EWM-15158 @what: group btn skill
.menu-pin{
  display: flex;
  align-items: center;
  gap: 6px;
  .pin-unpin{
    position: relative;
    top: 1px;
    .mat-icon{
      font-size: 20px;
      transform: rotate(45deg);
      top: 4px;
      position: relative;
     cursor: pointer;
    }
    .two-icons{
      color: $warn-bg;
      .secondIcon{
        position: absolute;
        left: 6px;
        top: 2px;
      }
    }
  }
} 
.pin-unpin-button{
  display: flex;
  align-items: center;
  .pin-unpin{
    .mat-icon{
      font-size: 20px;
      transform: rotate(45deg);
      margin: 0px;
      width: 28px;
      top: 3px;
      position: relative;
    }
    .two-icons{
      .mat-icon{
        color: $warn-bg;
      }
      .secondIcon{
        position: absolute;
        left: 4px;
        top: 12px;
      }
    }
  }
}
.applicant-drawer{
  width: calc(100% - 30px);
  max-width: 1030px;
  .applicant-list-header{
    display: flex;
    justify-content: space-between;
    height: 42px;
    align-items: center;
    padding-inline-start: 10px;
    h4{
      margin: 0px;
      display: flex;
      align-items: center;
      gap: 10px;
      .title-count{
        height: auto;
        line-height: normal;
        font-weight: 400;
        font-size: 12px;
        padding: 3px 6px;
        mix-blend-mode: darken;
        text-shadow: 1px 1px 2px #000;
        box-shadow: 0px 0px 4px 4px #00000014;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: black;
      }
    }
    .quick-button{
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #c1c1c1;
      &:hover{
        color: $warn-bg;
      }
    }
  }
  .applicant-list-grid{
    position: relative;
    padding: 10px 10px;
    padding-top: 0px;
  }
}
::ng-deep {
  // @When: 04-Jul-2023 @who:Satya Prakash Gupta @why: EWM-12813 EWM-12994 @what: Added three dot in pie chart label in job detail
  .apexcharts-legend.apexcharts-align-center{
    padding: 0px 5px 0px 10px;
  }
  // @When: 21-09-2023 @who:Amit @why: EWM-14386 @what: width change
  .apexcharts-legend-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 162px;
    display: inline-block;
  }
  .candidateQuickMenu.job-details-threedot{
    .mat-button{
      .mat-icon{
        color: $primary-bg-color;
      }
      &:hover{
        .mat-icon{
          color: $primary-txt-color;
        }
      }
    }
  }
  .k-grid-header .k-header > .k-link {
    display: block;
  }
  .all-owner-list.owner-hover-list.mat-menu-panel{
    .mat-list-base .mat-list-item{
      a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        border-radius: 0px;
        text-align: left;
      }
      &:hover{
        background-color: $primary-bg-color;
        .userAvtaarAndName{
          span{
            background-color: $default-text-color;
            color: $primary-bg-color;
          }
        }
        .jobAgeBoxTimer{
          color: #fff;
        }
        a{
          color: $white-color;
        }
      }
    }
  }
  .dark-theme{
    .job-profile-details{
      .medal-and-rank-name{
        background: $dark-primary;
        .medal{
          color: $dark-primary !important;
        }
      }
    }
    .canidate-header-container{
      .jobdetail-header-info.collapseExpandData .jobdetail-header-info-txt{
        .company-contacts .company-contacts-btn-groups{
          color: $dark-primary !important;
        }
      }
    }
  }
}