/*
  modified
  @(C): Entire Software
  @Type: File, <css>
  @Name: manage-skill.component.scss
  @Who: Satya Prakash Gupta
  @When: 18-Nov-2021
  @Why: EWM-3768 EWM-3818
  @What: You can add global manage-skill.component to this file, and also import other style files
*/
.position-relative{
    position: relative;
}
.infoIconStyle{
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #9a9a9a;
}

.helpHeading{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.chipError{
    font-size: 11px;
    position: relative;
    top: -20px;
}

.redColor{
    color: #cc0000 !important;
    opacity: 1 !important;
}