/*
    @(C): Entire Software
    @Type: File, <css>
    @Name: xeople-save-filter.component.scss
    @Who: Satya Prakash Gupta
    @When: 17-Feb-2022
    @Why: EWM-9377 EWM-10168
    @What: This page will be use for the xeople save filter style
*/
.mat-dialog-content.save-filter-mat-dialog-content {
    min-height: 345px !important;
}