<!-- 
  @Type: File, <html>
  @Name: contacts-client.component.html
  @Who: Bantee Kumar
  @When: 12-Sept-2023
  @Why:EWM-13723
  @What:  This page will be use for contact client Component ts file
  -->

<!-- @When: 13-09-2023 @who:Amit @why: EWM-14068 @what: structure modified --> 
<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>

<mat-drawer-container id="contact-list-card" class="candidate-list-card">
        <mat-card-header class="page-header contact-client-header" id="contact-list-card-header">
            <div class="header-action-button" id="contact-list-actionButton">
                <div class="header-form" id="header-form">
                    <mat-form-field class="searchInput" floatLabel="never">
                        <mat-label>{{'label_search'|translate}}</mat-label>
                        <input matInput id="btnContactSearch" tabindex (input)="onFilter()" placeholder="Search"
                            [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
                        <mat-icon matPrefix style="position: relative; top: 7px;">search</mat-icon>

                        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
                            (click)="onSearchFilterClear()" (click)="searchValue=''"
                            id="contact-list-onSearchFilterClear">
                            <mat-icon>close</mat-icon>
                        </button>
                        <div *ngIf="loadingSearch" class="k-i-loading inputSearch"></div>
                    </mat-form-field>
                </div>
                <div class="contact-action-button" id="contact-list-actionButton">
                    
                    <!-- @When: 13-09-2023 @who:Amit @why: EWM-14068 @what: btn change --> 
                    <button mat-raised-button [disabled]="!selectedClients.length" tabindex="1" color="primary"
                     id="delinkbtnAddContact" class="icon-with-text-mobile" (click)="delinkContact()">
                        <mat-icon fontSet="material-icons-outlined">phonelink_off</mat-icon>
                        <span class="buttonTxt">{{ "label_delinkClient" | translate }}</span>
                    </button>
                    
                    <!-- @When: 14-09-2023 @who:Amit @why: EWM-14068 @what: color change --> 
                    <button mat-raised-button color="primary" tabindex="1" id="btnAssignAddContact"
                    (click)="openManageClientContactModal()">
                    <mat-icon fontSet="material-icons-outlined">assignment_return</mat-icon>
                    <span class="buttonTxt">{{ "label_assignContBtn" | translate }}</span>
                    </button>
                  
                </div>
            </div>
        </mat-card-header>

        
        <!-- @When: 13-09-2023 @who:Amit @why: EWM-14068 @what: structure change --> 
        <mat-card-content class="contact-client-content p-0 mb-10" id="contact-client-content">
            <!--@When: 12-10-2023 @who:Amit @why: EWM-14757 @what: add class-->
            <div class="kendo-grid-appearance without-column-popup"
                id="contact-list-clientlanding-kendo">
                <ng-template #template let-anchor>
                    <span>{{ anchor.nativeElement.innerText }}</span>
                </ng-template>
                <div kendoTooltip #tooltip="kendoTooltip" showOn="none" position="bottom"
                    [tooltipTemplate]="template" (mouseover)="showTooltip($event)">
                    <kendo-grid #grid  [sortable]="true"
                        [sort]="state.sort" [filter]="state.filter" id="overflowCustom"
                        [reorderable]="false" [resizable]="true" (dataStateChange)="dataStateChange($event)"
                        [filterable]="true" [data]="data" [selectable]="true" [pageable]="{buttonCount: 3,
                            info: true,
                            type: 'numeric',
                            pageSizes: true,
                            previousNext: true,
                            responsive: true}" [pageSize]="state.take" [skip]="state.skip"  [selectable]="selectableSettings"
                            kendoGridSelectBy="ClientId" (selectedKeysChange)="selectionChange($event)"  [(selectedKeys)]="selectedClients">
                    <kendo-grid-checkbox-column [columnMenu]="false" [showSelectAll]="true"></kendo-grid-checkbox-column>
                        <kendo-grid-column *ngFor="let column of columnsWithAction, let i = index"
                            [field]="column.Field"
                            [filter]="column?.Type?.toLowerCase()=='dropdown'?'text':column.Type|lowercase"
                            [title]="column.Title |customTranslate"
                            [width]="column.width<40?150:column.width"
                            [headerStyle]="column.Type=='Numeric' ||column.Type=='Date' || column.Field=='PhoneNumber' || column.Field=='FirstJobApplication'  || column.Field=='LastJobApplication'?{'text-align': 'right'}:''"
                            [format]="column?.Type?.toLowerCase()=='date'?dateFormatKendo:column.Format"
                            [reorderable]="column.Type=='Action'?false:true"
                            [filterable]="column.Filterable" [style]="{'padding':column?.Field?.toLowerCase()=='StatusName'.toLowerCase()?'0px':'', 'text-align':column?.Field?.toLowerCase()=='PhoneNumber'.toLowerCase()?'right':'' }">
                            <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.Field=='Email'"
                                let-rowIndex="rowIndex">
                                <div class="copy-content cursor" color="primary"
                                    id="newEmail" *ngIf="dataItem.Email">
                                    <button mat-icon-button color="primary" type="button"
                                        id="url-copy-btn__{{i}}" class="content-copy" matTooltip="{{'label_copy' | translate}} {{'label_emailAddressInput' | translate}}"
                                        matTooltipClass="custom-tooltip"
                                        (click)="copyCandidateEmailId(dataItem.Email,rowIndex);" *ngIf="dataItem.Email">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <span class="buttonTxt systemAuditEyeIcon pointer"
                                        (click)="openNewEmailModal(undefined,'',dataItem.Email)"> {{dataItem.Email}}</span>

                                    <div class="copyMessage email-hide" id="autoHide{{rowIndex}}">
                                        <div class="alert-primary alert-green">
                                            <mat-icon>check</mat-icon>
                                            <span>{{'label_emailAddressCipied'| translate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.Field=='PhoneNumber'"  class="p-0">
                                <div [hidden]= "dataItem.PhoneNumber == null || dataItem.PhoneNumber ==''">
                                    <div  matTooltip="{{'label_call' | translate}}  {{dataItem.PhoneNumber.startsWith('+')?dataItem.PhoneNumber:'+'+dataItem.PhoneNumber}} "
                                    matTooltipClass="custom-tooltip" *ngIf="dataItem.PhoneNumber != null || dataItem.PhoneNumber != undefined || dataItem.PhoneNumber != blank" class="callAction">
                                    <!--@When: 21-May-2024 @who:Amit @why: EWM-17148 @what: disabled remove-->
                                    <a href="tel:{{dataItem.PhoneNumber}}" mat-icon-button>
                                        <mat-icon   id="{{animationVar?.CallButton?.id}}"
                                    class="{{animationVar?.CallButton?.isAnimClass}}">call</mat-icon></a>
                                    {{dataItem.PhoneNumber.startsWith('+')?dataItem.PhoneNumber:'+'+dataItem.PhoneNumber}}  
                                </div>
                                </div>
                            </ng-template>
                                   <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.Field=='ClientName'" id="clientName" class="p-0">
                                    <div class="eoh-synced">
                                        <mat-icon svgIcon="tick" *ngIf="dataItem.ClientEOHId && dataItem.ClientEOHId!==null"></mat-icon>
                                        <a (click)="viewClientSummery(dataItem?.ClientId)" class="cursor" id="btnviewClient">{{dataItem?.ClientName}}</a>
                                    </div>
                                    </ng-template>
                                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.Field=='Location'" id="location" class="p-0">
                                     <span>{{dataItem?.Location}}</span>
                                    </ng-template>
                                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.Field=='Industry'" id="industrydata" class="p-0">
                                    <span>{{dataItem?.Industry}}</span>
                                    </ng-template>
                                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.Field=='ParentClientName'" id="parentclientdata" class="p-0">
                                       <span>{{dataItem?.ParentClientName}}</span>
                                    </ng-template>
                            

                            <ng-template kendoGridCellTemplate let-dataItem *ngIf="column?.Field=='StatusName'">
                                <span [style.background-color]="dataItem?.StatusColor" class="cell-color">{{dataItem?.StatusName}}</span>
                                </ng-template>
                                
                                <ng-template kendoGridFilterCellTemplate let-filter let-column="column" *ngIf="column.Type=='text'">
                                <kendo-grid-string-filter-cell [column]="column" [filter]="filter" operator="startswith">
                                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                    <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                                    <kendo-filter-neq-operator></kendo-filter-neq-operator>
                                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                    <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
                                </kendo-grid-string-filter-cell>
                                </ng-template>
                                <ng-template kendoGridFilterCellTemplate let-filter let-column="column" *ngIf="column.Type=='numeric'">
                                <kendo-grid-numeric-filter-cell    [column]="column" [filter]="filter" operator="eq">
                                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                                    <kendo-filter-neq-operator></kendo-filter-neq-operator>
                                    <kendo-filter-gt-operator></kendo-filter-gt-operator>
                                    <kendo-filter-gte-operator></kendo-filter-gte-operator>
                                    <kendo-filter-lt-operator></kendo-filter-lt-operator>
                                    <kendo-filter-lte-operator></kendo-filter-lte-operator>
                                </kendo-grid-numeric-filter-cell>
                            </ng-template>

                        </kendo-grid-column>
                        <ng-template kendoPagerTemplate let-totalPages="totalPages"
                            let-currentPage="currentPage">
                            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                            <kendo-pager-numeric-buttons [buttonCount]="3"></kendo-pager-numeric-buttons>
                            <kendo-pager-next-buttons></kendo-pager-next-buttons>

                            <kendo-pager-info></kendo-pager-info>
                            <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
                        </ng-template>
                    </kendo-grid>
                    <div *ngIf="loadingscroll"
                        class="k-i-loading scrollloading candidateLoadingScrollBg clientTitlePurpleTxt">
                    </div>
                </div>
            </div>

        </mat-card-content>


</mat-drawer-container>