<!--@When: 05-12-2023 @who:Amit @why: EWM-15314 @what: structure modified-->
<mat-drawer-container autosize class="login-container">
  <mat-drawer-content>
    <app-outer-header-new></app-outer-header-new>
    <div class="main-uri-outer" id="main-uri-expire" *ngIf="showResetMes">
      <div class="link-expire" id="link-expire-uri">
          <span class="material-icons">
            link_off
          </span>
          <h2>{{'label_urlShortInvalidLink' | translate}}</h2>
      </div>
    </div>
    <div class="main-uri-outer" id="main-uri-link" *ngIf="!showResetMes">
        <div class="inner-loader" id="inner-loader-uri">
          <img src="/assets/preLoader.gif" width="110px" />
            <p>{{'label_landingLoad' |translate}}</p>
        </div>
    </div>
  <app-outer-footer></app-outer-footer>
  </mat-drawer-content>
</mat-drawer-container>