
/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: manage-note category.component.scss
    @Who: Nitin Bhati
    @When: 09-11-2021
    @Why: EWM-4133
    @What: You can add note category details styles to this file, and also import other style files
*/


.toggle-label{
    position: relative;
    top: -2px;
}
.categoryIcon{
    .mat-icon{
        position: relative;
        top: 3px;
        height: 20px;
        font-size: 20px;
    }
}