/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: administrators.component.scss
    @Who: Satya Prakash
    @When: 25-Nov-2020
    @Why: ROST-370 ROST-427
    @What: You can add administrators component styles to this file, and also import other style files
*/
.cardListImgWord{
    width: calc(100% - 46px);
  }
  .listcardContentMaxData{
    min-width: 1002px;
  }
  .sticky-width{
    min-width: 1002px;
  }
    /* 
      @(C): Entire Software
      @Type: File, <css>
      @Name: organization-details.component.scss
      @Who: Satya Prakash
      @When: 25-Nov-2020
      @Why: ROST-370 ROST-427
      @What: You can add organization details styles to this file, and also import other style files
  */
  
  .col-1{
    width: 37%;
  }
  .col-2{
    width: 60%;
  }
  .col-3{
    width:3%;
  }
  .listContent .cardListImg{
    float: left;
  }
  .listActionBox {
    min-width: 29px !important;
  }
  
  // @media only screen and (min-width:1270px){
  //   .cardWidth{
  //       width: 33%;
  //   }
  // }
  
  // @media only screen and (min-width:1024px) and (max-width:1270px){
  //   .cardWidth{
  //       width: 50%;
  //   }
  // }
  // @media only screen and (min-width:320px) and (max-width:1024px){
  //   .cardWidth{
  //       width: 100%;
  //   }
  //   .maxData{
  //       max-height: 100%;
  //       overflow: auto;
  //   }
  // }
  
  .inputSearch{
    display: block !important;
    z-index: 9999999999;
    position: absolute;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0);
    right: 20px;
    bottom: 18px;
    font-size: 26px;
  }
  
  .list{
    display: block !important;
    z-index: 9999999999;
    
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.32);
  }
  .scrollloading{
    height:75px;
    position: relative;
    background-color: transparent;
    top: inherit;
    right: inherit;
    left: inherit;
    bottom: inherit;
  }
  .search-results {
    height: 300px;
    overflow: auto;
  }
  
  .maxData {
    height: 70px;
  }
  .maxData:hover {
    height: 70px;
  }
  .feature-box {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .imageName{
        width: 100%;
    }
  }

  // @When: 23-04-2023 @who:Amit @why: EWM-11884 @what: mat list add stye start here
  .modal-search-email-name{
    min-height: auto;
    .contactList{
      max-height: 195px;
      .mat-list-item{
        .search-data{
          justify-content: center;
        }
      }
    }
  }
  // @When: 23-04-2023 @who:Amit @why: EWM-11884 @what: mat list add stye end here

  // @When: 25-04-2023 @who:Amit @why: EWM-12108 @what: list space start here
  .modal-search-email-name{
    .contactList{
      img{
        margin-right: 0px;
        margin-inline-end: 10px;
      }
    }
  }
  // @When: 25-04-2023 @who:Amit @why: EWM-12108 @what: list space end here
  
