<!---
    @(C): Entire Software
    @Type: File, <html>
    @Name: custom-html-editor.component.html
    @Who: Anup
    @When: 06-Sep-2021
    @Why: EWM-2682 EWM-2725
    @What:  This page wil be used for common Html Editor based on given endpoint
-->

<div class="row">
    <div *ngIf="form" [formGroup]="form">
<div class="col l12 m12 s12 counterTxt">
    
<!--@who:priti;@when:23-nov-2021;@why:EWM-3853;@what: replace Translate with customTranslate -->
<mat-label>{{ _configvalue?.LabelName | customTranslate}} {{_configvalue?.IsRequired?'*':''}}</mat-label>
<!-- @When: 13-03-2023 @who:Amit @why: EWM-10776 @what: inline style remove then use class -->
<kendo-editor #editor class="mailediter custom-html-editor" [disabled]="formTypeStatus" formControlName="description" [(ngModel)]="descrpValueIn" [iframe]="false" [iframe]="false"  (valueChange)="valueChangeKendo($event)"
id="jobTemplate-description-htmlEditor">

<kendo-toolbar>
    <!-- @When: 10-03-2023 @who:Amit @why: EWM-10776 @what: controls add  -->
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorStrikethroughButton>
        </kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorSubscriptButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorSuperscriptButton>
        </kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorAlignCenterButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorAlignRightButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorAlignJustifyButton>
        </kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <kendo-toolbar-dropdownlist kendoEditorFormat></kendo-toolbar-dropdownlist>
    <kendo-toolbar-dropdownlist kendoEditorFontSize>
    </kendo-toolbar-dropdownlist>
    <kendo-toolbar-dropdownlist kendoEditorFontFamily>
    </kendo-toolbar-dropdownlist>
    <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
    <kendo-toolbar-colorpicker kendoEditorBackColor view="gradient">
    </kendo-toolbar-colorpicker>
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorInsertUnorderedListButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorInsertOrderedListButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorOutdentButton></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <!-- @When: 10-03-2023 @who:Amit @why: EWM-10776 @what: select all button hide  -->
    <!-- <kendo-toolbar-button kendoEditorSelectAllButton></kendo-toolbar-button> -->
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorUndoButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorRedoButton></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorCreateLinkButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorUnlinkButton></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <kendo-toolbar-button kendoEditorInsertFileButton></kendo-toolbar-button>
    <!-- <kendo-toolbar-button kendoEditorInsertImageButton></kendo-toolbar-button> -->
    <!-- @When: 10-03-2023 @who:Amit @why: EWM-10775 @what: source control hide  -->
    <!-- <kendo-toolbar-button kendoEditorViewSourceButton></kendo-toolbar-button> -->
    <kendo-toolbar-button kendoEditorCleanFormattingButton>
    </kendo-toolbar-button>
    <kendo-editor-insert-table-button></kendo-editor-insert-table-button>
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorAddColumnBeforeButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorAddColumnAfterButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorAddRowBeforeButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorAddRowAfterButton>
        </kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <kendo-toolbar-buttongroup>
        <kendo-toolbar-button kendoEditorDeleteColumnButton>
        </kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorDeleteRowButton></kendo-toolbar-button>
        <kendo-toolbar-button kendoEditorDeleteTableButton>
        </kendo-toolbar-button>
    </kendo-toolbar-buttongroup>
    <!-- @When: 10-03-2023 @who:Amit @why: EWM-10776 @what: print button hide  -->
    <!-- <kendo-toolbar-button kendoEditorPrintButton></kendo-toolbar-button> -->
     <!---------@When: 31-07-2023 @who:Adarsh singh @why: EWM-13233 @Desc- Added image upload button --------->
     <kendo-toolbar-button text="Upload Image" (click)="openImageUpload()" [style]="{'padding': '2px 7px', 'font-size': '12px'}"></kendo-toolbar-button>                               
     <!-- End  -->
</kendo-toolbar>

</kendo-editor>
<!--@who:priti;@when:23-nov-2021;@why:EWM-3853;@what: add if condition-->
 <span *ngIf="this._configvalue.TextLength!=undefined && this._configvalue.TextLength>0" class="countlabel" color="warn">{{'label_balance' |translate}}:{{remainingchr}} {{'label_characters' |translate}}</span> 
 </div>
</div>
</div>
