/*Entire Software : Satya Prakash Gupta : 13-June-2022 : Modal Changes : EWM-7067 EWM-7082 */
.job-rank {
    display: grid;
    grid: auto/calc(100% - 130px) 123px;
    gap: 7px;
}
// color picker button manage
.colorCode {
    .color-picker-button{
        margin-top: 0px;
        position: absolute;
        right: 0px;
        top: 4px;
    } 
}