<!---
    @(C): Entire Software
    @Type: File, <html>
    @Who: Naresh Singh
    @When: 20-Aug-2021
    @Why: EWM-2598
    @What:  This component is used for folder section in Summary page.
-->


<!-- Xeople : Satya Prakash Gupta : 20-Jul-2022 : folder html change change add new loader : EWM-7886 EWM-7891-->
<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>
  
<form applyTabIndexes>
    <div class="modal-header">
        <h2 matDialogTitle class="mb-0" *ngIf="labelAddFolders">{{'label_AddtoFolder' | translate}}</h2> 
        <h2 matDialogTitle class="mb-0" *ngIf="!labelAddFolders">{{'label_createAnewFolder' | translate}}</h2>     
        <button mat-icon-button  id="btnclosemap" (click)="onDismiss()" color="warn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-form-field class="searchInput" floatLabel="never">
            <mat-label>{{'label_search'|translate}}</mat-label>
            <input matInput tabindex id="searchBox" name="searchBox" (input)="onFilter($event.target.value)" [(ngModel)]="searchTextTag" [ngModelOptions]="{standalone: true}" >
            <mat-icon matPrefix style="position: relative; top: 7px;">search</mat-icon>
            <div *ngIf="loadingSearch" class="k-i-loading inputSearch"></div>
            <button *ngIf="searchTextTag" matSuffix mat-icon-button aria-label="Clear" (click)="onFilterClear();searchTextTag=''">
                <mat-icon>close</mat-icon>
              </button>
        </mat-form-field>
        <div class="folder-list-sec" cdkFocusInitial>
            <div class="col nodata" *ngIf="this.folderdata==undefined ||this.folderdata.length==0">
                <span>{{'label_noRecordAvailable'|translate}}</span>
            </div>
            <div class="custWidgetCols" *ngFor="let data of folderdata">
                <mat-slide-toggle class="folder-toggle" labelPosition="before"
                    [checked]="(data.IsSelected=='1')?'true':'false'"
                    (change)="selectFolderList(data.IsSelected,data.Id,data.Name)" color="primary">
                    <div class="folder-name-icon">
                        <mat-icon>folder</mat-icon> <span class="text-overflow">{{data.Name}}</span> 
                    </div>
                </mat-slide-toggle>
            </div>
        </div>
    </mat-dialog-content>
</form>