@media only screen and (max-width: 480px) and (min-width: 320px){
    .popover-remark.popmob-remark{
      .counterTxt .countlabel{
            bottom:-5px;
        }
    }
  }

  .popover-organiser{
    img{
      padding-right: 5px;
    }
  }
  .mat-dialog-actions.dialog-footer{
    .mat-stroked-button{
      padding: 0px 15px;
    }
  } 

  .smallSlideToggle-source{
    justify-content: space-between;
    .source-icon{
      background-color: rgba(0, 0, 0, 0.08);
      padding: 5px 3px;
      align-items: center;
      border-radius: 4px;
      display: inline-flex;
      position: relative;
      img{
        margin: 0px 4px;
        background-color: #fff;
        border-radius: 4px;
        padding: 2px;
        &:hover{
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
        }
      }
    }
  } 