#kendo-grid-detail-template{
    display:flex;
}

.quick-job .mat-expansion-panel-header-title{
    height: 20px;
    font-size: 14px !important;
    font-weight: 500;
}

.modal-body{
    padding-bottom: 5px;
}

.mat-expansion-panel-body{
    padding:8px 24px;
}

.closeModal{
    color:#c1c1c1;
}
.closeModal:hover{
    color:#cc0000;
}