<!---
    @(C): Entire Software
    @Type: File, <html>
    @Who: Nitin Bhati
    @When: 18-June-2021
    @Why: EWM-1787
    @What:  This page wil be use only for the Brands Component HTML
-->
<div *ngIf="loading" class="logo-loader" id="logo-loader">
  <div class="logo-loading"></div>
</div>

<mat-card-header class="page-header" id="client-dashboard-dashboard-mat-card-header">
  <mat-card-title>
      <button mat-mini-fab class="mainAddButton"
      matTooltip="{{'label_add'|translate}} {{'label_AddBrand'|translate}}" 
      matTooltipClass="custom-tooltip" color="primary" id="btnAdd" [routerLink]="['manage-brands']"
      [queryParams]="{V:viewMode}" *appHasPermission="['Add']"
      (mouseenter)="mouseoverAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)"
      (mouseleave)="mouseleaveAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)">
        <mat-icon id="{{animationVar?.CreateButton?.id}}"
        class="{{animationVar?.CreateButton?.isAnimClass}}">add</mat-icon>
    </button>
    <div class="sub-title">
    <span>{{'label_brands' |translate}}</span><br>
    <app-breadcrumb [pageLabel]="pageLabel" class="bread-crumb"></app-breadcrumb>
  </div>
   
  </mat-card-title>


  <div class="header-action-button" id="brands-actionButton" *ngIf="formtitle=='grid'">

    <div class="header-form">
      <mat-form-field class="searchInput" floatLabel="never">
        <mat-label>{{'label_search'|translate}}</mat-label>
        <input matInput id="btnSearch" (input)="onFilter($event.target.value)" placeholder="Search"
          [(ngModel)]="searchVal">
        <mat-icon matPrefix style="position: relative; top: 7px;">search</mat-icon>
        <button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="onFilterClear()" (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
        <div *ngIf="loadingSearch" class="k-i-loading inputSearch"></div>
      </mat-form-field>
    </div>

    <div class="group-header-button">

      <!-- @When: 19-04-2023 @who:Amit @why: EWM-11974 @what: button change to anchor tag -->
      <a mat-raised-button class="header-button" *ngIf="formtitle=='grid'" id="user-invitation-btnViewAudit"
        [routerLink]="['/client/core/system-settings/system-audit-log/',auditParameter]"
        matTooltip="{{'label_View'|translate}} {{'label_auditlog'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before">
        <mat-icon class="animate__animated animate__flash animate__repeat-3 animate__delay-2s">visibility</mat-icon>
      </a>

     <button mat-raised-button class="header-button" (click)="refreshComponent()" id="btnRefresh"
     matTooltip="{{'label_refreshBtn'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
     (mouseenter)="mouseoverAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)"
          (mouseleave)="mouseleaveAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)">
     <mat-icon id="{{animationVar?.BarRotateButton?.id}}" class="{{animationVar?.BarRotateButton?.isAnimClass}}">
        {{animationVar?.BarRotateButton?.iconName}}
     </mat-icon>
    </button>

      <button *ngIf="isCardMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']" class="header-button"
        (click)="switchListMode('listMode')" id="brands-viewCardInActive"
        matTooltip="{{'label_listView'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
        (mouseenter)="mouseoverAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)">
        <span class="material-icons" id="{{animationVar?.ListButton?.id}}"
          class="{{animationVar?.ListButton?.isAnimClass}}">
          {{animationVar?.ListButton?.iconName}}
        </span>
      </button>

      <button *ngIf="isListMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']" class="header-button"
        (click)="switchListMode('cardMode')" id="brands-viewCardActive"
        matTooltip="{{'label_gridViews'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
        (mouseenter)="mouseoverAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)">
        <span class="material-icons" id="{{animationVar?.GridButton?.id}}"
          class="{{animationVar?.GridButton?.isAnimClass}}">
          {{animationVar?.GridButton?.iconName}} 
        </span>
      </button>

    </div>
</div>

</mat-card-header>

<mat-drawer-container class="xeople-container-listing-with-breadCrumb" autosize id="dashboard-drawer">
<mat-card class="component-card mat-elevation-z2" id="component-card">
  <div class="list-container">
    <div class="sticky" *ngIf="formtitle=='grid'" [ngClass]="[ viewMode === 'cardMode' ? ' ' : 'sticky-width']">
       
          <!-- <button mat-raised-button class="buttonForDesktopMobile" color="primary"
            [routerLink]="['manage-brands']" [queryParams]="{V:viewMode}" id="btnSave">
            <mat-icon>add</mat-icon>
            <span class="buttonTxt">{{'label_add' |translate}}</span>
          </button> -->
          <!-- Anchor tag for edit and add button by Piyush Singh -->
          
        <!-- Refresh button by Piyush Singh -->
      
      <div class="row mb-0 listHeader" id="brands-listHeader" [class.hide]="isvisible">


        <div class="col col-3 listActionBox">
          <strong>&nbsp;</strong>
        </div>

        <div class="col col-1" (click)="onSort('Brand')">
          <button mat-button [disableRipple]="true" id="brands-Name">
            <strong>{{'label_brand'|translate}}</strong>
            <mat-icon *ngIf="sortedcolumnName === 'Brand' && sortDirection === 'asc'">{{ascIcon}}</mat-icon>
            <mat-icon *ngIf="sortedcolumnName === 'Brand' && sortDirection === 'desc'">{{descIcon}}</mat-icon>
          </button>
        </div>
        <div class="col col-2" (click)="onSort('StatusName')">
          <button mat-button [disableRipple]="true" id="brands-Status">
            <strong>{{'label_templateStatus'|translate}}</strong>
            <mat-icon *ngIf="sortedcolumnName === 'StatusName' && sortDirection === 'asc'">{{ascIcon}}</mat-icon>
            <mat-icon *ngIf="sortedcolumnName === 'StatusName' && sortDirection === 'desc'">{{descIcon}}</mat-icon>
          </button>
        </div>
     
      </div>
    </div>
    <div class="listCardView" id="listCardView" [ngClass]="[ viewMode === 'cardMode' ? 'card-infinite-scroll' : 'listcardContentMaxData list-infinite-scroll']"  infinite-scroll [infiniteScrollDistance]="pageOption" [infiniteScrollThrottle]="pagesize"
    (scrolled)="onScrollDown()" [scrollWindow]="false"
      *ngIf="formtitle=='grid'">
      <div id="contentdata" [ngClass]="[ viewMode === 'cardMode' ? 'cardContent' : 'listContent']">
        <div class="row">
          <div *ngIf="loadingPopup" class="list"></div>
          <div class="col nodata" *ngIf="this.gridView==undefined ||this.gridView.length==0">
            <span>{{'label_noRecordAvailable'|translate}}</span>
          </div>
          <div class="col" [ngClass]="[ viewMode === 'cardMode' ? 'cardWidth' : 'l12 m12 s12 alternetBG']"
            *ngFor="let listDataList of gridView;let i =index" [@letterAnim4]="{value: animationState, params: { delay:delaAnimation(i)} }">
           <mat-card [ngClass]="[ viewMode === 'cardMode' ? 'CarMode' : '']">
              <mat-card-content class="listcardContent" [ngClass]="[ viewMode === 'cardMode' ? 'cardHeight' : 'pt-0 pb-0']">
                  <!-----list data start------------>
                <div class="row mb-0" [ngClass]="[ viewMode === 'cardMode' ? 'maxData hide' : '']">


                  <div class="col" [ngClass]="[ viewMode === 'cardMode' ? 'actionBox hide' : 'listActionBox col-3']">

                  <button mat-flat-button [matMenuTriggerFor]="listactionMenu" class="dataActionButton">
                      <mat-icon>more_vert</mat-icon>
                  </button>


                  <mat-menu #listactionMenu="matMenu" dir="ltr" xPosition="after" class="listactionMenu">

                    <!-- <button mat-icon-button color="primary" [routerLink]="['manage-brands']"
                      [queryParams]="{id: listDataList.Id,V:viewMode}" id="btnEditList" >
                      <mat-icon>edit</mat-icon>
                    </button> -->
                    <!-- Anchor tag for edit and add button by Piyush Singh -->

                    <a mat-menu-item [routerLink]="['manage-brands']"
                      [queryParams]="{id: listDataList.Id,V:viewMode}" id="btnEditList"  *appHasPermission="['Edit']">
                      <mat-icon>edit</mat-icon>
                      {{'label_edit'|translate}}
                  </a>

                    <button mat-menu-item id="btnDeleteList" (click)="DeleteBrandsInfo(listDataList.Id, i)" *appHasPermission="['Delete']">
                      <mat-icon>delete</mat-icon>
                      {{'label_delete'|translate}}
                    </button>

                  </mat-menu>


                  </div>

                  <!-- <div class="col" [ngClass]="[ viewMode === 'cardMode' ? 'card-header' : 'hide']">
                    <strong>{{'label_brand'|translate}}</strong>
                  </div> -->

                  <div class="col" [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-1']">
                    <span class="cardListTxt word-wrap" matTooltip="{{ listDataList.Brand}}"
                      matTooltipClass="custom-tooltip">
                      {{listDataList.Brand}}
                    </span>
                  </div>
                  <div [ngClass]="[ viewMode === 'cardMode' ? 'clear mb-5' : '']"></div>
                  <div class="col" [ngClass]="[ viewMode === 'cardMode' ? 'card-header' : 'hide']">
                    <strong>{{'label_templateStatus'|translate}}</strong>
                  </div>
                  <div class="col cursor" [ngClass]="[ viewMode === 'cardMode' ? 'card-data' : 'col-2']">
                    <span class="cardListTxt word-wrap" matTooltip="{{listDataList.StatusName}}"
                      matTooltipClass="custom-tooltip">
                      {{listDataList.StatusName}}
                    </span>
                  </div>

                  <div [ngClass]="[ viewMode === 'cardMode' ? 'clear mb-5' : '']"></div>
                
                </div>

  <!------list data end------->
                 <!-- card mode -->
                 <div [ngClass]="[ viewMode === 'cardMode' ? '' : 'hide']">
                  <div class="cardModeLine">
                    <span class="spacer"></span>
                  
                    <span class="badge red"  >
                      <strong>{{'label_templateStatus'|translate}}</strong> : {{listDataList.StatusName}}
                    </span>
                  </div>
                  <div class="row mb-5 mt-15">
                    <div class="col l12 m12 s12">
                      <div class="col card-header">
                        <strong>{{'label_brand'|translate}}</strong>
                      </div>
                      <div class="col card-data" id="cardBrand-Name">
                        <span class="cardListTxt word-wrap"  matTooltip="{{listDataList.Brand}}"
                        matTooltipClass="custom-tooltip">
                            {{listDataList.Brand}}
                        </span>
                         </div>
                    </div>
                   
                  </div>
               
                  <div class="go-corner">
                    <!-- <button mat-icon-button color="primary" [routerLink]="['manage-brands']"
                    [queryParams]="{id: listDataList.Id,V:viewMode}" id="btnEdit">
                    <mat-icon>edit</mat-icon>
                  </button> -->
                  <!-- Anchor tag for edit and add button by Piyush Singh -->
                  <a mat-icon-button color="primary" [routerLink]="['manage-brands']"
                    [queryParams]="{id: listDataList.Id,V:viewMode}" id="btnEdit" *appHasPermission="['Edit']"
                    matTooltipClass="custom-tooltip" matTooltip="{{'label_edit'|translate}}">
                    <mat-icon>edit</mat-icon>
                </a>
                  <button mat-icon-button color="warn" id="btnDelete" (click)="DeleteBrandsInfo(listDataList.Id, i)" *appHasPermission="['Delete']"
                  matTooltipClass="custom-tooltip" matTooltip="{{'label_delete'|translate}}">
                    <mat-icon>delete</mat-icon>
                  </button>
                  </div>
                </div>
                <!-- card mode -->


              </mat-card-content>
              
            </mat-card>
          </div>
        </div>
        <div *ngIf="loadingscroll" class="k-i-loading scrollloading"></div>
      </div>
    </div>
  </div>
</mat-card>
</mat-drawer-container>