<!--
  @(C): Entire Software
  @Type: File, <ts>
  @Name: lead-workflows.component.html
  @Who: Renu
  @When: 18-Dec-2021
  @Why: ROST-18939 EWM-18965
  @What: For lead workflow
 -->


 <div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
  </div>
  
  <mat-card-header class="page-header">
    <mat-card-title>
        <button mat-mini-fab class="mainAddButton"
        matTooltip="{{'label_add'|translate}} {{'label_MenuleadWorkflow'|customTranslate}}" 
        matTooltipClass="custom-tooltip" color="primary" id="btnAdd" [routerLink]="['manage']"
        [queryParams]="{V:viewMode,mode:'A'}" *appHasPermission="['Add']"
        (mouseenter)="mouseoverAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)">
          <mat-icon id="{{animationVar?.CreateButton?.id}}"
          class="{{animationVar?.CreateButton?.isAnimClass}}">add</mat-icon>
      </button>
      <div class="sub-title">
      <span>{{'label_MenuleadWorkflow' |customTranslate}}</span><br>
      <app-breadcrumb [pageLabel]="pageLabel" class="bread-crumb"></app-breadcrumb>
    </div>
     
    </mat-card-title>
  
    <div class="header-action-button" id="client-workflow-actionButton" *ngIf="formtitle=='grid'">
  
      <div class="header-form">
        <mat-form-field class="searchInput" floatLabel="never">
          <mat-label>{{'label_search'|translate}}</mat-label>
          <input matInput id="commitment-searchBox" (input)="onFilter($event.target.value)" placeholder="Search"
            [(ngModel)]="searchVal">
          <mat-icon matPrefix style="position: relative; top: 7px;">search</mat-icon>
          <button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" id="btnClearFilterId" (click)="onFilterClear()"
          (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
          <div *ngIf="loadingSearch" class="k-i-loading inputSearch"></div>
        </mat-form-field>
      </div>
  
      <div class="group-header-button">
  
        <!-- @When: 19-04-2023 @who:Amit @why: EWM-11974 @what: button change to anchor tag -->
        <a mat-raised-button class="header-button" *ngIf="formtitle=='grid'" id="user-invitation-btnViewAudit"
          [routerLink]="['/client/core/system-settings/system-audit-log/',auditParameter]"
          matTooltip="{{'label_View'|translate}} {{'label_auditlog'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before">
          <mat-icon class="animate__animated animate__flash animate__repeat-3 animate__delay-2s">visibility</mat-icon>
        </a>
  
       <button mat-raised-button class="header-button" (click)="refreshComponent()" id="btnRefresh"
       matTooltip="{{'label_refreshBtn'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
       (mouseenter)="mouseoverAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)"
            (mouseleave)="mouseleaveAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)">
       <mat-icon id="{{animationVar?.BarRotateButton?.id}}" class="{{animationVar?.BarRotateButton?.isAnimClass}}">
          {{animationVar?.BarRotateButton?.iconName}}
       </mat-icon>
      </button>
  
        <button *ngIf="isCardMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']" class="header-button"
          (click)="switchListMode('listMode')" id="commitment-viewModeInActive"
          matTooltip="{{'label_listView'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
          (mouseenter)="mouseoverAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)"
          (mouseleave)="mouseleaveAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)">
          <span class="material-icons" id="{{animationVar?.ListButton?.id}}"
            class="{{animationVar?.ListButton?.isAnimClass}}">
            {{animationVar?.ListButton?.iconName}}
          </span>
        </button>
  
        <!-- <button *ngIf="isListMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']" class="header-button"
          (click)="switchListMode('cardMode')" id="commitment-viewModeActive"
          matTooltip="{{'label_gridViews'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
          (mouseenter)="mouseoverAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)"
          (mouseleave)="mouseleaveAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)">
          <span class="material-icons" id="{{animationVar?.GridButton?.id}}"
            class="{{animationVar?.GridButton?.isAnimClass}}">
            {{animationVar?.GridButton?.iconName}} 
          </span>
        </button> -->
  
      </div>
  </div>
  
  </mat-card-header>
  
  <mat-drawer-container class="xeople-container-listing-without-breadCrumb" autosize id="client-workflow-drawer">
    <mat-card id="client-workflow-card" class="component-card mat-elevation-z2">
        <div class="kendo-grid-appearance without-column-popup" id="lead-workflow-kendo">
          <ng-template #template let-anchor>
            <span>{{anchor.nativeElement.innerText}}</span>
            </ng-template>
          <div class="kendo-settings" kendoTooltip #tooltip="kendoTooltip" showOn="none" position="bottom" [tooltipTemplate]="template"
            (mouseover)="showTooltip($event)">
          <kendo-grid #grid [sortable]="true" [sort]="state.sort" [filter]="state.filter" id="overflowCustom"
        [reorderable]="false" [resizable]="false" (dataStateChange)="onDataStateChange($event)" [filterable]="false"
        [data]="gridView" [selectable]="true" class="page-without-dropdown" [pageable]="{buttonCount: 3,
          info: true,
          type: 'numeric',
          pageSizes: true,
          previousNext: true,
          responsive: true}" [pageSize]="state.take" [skip]="state.skip">
          <kendo-grid-column title="" width="35" class="p-0">
            <ng-template class="expanIconCol" kendoGridCellTemplate let-dataItem>
              <button mat-flat-button [matMenuTriggerFor]="listactionMenu" class="dataActionButton"
                id="employee-list-dataActionButton">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #listactionMenu="matMenu" dir="ltr" xPosition="after" class="listactionMenu">
                <button mat-menu-item id="btnView" [routerLink]="['manage']"
                [queryParams]="{id: dataItem.Id,V:viewMode,mode:'R'}">
                <mat-icon>subject</mat-icon>
                {{'label_view'|translate}}
              </button>
              
              <button mat-menu-item id="btnEditList"
              
              [routerLink]="['manage']"
                [queryParams]="{id: dataItem.Id,V:viewMode,mode:'E'}" *appHasPermission="['Edit']">
                <mat-icon>edit</mat-icon>
                {{'label_edit'|translate}}
              </button>

                  <button mat-menu-item id="btnEditList"
                  [routerLink]="['manage']"
                    [queryParams]="{id: dataItem.Id,V:viewMode,mode:'E', clone:true}" *appHasPermission="['Edit']">
                    <mat-icon>file_copy</mat-icon>
                    {{'label_clone'|translate}}
                  </button>
                  
                  <button mat-menu-item id="btnDeleteList" 
                  [disabled]="dataItem.IsSys != 0 ||  dataItem?.IsDefault === 1"
                    (click)=confirmDialog(dataItem.Id,viewMode,i) *appHasPermission="['Delete']">
                    <mat-icon>delete</mat-icon>
                    {{'label_delete'|translate}}
                  </button>
                  </mat-menu>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="WorkflowName" title="{{'label_MenuleadWorkflow' | customTranslate}}" [minResizableWidth]="170"
              [width]="170" >
              <ng-template kendoGridCellTemplate let-dataItem>
                <span> {{dataItem?.WorkflowName}}</span>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="IndustryName" title="{{'label_industry' | translate}}" [minResizableWidth]="170"
            [width]="170" >
            <ng-template kendoGridCellTemplate let-dataItem>
              <span> {{dataItem?.IndustryName}}</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="ClientType" title="{{'label_ClientType' | translate}}" [minResizableWidth]="170"
            [width]="170">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span> {{dataItem?.ClientType}}</span>
            </ng-template>
          </kendo-grid-column>
         

        <kendo-grid-column field="StatusName" title="{{'label_status' | translate}}" [minResizableWidth]="170"
          [width]="170" >
          <ng-template kendoGridCellTemplate let-dataItem>
            <span> {{dataItem?.StatusName}}</span>
          </ng-template>
        </kendo-grid-column>

     

    <kendo-grid-column  title="{{'label_default' | translate}}" [minResizableWidth]="170"
      [width]="170" >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span class="cardListTxt word-wrap smallSlideToggle">
          <mat-slide-toggle tabindex color="primary"
          [checked]="dataItem?.IsDefault === 1"
          (change)="toggleVisibility($event.checked,dataItem)">
          </mat-slide-toggle>
        </span>
      </ng-template>
      </kendo-grid-column>

  <ng-template kendoPagerTemplate let-totalPages="totalPages"
  let-currentPage="currentPage">
  <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
  <kendo-pager-numeric-buttons [buttonCount]="3"></kendo-pager-numeric-buttons>
  <kendo-pager-next-buttons></kendo-pager-next-buttons>

  <kendo-pager-info></kendo-pager-info>
  <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
  </ng-template>

          </kendo-grid>
          </div>
        </div>
    </mat-card>
  </mat-drawer-container>