/* 
    @(C): Entire Software
    @Type: File, <scss>
    @Who: Satya Prakash Gupta
    @When: 14-May-2022
    @Why:  EWM-6555 EWM-6704
    @What:  This page will be use for the add knockout question Component scss file
*/
.label-with-radio{
    @media only screen and (max-width: 470px) and (min-width: 240px){
        grid: auto/ 100%;
        display: grid;
    }
    .textarea-lavel{
        @media only screen and (max-width: 470px) and (min-width: 240px){
            margin-bottom: 5px;
        }
    }
}