<!--
  @(C): Entire Software
  @Type: File, <ts>
  @Name: Qualification.component.html
  @Who: Nitin Bhati
  @When: 23-Aug-2021
  @Why: EWM-2595
  @What: Qualification data
 -->

 <div *ngIf="loading" class="logo-loader" id="logo-loader">
  <div class="logo-loading"></div>
</div>

<mat-card-header class="page-header" id="qualification-mat-card-header">
  <mat-card-title>
    <button mat-mini-fab class="mainAddButton"
      matTooltip="{{'label_add'|translate}} {{'label_qualification'|translate}}" matTooltipClass="custom-tooltip"
      color="primary" id="btnAdd" [routerLink]="['qualification-manage']" [queryParams]="{V:viewMode}"
      *appHasPermission="['Add']"
      (mouseenter)="mouseoverAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)"
      (mouseleave)="mouseleaveAnimation(animationVar?.CreateButton?.id, animationVar?.CreateButton?.animation)">
      <mat-icon id="{{animationVar?.CreateButton?.id}}" class="{{animationVar?.CreateButton?.isAnimClass}}">add
      </mat-icon>
    </button>
    <div class="sub-title">
      <span>{{'label_qualification' |customTranslate}}</span><br>
      <app-breadcrumb [pageLabel]="pageLabel" class="bread-crumb"></app-breadcrumb>
    </div>

  </mat-card-title>
  <div class="header-action-button" id="qualification-actionButton" *ngIf="formtitle=='grid'">
    <div class="header-form">
      <mat-form-field class="searchInput" floatLabel="never">
        <mat-label>{{'label_search'|translate}}</mat-label>
        <input matInput id="qualification-searchBox" (input)="onFilter($event.target.value)" placeholder="Search"
          [(ngModel)]="searchVal">
        <mat-icon matPrefix style="position: relative; top: 7px;">search</mat-icon>
        <button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="onFilterClear()"
          (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button>
        <div *ngIf="loadingSearch" class="k-i-loading inputSearch"></div>
      </mat-form-field>
    </div>
    <div class="group-header-button">
      <!-- @When: 18-04-2023 @who:Amit @why: EWM-11974 @what: button change to anchor tag -->
      <a mat-raised-button class="header-button" *ngIf="formtitle=='grid'" id="user-invitation-btnViewAudit"
        [routerLink]="['../../system-settings/system-audit-log/',auditParameter]"
        matTooltip="{{'label_View'|translate}} {{'label_auditlog'|translate}}" matTooltipClass="card-list-tooltip"
        matTooltipPosition="before">
        <mat-icon class="animate__animated animate__flash animate__repeat-3 animate__delay-2s">visibility</mat-icon>
      </a>

      <button mat-raised-button class="header-button" (click)="refreshComponent()" id="btnRefresh"
        matTooltip="{{'label_refreshBtn'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
        (mouseenter)="mouseoverAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.BarRotateButton?.id, animationVar?.BarRotateButton?.animation)">
        <mat-icon id="{{animationVar?.BarRotateButton?.id}}" class="{{animationVar?.BarRotateButton?.isAnimClass}}">
          {{animationVar?.BarRotateButton?.iconName}}
        </mat-icon>
      </button>

      <button *ngIf="isCardMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']"
        class="header-button" (click)="switchListMode('listMode')" id="qualification-viewcardInactive"
        matTooltip="{{'label_listView'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
        (mouseenter)="mouseoverAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.ListButton?.id, animationVar?.ListButton?.animation)">
        <span class="material-icons" id="{{animationVar?.ListButton?.id}}"
          class="{{animationVar?.ListButton?.isAnimClass}}">
          {{animationVar?.ListButton?.iconName}}
        </span>
      </button>

      <button *ngIf="isListMode" mat-raised-button [ngClass]="[ viewMode === 'cardMode' ? '' : 'active']"
        class="header-button" (click)="switchListMode('cardMode')" id="qualification-viewcardActive"
        matTooltip="{{'label_gridViews'|translate}}" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
        (mouseenter)="mouseoverAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)"
        (mouseleave)="mouseleaveAnimation(animationVar?.GridButton?.id, animationVar?.GridButton?.animation)">
        <span class="material-icons" id="{{animationVar?.GridButton?.id}}"
          class="{{animationVar?.GridButton?.isAnimClass}}">
          {{animationVar?.GridButton?.iconName}}
        </span>
      </button>
    </div>

  </div>

</mat-card-header>


<mat-drawer-container class="xeople-container-listing-with-breadCrumb" autosize id="client-tag-master-drawer"
  [ngClass]="[ viewMode === 'listMode' ? 'listMode' : 'hide']">
  <mat-card class="component-card mat-elevation-z2" id="contentdata">
    <div class="joblanding-kendo  kendo-table-container locked-column-by-css">
      <ng-template #template let-anchor>
        <span>{{ anchor.nativeElement.innerText}}</span>
      </ng-template>
      <div kendoTooltip class="qualification-grid" #tooltip="kendoTooltip" showOn="none" position="bottom" [tooltipTemplate]="template"
        (mouseover)="showTooltip($event)">
        <kendo-grid [kendoGridBinding]="gridViewList" [ngStyle]="{'width': innerWidth}" [reorderable]="true"
          [sortable]="true" [sort]="sort" [scrollable]="'virtual'" [reorderable]="false" [resizable]="true"
          (sortChange)="sortChange($event)" (scrollBottom)="pageChange($event)">
          <kendo-grid-column field="" title="" [width]="40" [minResizableWidth]="40">
            <ng-template kendoGridCellTemplate let-dataItem>

              <button mat-flat-button id="dataActionBtn" (click)="overlay()" [matMenuTriggerFor]="beforegridMenu" class="dataActionButton">
                <mat-icon>
                  more_vert
                </mat-icon>
              </button>

              <mat-menu #beforegridMenu="matMenu" xPosition="{{xPosition}}"
                class="candidateQuickMenu candidate-data-dropdown listactionMenu">
                <span class="material-icons headerDroupDownUp">
                  arrow_drop_up
                </span>
        <!--   who:maneesh,what:ewm-12119 for disabled is issys==1 when:26/04/2023 -->
                <button mat-menu-item id="btnDelete" [routerLink]="['qualification-manage']"
                  [queryParams]="{Id:dataItem.Id,V:viewMode,IsEdit:true}" *appHasPermission="['Edit']"  [disabled]="dataItem.IsSys==1">
                  <mat-icon>edit</mat-icon>
                  {{'label_edit'|translate}}
                </button>
        <!--   who:maneesh,what:ewm-12119 for disabled is issys==1 when:26/04/2023 -->
                <button mat-menu-item id="btnDelete" (click)=deleteQualification(dataItem,viewMode)
                  *appHasPermission="['Delete']" [disabled]="dataItem.IsSys==1">
                  <mat-icon>delete</mat-icon>
                  {{'label_delete'|translate}}
                </button>


              </mat-menu>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="QualificationName" title="{{'label_qualification' | translate}}" [minResizableWidth]="150"
            title="Category">
          </kendo-grid-column>
          <kendo-grid-column field="IndustryName" title="{{'label_industry'|translate}}" [width]="210" [minResizableWidth]="80">
          </kendo-grid-column>
          <kendo-grid-column field="Weightage" title="{{'label_weightage' | translate}}" [width]="80" [minResizableWidth]="80">
          </kendo-grid-column>
          <kendo-grid-column field="DisplaySequence" title="{{'label_displaySequence' | translate}}" [width]="160" [minResizableWidth]="80">
          </kendo-grid-column>
          <kendo-grid-column field="StatusName" title="{{'label_status' | translate}}" [width]="80" [minResizableWidth]="80">
          </kendo-grid-column>
          <kendo-grid-column field="LastUpdated" title="{{'label_lastupdate' | translate}}" [width]="180" [minResizableWidth]="80">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.LastUpdated| date:userpreferences.timeformate:userpreferences.timezone}}
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
        <div *ngIf="loadingscroll" class="k-i-loading kendolist-loader">
        </div>
        <!-- <div *ngIf="kendoLoading" class="k-i-loading"></div> -->
      </div>
    </div>
  </mat-card>
</mat-drawer-container>
<div class="listCardView kendo-card-view kendocardData" [ngClass]="[ viewMode === 'cardMode' ? 'cardtMode' : 'hide']" infinite-scroll
  [infiniteScrollDistance]="pageOption" [infiniteScrollThrottle]="pageSize">

  <div id="contentdata" class="cardContent">
    <div class="col nodata" *ngIf="this.gridViewList==undefined ||this.gridViewList.length==0">
      <span>{{'label_noRecordAvailable'|translate}}</span>
    </div>
    <div class="row">
      <div class="col l4 m12 s12 cardWidth" *ngFor="let qualificationObj of gridViewList; let i =index"
        [@letterAnim4]="{value: animationState, params: { delay:delaAnimation(i)} }">

        <mat-card class="CarMode" id="carModeBox_{{i}}">
          <mat-card-content class="cardHeightWithImage col">

            <div class="cardModeLine">
              <span class="spacer"></span>
              <!-- <span class="badge red cursor" id="label-builtIn">
                    <strong>{{'label_industryHideExternally'|translate}}</strong> :
                    {{(qualificationObj.HideExternally=='1')?'Yes':'No'}}
                  </span> -->
              <span class="badge red cursor" id="Qualification-status">
                <strong>{{'label_status'|translate}}</strong> :
                {{qualificationObj.StatusName}}
              </span>
            </div>

            <div class="row mb-5 mt-15">
              <div class="col l6 m6 s12">
                <div class="col card-header">
                  <strong>{{'label_industry'|translate}}</strong>
                </div>
                <div class="col card-data" id="label-shortdesc" matTooltip="{{qualificationObj.IndustryName}}"
                  matTooltipClass="custom-tooltip">
                  <span class="cardListTxt word-wrap cursor">
                    {{qualificationObj.IndustryName}}
                  </span>
                </div>
              </div>

              <div class="col l6 m6 s12">
                <div class="col card-header">
                  <strong>{{'label_qualification'|translate}}</strong>
                </div>
                <div class="col card-data" id="label-shortdesc" matTooltip="{{qualificationObj.QualificationName}}"
                  matTooltipClass="custom-tooltip">
                  <span class="cardListTxt word-wrap cursor">
                    {{qualificationObj.QualificationName}}
                  </span>
                </div>
              </div>
            </div>



            <div class="row mb-5 mt-15">
              
              <div class="col l6 m6 s12">
                <div class="col card-header">
                  <strong>{{'label_weightage'|translate}}</strong>
                </div>
                <div class="col card-data" id="label-disseq">
                  <span class="cardListTxt word-wrap cursor" matTooltip="{{qualificationObj.Weightage}}"
                    matTooltipClass="custom-tooltip">
                    {{qualificationObj.Weightage}}
                  </span>
                </div>
              </div>

              <div class="col l6 m6 s12">
                <div class="col card-header">
                  <strong>{{'label_displaySequence'|translate}}</strong>
                </div>
                <div class="col card-data" id="label-disseq">
                  <span class="cardListTxt word-wrap cursor" matTooltip="{{qualificationObj.DisplaySequence}}"
                    matTooltipClass="custom-tooltip">
                    {{qualificationObj.DisplaySequence}}
                  </span>
                </div>
              </div>

            </div>

            <div class="row mb-5 mt-15">
              <!-- <div class="col l6 m6 s12">
                <div class="col card-header">
                  <strong>{{'label_industryHideExternally'|translate}}</strong>
                </div>
                <div class="col card-data" id="label-disseq">
                  <span class="cardListTxt word-wrap cursor"
                    matTooltip="{{(qualificationObj.HideExternally=='1')?'Yes':'No'}}" matTooltipClass="custom-tooltip">
                    {{(qualificationObj.HideExternally=='1')?'Yes':'No'}}
                  </span>
                </div>
              </div> -->
              <div class="col l6 m6 s12">
                <div class="col card-header">
                  <strong>{{'label_lastupdate'|translate}}</strong>
                </div>
                <div class="col card-data" id="label-disseq">
                  <span class="cardListTxt word-wrap cursor"
                    matTooltip="{{qualificationObj.LastUpdated | date:userpreferences.timeformate:userpreferences.timezone}}"
                    matTooltipClass="custom-tooltip">
                    {{qualificationObj.LastUpdated | date:userpreferences.timeformate:userpreferences.timezone}}
                  </span>
                </div>
              </div>
            </div>

            <div class="go-corner">
              <!-- <button mat-icon-button color="primary" [routerLink]="['qualification-manage']"
                    [queryParams]="{Id:qualificationObj.Id,V:viewMode}" id="btnEdit" matTooltipClass="custom-tooltip"
                    matTooltip="{{'label_edit'|translate}}">
                    <mat-icon>edit</mat-icon>
                  </button> -->
              <!-- Anchor tag for edit and add button by Piyush Singh -->
              <!-- who:maneesh,what:disable edit button when isSys ==1 ewm-12119,when:01/05/2023 -->
              <!---------@When: 14-07-2023 @who:Amit @why: EWM-13246 @what: tooltip position change--------->
              <a mat-icon-button color="primary" [routerLink]="['qualification-manage']"
                [queryParams]="{Id:qualificationObj.Id,V:viewMode}" id="btnEdit" matTooltipClass="card-list-tooltip" matTooltipPosition="before"
                matTooltip="{{'label_edit'|translate}}" *appHasPermission="['Edit']"  [disabled]="qualificationObj.IsSys==1">
                <mat-icon>edit</mat-icon>
              </a>
              <!-- who:maneesh,what:disable delete button when isSys ==1 ewm-12119,when:01/05/2023 -->
              <!---------@When: 14-07-2023 @who:Amit @why: EWM-13246 @what: tooltip position change--------->
              <button mat-icon-button color="warn" id="btnDelete" (click)=deleteQualification(qualificationObj,viewMode)
              matTooltipClass="card-list-tooltip" matTooltipPosition="before" matTooltip="{{'label_delete'|translate}}" [disabled]="qualificationObj.IsSys==1"
                *appHasPermission="['Delete']">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <!-- </div> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="loadingscroll" class="k-i-loading scrollloading"></div>
  </div>



</div>