
/* 
    @(C): Entire Software
    @Type: File, <css>
       @Name: onSave function
       @Who: maneesh
       @When: 25-Aug-2021
       @Why: EWM-8055
    @What: You can add manage client tag details styles to this file, and also import other style files
*/

.textRight{
    text-align: right;
}

.toggle-label{
    position: relative;
    top: -2px;
    padding-right: 15px;
}