
//  @Type: File, <scss>
 // @Name:create-job-and-client-popup.component.scss
 // @Who: Anup Singh
 // @When: 15-July-2021
 // @Why: EWM-2001 EWM-2070



 .completeFormBox{
    p{
        padding: 15px 0px;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 0px;
        line-height: 22px;
    }        
}



