////  Styling For Back button and Breadcum BY Anup Singh //////
.matCardTitleStyle {
  margin-bottom: 0px !important;
}
.matbtnBack {
  line-height: 25px;
  position: relative;
  top: -3px;
}

.heading {
  margin-left: 15px;
}
.breadcum {
  display: block;
  margin-top: -15px;
  margin-bottom: 3px;
  .breadcumContent {
    font-size: 12px;
    font-weight: 400;
    // min-width: unset;
    line-height: 16px;
    padding: 0px 0px 0px 0px;
  }

  .breadcumContentopen {
    font-size: 12px;
    padding: 0px;
    font-weight: 400;
    font-style: italic;
    // min-width: 45px;
    line-height: 16px;
    padding: 0px 0px 0px 0px;
    min-width: unset;
  }

  .label_breadcum {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    padding-right: 5px;
  }

  .arrowIcon {
    position: relative;
    top: 4px;
    font-size: 14px;
    height: 10px;
    width: 13px;
  }

  .threeDotStyleMobile {
    display: none;
  }
}
/*
  @media only screen and (max-width: 1150px) and (min-width: 850px) {

    .matCardTitleStyle {
      display: unset!important;
    }
    .breadcum{
      width: 98%;
      position: absolute;
      left:13px;
      top:36px;
      white-space: break-spaces;
      .line{
        display: none;
      }
      .label_breadcum{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        text-align: left;
        max-width: 500px;
      }
    }
    .mat-card .mat-divider-horizontal{
      top:65px !important
    }
  }


  @media only screen and (max-width: 850px) and (min-width: 400px) {
 .matCardTitleStyle {
      display: unset!important;
    }
    .breadcum{
      width: 98%;
      position: absolute;
      left:13px;
      top:36px;
      white-space: break-spaces;
      .line{
        display: none;
      }
      .breadcumContent{
        font-size: 10px;
      }

      .breadcumContentopen{
          font-size: 10px;
      }

      .label_breadcum{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        text-align: left;
        max-width: 350px;
      }
    }
    .mat-card .mat-divider-horizontal{
      top:65px !important
    }
   }


   @media only screen and (max-width:400px) and (min-width: 150px) {
    .matCardTitleStyle {
         display: unset!important;
       }
       .breadcum{
         display: none;
         width: 98%;
         position: absolute;
         left:13px;
         top:36px;
         white-space: break-spaces;
         .line{
           display: none;
         }
         .breadcumContent{
           font-size: 10px;
         }
   
         .breadcumContentopen{
             font-size: 10px;
         }
   
         .label_breadcum{
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           display: inline-block;
           text-align: left;
           max-width: 140px;
         }
       }
       .mat-card .mat-divider-horizontal{
         top:65px !important
       }
       
      }
      */
