/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: internationalization.component.scss
    @Who: Satya Prakash
    @When: 20-Nov-2020
    @Why: ROST-352 ROST-406
    @What: You can add internationalization.component styles to this file, and also import other style files
*/
.col .row {
    margin-left: -10px;
    margin-right: -10px;
}