/*
    @(C): Entire Software
    @Type: File, <css>
    @Who: Satya Prakash Gupta
    @When: 06-May-2024
    @Why: EWM-1693
    @What: You can add this page styles on same file, and also import other style files
*/
.email-box-header {
  padding: 0px 10px;
}
.email-container {
  .emaillist {
    width: 100%;
  }
  .email-card-view {
    width: 260px;
    @media (width <= 1024px){
      width: 0px;
    }
  }
}
.main-inbox{
  margin: 10px;
  height: calc(100% - 70px);
  @media (481px <= width <= 1060px){
    height: calc(100% - 100px);
  }
  @media (width <= 480px){
    height: calc(100% - 150px);
  }
  & > .mat-card-content {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
}