/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: maileremailverification.component.component.scss
    @Who: Satya Prakash Gupta
    @When: 28-Oct-2020
    @Why: ROST-227 ROST-260
    @What: You can add maileremailverification.component styles to this file, and also import other style files
*/