/*
 @(C): Entire Software
 @Type: File, <css>
 @Who: Anup
 @When: 01-dec-2021
 @Why:EWM-3692 EWM-3861
 @What: You can add this page styles on same file, and also import other style files
*/
.panelSidebarInformation{
  position: absolute;
  height: 100%;
}


.k-i-loading{
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}
.candidatJobMatContent{
  height: calc(100vh - 442px) !important;
  margin-top:5px !important;
}

.cardHeightWithImage{
  padding:10px;
}

.job-details-overlay-sidebar{
  z-index: 9999;
  position: fixed;
  .addJobCandidateSummarySidebar{
    position: fixed;
  }
}
//<!-- who:Bantee,why:ewm.11723 Two popup open on on click filter button ,when:10/04/2023 -->
.data-header{
  padding: 0px 10px;
  .filterButton{
    margin: 0px;
    min-width: 36px;
    padding: 0px;
    cursor: pointer;
  }
  .filterButton.addFilter{
    padding-left: 5px;
    padding-right: 55px;
  }
}

.candidate-data-header{
  .search-viewicon{
    display: flex;
  }
}
  

