//<!-- who:Bantee,why:ewm.11723 Two popup open on on click filter button ,when:10/04/2023 -->
.data-header{
  padding: 0px 10px;
  .filterButton{
    margin: 0px;
    min-width: 36px;
    padding: 0px;
    cursor: pointer;
  }
  .filterButton.addFilter{
    padding-left: 5px;
    padding-right: 55px;
  }
}

.candidate-data-header{
  .search-viewicon{
    display: flex;
  }
}