@import "../../../../../../mixinStyle.scss";

.form-group-box{
    @media only screen and (max-width: 1060px) and (min-width: 320px) {
        grid-template-columns: 1fr;
    }
}
.form-group-box.form-group-two{
    grid-template-columns: repeat(1, 66.66%);
    @media only screen and (max-width: 1060px) and (min-width: 320px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include for-small-smartphones{
        grid-template-columns: 1fr;
    }
}

.xeople-container-with-one-card.mat-drawer-container{
    .component-card.mat-card{
        padding:10px 15px;
    }
} 
