<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>
<form novalidate [formGroup]="addForm" accept-charset="utf-8" enctype='multipart/form-data' class="publish-job-form">

    <div class="publish_job pb-15">
        <div class="publish_form">
           </div>
        <div  *ngIf="PublishedOnIndeed!=0" class="mat-card-header-text" id="informationId" (click)="clickInformation()">
            <mat-icon class="infoIconStyle" >info_outline</mat-icon>
        </div>
       <div class="mat-card-header-text" id="incompleteId" *ngIf="!addForm.valid">
            {{'label_templateStatus' |customTranslate}} : <span>{{'label_incomplete' |customTranslate}}</span>
       </div>    
       <div class="mat-card-header-text status-complete" id="completeId" *ngIf="addForm.valid">
        {{'label_templateStatus' |customTranslate}} : <span>{{'label_complete' |customTranslate}}</span>
   </div>
    </div>
    <mat-accordion class="publishJob-tab">
        <mat-expansion-panel expanded="divexpanded" class="col">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img id="imageLogoId" src="{{logoURL}}" class="seek-logo" />
                </mat-panel-title>
                <mat-panel-description>
                    {{JobCount}} {{'label_JobsPosted' |translate}}
                    <div *ngIf="JobCount>0">
                        <span class="pl-10 pr-10">|</span>{{'label_Lastjobpostedon' |translate}} (<small>{{LastJobPostdate |
                            date:userpreferences.timeformate:userpreferences.timezone}}</small>) 
                  </div>
                    <span
                        class="pl-10 pr-10">|</span>
                        <div class="profileFillValue" id="percentageProgid" *ngIf="totalFilledPercentage>=100">
                            <span>100%</span>
                            <mat-progress-bar mode="determinate" value="100" color="primary"></mat-progress-bar>
                        </div>
                        <div class="profileFillValue" *ngIf="100>totalFilledPercentage">
                            <span>{{totalFilledPercentage | number: '1.0-0'}}%</span>
                            <mat-progress-bar mode="determinate" value="{{totalFilledPercentage}}" color="primary"></mat-progress-bar>
                        </div>
                      </mat-panel-description>
            </mat-expansion-panel-header>
            <form novalidate novalidate [formGroup]="addForm" (ngSubmit)="onSave(this.addForm.getRawValue)"
            accept-charset="utf-8" enctype='multipart/form-data' class="p-0 mt-10 mb-10 quick-job" id="seek-form">

            <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_Indeed_ClientName' |translate}}<span class="required-show">*</span></mat-label><br/>
                    <small>Company name that appears in search results.</small>
                </div>
                <div class="col s12 m12 l4">
                    <mat-form-field floatLabel="always">
                        <mat-label>{{'label_Indeed_ClientName' |translate}}</mat-label>
                        <input type="text" value="{{clientName}}" id="clientNameId" [disabled]="isDisabled"
                             matInput placeholder="{{'label_Indeed_ClientName' |translate}}">
                      </mat-form-field>
                </div>
            </div>

            <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_indeed_ClientHoldingCompany' |translate}}<span class="required-show">*</span></mat-label><br/>
                    <small>Parent organization hiring for role.</small>
                </div>
                <div class="col s12 m12 l4">
                    <mat-form-field floatLabel="always">
                        <mat-label>{{'label_indeed_ClientHoldingCompany' |translate}}</mat-label>
                        <input type="text" value="{{clientHoldingName}}" id="clientHoldingNameId" [disabled]="isDisabled"
                            matInput placeholder="{{'label_indeed_ClientHoldingCompany' |translate}}">
                       </mat-form-field>
                </div>
            </div>

            <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_Indeed_EmailId' |translate}}<span class="required-show">*</span></mat-label><br/>
                    <small>Email account associated with the Indeed account for the selected organization.</small>
                </div>
                <div class="col s12 m12 l4">
                    <mat-form-field floatLabel="always">
                        <mat-label>{{'label_Indeed_EmailId' |translate}}</mat-label>
                        <input type="text" formControlName="emailId" id="emailId" [readonly]="isReadonly"
                            matInput placeholder="{{'label_Indeed_EmailId' |translate}}" #textboxes (input)="input(this.addForm.value)" required>
                         <mat-error *ngIf="addForm.controls['emailId'].hasError('required')">
                            {{'label_Indeed_EmailId'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                        <mat-error *ngIf="addForm.controls['emailId'].hasError('minlength')">
                            {{'label_Indeed_EmailId' |translate}} {{'label_errorminlength2' |translate}}
                          </mat-error>
                          <mat-error *ngIf="addForm.controls['emailId'].hasError('maxlength')">
                            {{'label_Indeed_EmailId' |translate}} {{'label_errormaxlength100' |translate}}
                          </mat-error>
                        <mat-error *ngIf="addForm.controls['emailId'].errors?.pattern && addForm.controls['emailId'].touched">
                            {{'label_Indeed_EmailId'|translate}} {{'label_errorEmail'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
          <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_applicationForm' |translate}}<span class="required-show">*</span></mat-label><br/>
                 </div>
                <div class="col s12 m12 l4">
                    <mat-form-field class="icon-withchip" >                     
                        <mat-chip-list #chipList aria-label="emails selection"  id="applicationId"
                            tabindex formControlName="applicationFormNameValue" required>
                            <mat-chip  *ngIf="isHideChip" [selectable]="selectable" [removable]="true"
                                (removed)="removeApplication(applicationFormName)">
                                {{applicationFormName}}
                                <mat-icon color="warn" matChipRemove>cancel</mat-icon>
                            </mat-chip>                       
                            </mat-chip-list>                    
                        <button *ngIf="editStatus" tabindex id="btnApplicationId" mat-raised-button matSuffix color="primary" type="button" class="matSuffix-icon mgBottom5"  (click)="openMapAllicationFormModule()">
                            <mat-icon>add</mat-icon>
                        </button> 
                        </mat-form-field>
                        <div class=" ng-slectBox">
                            <mat-error *ngIf="!isHideChip">
                                {{ 'label_applicationForm' |translate}} {{ 'label_errorreqired' |translate}}
                            </mat-error>
                        </div>
               </div>
               <div class="col s12 m12 l5">
               
                <div class="share-url" id="share-url-job" *ngIf="applicationFormName!=''">
                    <mat-label class="text-overflow" matTooltip="{{shareJobApplicationUrl}}" matTooltipClass="custom-tooltip">{{shareJobApplicationUrl}}</mat-label>
                    <button mat-icon-button class="comment-group-btn" color="primary" id="applicationUrl"
                    matTooltip="{{'label_copy'|translate}}" matTooltipClass="custom-tooltip" (click)="copyJobApplicationUrl(shareJobApplicationUrl)" >
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <div class="copyMessage">
                        <div *ngIf="isCoppied"  class="alert-primary alert-green">
                            <mat-icon>check</mat-icon>
                            <span>{{'label_copied'| translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            
           <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_Indeed_CareerSiteURL' |translate}}</mat-label><br/>
                </div>
                <div class="col s12 m12 l4">
                    <mat-form-field floatLabel="always" class="icon-withchip" >
                        <input type="text" formControlName="careerSiteURL" id="careerSiteURLId" appLowercase matInput placeholder="">
                        <!-- <mat-error *ngIf="addForm.controls['careerSiteURL'].hasError('pattern')">
                            {{'label_errorreqiredPattern'|translate}}
                        </mat-error>
                        <mat-error *ngIf="addForm.controls['careerSiteURL'].hasError('codeTakenUrl')">
                            {{ 'label_OrgCareerNotValidURL' |translate}}
                        </mat-error>  -->
                        <!-- <mat-error *ngIf="addForm.controls['careerSiteURL'].hasError('maxlength')">
                            {{'label_Indeed_CareerSiteURL' |translate}} {{'label_errorreqiredMaxlength253' |translate}}
                          </mat-error> -->
                        <button *ngIf="careerSiteURLStatus" id="careerSiteURLCopyId" mat-icon-button class="comment-group-btn" color="primary" matSuffix
                        matTooltip="{{'label_copy'|translate}}" matTooltipClass="custom-tooltip" (click)="copyCareerUrl()">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <div class="copyMessage">
                            <div *ngIf="isCoppiedCareerUrl" class="alert-primary alert-green">
                                <mat-icon>check</mat-icon>
                                <span>{{'label_copied'| translate }}</span>
                            </div>
                        </div>
                      </mat-form-field>
                </div>
            </div>

            <h2 class="publishJobSubTitle" id="cardSubTitle">{{'label_classifyYourJob' |translate}}</h2>
            <mat-divider class="mt-10"></mat-divider>
           <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_jobTitle' |translate}}<span class="required-show">*</span></mat-label><br />
                </div>
                <div class="col s12 m12 l4">
                    <mat-form-field floatLabel="always">
                        <mat-label>{{'label_seekJobTitle' |translate}}</mat-label>
                        <input type="text" formControlName="jobTitle" id="jobTitleId"
                             matInput placeholder="{{'label_jobTitle' |translate}}" (input)="inputwithoutValidation(this.addForm.value)" required>
                        <mat-error *ngIf="addForm.controls['jobTitle'].hasError('required')">
                            {{'label_jobTitle'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                        <mat-error *ngIf="addForm.controls['jobTitle'].hasError('maxlength')">
                            {{'label_jobTitle'|translate}} {{'label_errormaxlength100'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
              </div>
          <div class="row mb-10">
                <div class="col s12 m12 l3">
                    <mat-label>{{'label_jobLocation'|translate}}<span class="required-show">*</span></mat-label><br />
                    <small>{{'label_seekjobLocation'|translate}}</small>
                </div>
                <div class="col s12 m12 l4" style="position: relative;">

                    <div formGroupName="address" class="icon-page">
                        <mat-form-field class="icon-withchip location-icon-withchip">
                            <mat-label>{{'label_location' | customTranslate}}</mat-label>                                     
                            <input type="text" tabindex formControlName="AddressLinkToMap" (click)="addAddress()" readonly matInput
                                placeholder="{{'label_location' | customTranslate}}" id="addressId" required>              
                            <mat-icon matPrefix class="matPrefix-icon">location_on</mat-icon>
                             <button tabindex id="addbtn-address" mat-raised-button matSuffix color="primary" type="button"
                                class="matSuffix-icon mb-0" (click)="addAddress()">
                                <mat-icon>add</mat-icon>
                            </button>    
                            <mat-error *ngIf="locationStatus">
                                {{ 'label_jobLocation' |customTranslate}} {{ 'label_errorreqired' |translate}}
                            </mat-error>                   
                           </mat-form-field>    
                    </div>
                   </div>
              </div>
                      <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_Jobcategory'|translate}}</mat-label><br/>
                     </div>
                    <div class="col s12 m12 l4">
                        <div id="categoryId">
                            <div class="ng-slectBox">
                                <app-custom-dropdown [selectedIn]="selectedCategory" tabindex="10" (change)="onProgresswithoutValidation(this.addForm.value,'category')"
                                (selectedOut)="onCategorychange($event)" [config]="dropDownCategoryConfig" id="categoryId">
                            </app-custom-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_JobType' |translate}}</mat-label><br/>
                    </div>
                    <div class="col s12 m12 l4">
                        <ng-select formControlName="jobType" placeholder="{{'label_JobType' |translate}}"
                            [clearable]="true" id="jobTypeId" (change)="onProgresswithoutValidation(this.addForm.value,'jobType')">
                            <ng-option value='FullTime'>Full Time</ng-option>
                            <ng-option value='PartTime'>Part Time</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_JobExpiryDate' |translate}}</mat-label><br/>
                     </div>
                    <div class="col s12 m12 l4">
                        <mat-form-field class="dateInput">
                              <input  matInput [matDatepicker]="picker2"    [placeholder]="getDateFormat"  tabindex id="Addinfo-DateExpiry"
                            [min]="dateStart" [max]="dateMax" (dateInput)="inputwithoutValidation(this.addForm.value)"
                            [(ngModel)]="dateStartMax" formControlName="DateExpiry">
                            <button *ngIf="addForm.value.DateExpiry || addForm.controls['DateExpiry'].hasError('matDatepickerParse')" type="button" id="clearBtn" matSuffix mat-icon-button aria-label="Clear"
                                (click)="clearExpiryDate()" title="Clear all" > 
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="addForm.controls['DateExpiry'].hasError('invalidDate') && !addForm.controls['DateExpiry'].hasError('required')"> {{'label_invalidDate' | translate}} </mat-error>
                            <mat-error *ngIf="addForm.controls['DateExpiry'].hasError('matDatepickerParse') && !addForm.controls['DateExpiry'].hasError('matDatepickerMax')"> {{'label_invalidDate' | translate}}</mat-error>
                            <mat-error *ngIf="addForm.controls['DateExpiry'].hasError('matDatepickerMax') && !addForm.controls['DateExpiry'].hasError('invalidDate')"> {{'label_JobExpiryDate' |translate}} {{'label_shouldNot30days' | translate}}</mat-error>
                            <mat-error *ngIf="addForm.controls['DateExpiry'].hasError('matDatepickerMin') && !addForm.controls['DateExpiry'].hasError('invalidDate')"> {{'label_JobExpiryDate' |translate}} {{'label_shoulNotLessThan' | translate}} </mat-error>
                        </mat-form-field>
                    </div>
                   </div>
                <h2 class="publishJobSubTitle" id="cardSubTitle">{{'label_payDetails' |translate}}</h2>
                <mat-divider class="mt-10"></mat-divider>

                <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'Currency' |translate}}</mat-label><br/>
                    </div>
                    <div class="col s12 m12 l4" >
                    <app-custome-dropdown-with-two-variabel [selectedIn]="selectedSalaryName" id="currencyId"
                    (selectedOut)="onJobSalarychange($event)" [config]="dropDownSalaryNameConfig" (change)="onProgresswithoutValidation(this.addForm.value,'currency')"
                    tabindex>
                </app-custome-dropdown-with-two-variabel>
                    </div>
                </div>
               <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_PayType' |translate}}</mat-label><br />
                    </div>
                    <div class="col s12 m12 l4">
                        <app-custom-dropdown [selectedIn]="selectedSalaryUnit" (change)="onProgresswithoutValidation(this.addForm.value,'salaryUnit')"
                        (selectedOut)="onJobSalaryUnitchange($event)" [config]="dropDownSalaryUnitConfig" id="payTypeId"
                        tabindex>
                    </app-custom-dropdown>
                    </div>
                  </div>
                <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_SalaryRange'|translate}}</mat-label><br />
                    </div>
                     <div class="col s12 m12 l4">
                        <mat-form-field floatLabel="always">
                            <input matInput type="number" (keypress)="numberOnly($event)" formControlName="SalaryRangeMinimum" min="1" max="9999999999" step="1" matInput
                                placeholder="Minimum" (input)="inputwithoutValidation(this.addForm.value);ResetMaximumValue()" id="salaryRangeMinimumId">
                                <mat-error *ngIf="addForm.controls['SalaryRangeMinimum'].hasError('min')">
                                    {{'label_jb_minimumSalary'|translate}} {{'label_IndeedMinimumSalaryValidation'|translate}}
                                </mat-error>
                                <mat-error *ngIf="addForm.controls['SalaryRangeMinimum'].hasError('max')">
                                    {{'label_jb_minimumSalary'|translate}} {{'label_IndeeddiffGreaterThan'|translate}}
                                </mat-error>
                                </mat-form-field>
                    </div>
                    <div class="col s12 m12 l4">
                        <mat-form-field floatLabel="always">
                            <input matInput type="number"  formControlName="SalaryRangeMaximum" min="1" max="9999999999" step="1"
                                matInput placeholder="Maximum" (input)="inputwithoutValidation(this.addForm.value);conditionChcek()" id="SalarymaximumId">
                             <mat-error *ngIf="addForm.controls['SalaryRangeMaximum'].hasError('numbercheck')">
                                {{'label_jb_maximumSalary'|translate}} {{'label_salaryBanderrmax'|translate}} {{'label_jb_minimumSalary'|translate}}
                            </mat-error>
                            <mat-error *ngIf="addForm.controls['SalaryRangeMaximum'].hasError('max')">
                                {{'label_jb_maximumSalary'|translate}} {{'label_IndeeddiffGreaterThan'|translate}}
                            </mat-error>
                         </mat-form-field>
                    </div>
                </div>
               <div class="row mb-10">
                    <div class="col s12">
                        <mat-checkbox color="primary" [checked]="IsHidePayInformation" (click)="onPayLabelDetailsCheck()" formControlName="payLabelCheck" (input)="inputwithoutValidation(this.addForm.value)" id="hidePayInfoId">{{'label_seekHidepayInformation'|translate}}</mat-checkbox>
                    </div>
                </div>
               <h2 class="publishJobSubTitle" id="cardSubTitle">{{'label_jobAdditionalDetails' |translate}}</h2>
                <mat-divider class="mt-10"></mat-divider>
                <div class="row mb-10">
                    <div class="col s12">
                        <mat-checkbox  (click)="onJobDetails()" formControlName="jobDetailsCheck" color="primary" (input)="inputwithoutValidation(this.addForm.value)" id="jobDetailCheckId">{{'label_seekJobDescriptionDetails'|translate}}  </mat-checkbox>
                    </div>
                </div>

                 <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_JobDescription' |translate}}<span class="required-show">*</span></mat-label><br />
                    </div>                   
                    <div class="col s12 m12 l4">
                        <div [innerHTML]="DescriptionValue"  tabindex (click)="openDialogforDescription()"
                        id="jobDescriptionId" class="divTextArea">
                        </div>
                        <div class="ng-slectBox">
                            <div class="mat-bottom" *ngIf="descriptionSatus">
                                {{ 'label_JobDescription' |translate}} {{ 'label_errorreqired' |translate}}
                            </div>
                        </div>
                      </div>
                </div>

              <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_Indeed_RemoteJob' |translate}}</mat-label><br />
                    </div>
                    <div class="col s12 m12 l4">
                        <mat-radio-group aria-label="Select an option" class="mb-15 d-block publish-raidio-group-worktype"
                            formControlName="remoteJob" id="remoteJob" (click)="onProgresswithoutValidation(this.addForm.value,'remoteJob')">
                            <mat-radio-button color="primary" class="publishJobRadio"
                               [value]="1" (click)="clickRemoteType('yes')">Yes</mat-radio-button>
                            <mat-radio-button color="primary" class="publishJobRadio"
                                [value]="0" (click)="clickRemoteType('no')">No </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row mb-10" *ngIf="remoteTypeValue">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_Indeed_WorkPlaceType' |translate}}</mat-label><br/>
                    </div>
                    <div class="col s12 m12 l4">
                        <ng-select formControlName="workplaceType" placeholder="{{'label_Indeed_WorkPlaceType' |translate}}"
                            [clearable]="true" id="workplaceType" (change)="onProgresswithoutValidation(this.addForm.value,'paytype')">
                            <ng-option value='FullTime'>Full remote</ng-option>
                            <ng-option value='Hybrid'>Hybrid remote</ng-option>
                            <ng-option value='covid'>COVID-19</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_experience' |translate}}</mat-label><br/>
                        <small>Experience desired for this job.</small>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="ng-slectBox">
                            <app-custom-dropdown [selectedIn]="selectedExperience" tabindex="15" (change)="onProgresswithoutValidation(this.addForm.value,'experience')"
                                (selectedOut)="onExperiencechange($event)" [config]="dropDownExperienceConfig" id="experienceId">
                            </app-custom-dropdown>
                        </div>
                    </div>
                </div>


                <div class="row mb-10">
                    <div class="col s12 m12 l3">
                        <mat-label>{{'label_education' |translate}}</mat-label><br/>
                        <small>Education level desired for this job.</small>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="ng-slectBox">
                            <app-custom-dropdown [selectedIn]="selectedQualification" tabindex="14"
                                (selectedOut)="onQualificationchange($event)" (change)="onProgresswithoutValidation(this.addForm.value,'qualification')"
                                [config]="dropDownQualificationConfig" id="qualificationId">
                            </app-custom-dropdown>
                        </div>
                    </div>
                </div> 
        </form>
        </mat-expansion-panel>
    </mat-accordion>
</form>
