
/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: manage-client-tag.component.scss
    @Who: Renu
    @When: 13-jul-2021
    @Why: ROST-2104
    @What: You can add manage client tag details styles to this file, and also import other style files
*/
