<small class="small-size">{{'pushCandidateToEoh_popupSubTitle1'|translate}} <strong>{{candidateInfo['candidateName']}}</strong> {{'label_as'|translate}}
    <strong *ngIf="selectedValue=='1'">{{'pushCandidateToEoh_applicant'|translate}}.</strong>
    <strong *ngIf="selectedValue=='2'">{{'pushCandidateToEoh_member'|translate}}.</strong>
      {{'pushCandidateToEoh_popupSubTitle3'| customTranslate}} </small>

  <div class="candidate-overview">
  <div class="radio-with-label eoh-with-label">
    <small>{{'pushCandidateToEoh_radioLabel'| customTranslate}}</small>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedValue" (change)="onSelectionChange($event)">
      <mat-button-toggle value="1" checked><mat-icon *ngIf="firstValue">done</mat-icon>{{'label_ShareJobClient'|customTranslate}}</mat-button-toggle>
      <mat-button-toggle value="2"><mat-icon *ngIf="secondValue">done</mat-icon>{{'label_ShareJobAssignMember'|translate}}</mat-button-toggle>
      <mat-button-toggle value="3"><mat-icon *ngIf="thirdValue">done</mat-icon>{{'label_ShareJobOrder'|translate}}</mat-button-toggle>
    </mat-button-toggle-group>
    
</div>
<!-- <div class="great-text"><mat-icon svgIcon="great"></mat-icon> <p>{{'label_screeningAction_EOHHeading'|translate}}</p></div> -->

<div class="tab-container candidate-tab-container member-tab-container share-tab" *ngIf="secondValue">
<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="tabClick($event)">
  <mat-tab label="{{ 'label_screeningAction_CandidateProfile' | customTranslate }}">
    <app-job-order></app-job-order>
    <!-- <app-push-candidate-to-eoh (NextEmitOut)="nextTabMove($event)" [IsOpenFor]="IsOpenForNormal"></app-push-candidate-to-eoh> -->
  </mat-tab>
  <mat-tab label="{{ 'label_Notes' | customTranslate }}">
    <app-screening-notes (NextEmitOut)="nextTabMove($event)" [memberStatus]="selectedMemberStatus"></app-screening-notes>
  </mat-tab>
  <mat-tab label="{{ 'label_EmploymentStatus' | customTranslate }}">
    <app-employment-status (NextEmitOut)="nextTabMove($event)" [stageType]="stageType" [lastActivity]="lastActivity"></app-employment-status>
  </mat-tab>
  <mat-tab label="{{ 'label_screeningAction_ReviewFinalSummary' | customTranslate }}">
    <app-review-final-summary [memberStatus]="selectedMemberStatus"></app-review-final-summary>
  </mat-tab>
</mat-tab-group>
</div>
<app-share-client-eoh *ngIf="firstValue" ></app-share-client-eoh>
<app-job-order *ngIf="thirdValue"></app-job-order>

</div>