<mat-card-content class="push-member-app" id="push-Candidate" applyTabIndexes [class.alert]="httpstatus!=200">
    <h2 *ngIf="httpstatus===200">Success</h2>
    <h2 *ngIf="httpstatus!==200">Failure</h2>
    <p *ngIf="httpstatus===200"><strong>{{candidatePushedInfo?.CandidateInformation?.FirstName}}
            {{candidatePushedInfo?.CandidateInformation?.FamilyName}} {{'pushCandidateToEoh_SucessMsg'|translate}}
            {{candidatePushedInfo?.ApplicantId}}
        </strong></p>
        <p *ngIf="httpstatus!==200">{{message}}</p>
        <p><button mat-button type="button" tabindex color="primary" (click)="generatePushCandidateExcel()">{{'pushCandidateToEoh_ViewMore'|translate}}</button>
        </p>
    </mat-card-content>
    <mat-divider ></mat-divider>
    <div mat-dialog-actions class="push-member-app-footer" >
        <button mat-stroked-button color="primary" tabindex id="pushCandidate_btncancel" cdkFocusInitial
            (click)="onDismiss()">{{'label_ok'|translate}}</button>
    </div>