/* 
    @(C): Entire Software
    @Type: File, <css>
    @Who: Nitin Bhati
    @When: 04-Jan-2024
    @Why: EWM-15585 EWM-15644
    @What: You can add this page styles on same file, and also import other style files
*/
.email-container{
  height: calc(100% - 76px);
  .emaillist {
    width: 100%;
  }
  .email-card-view {
    width: 0px;
  }
}