@use "../../../styles-var.scss";
@mixin grid-page-common-height{
    padding: 8px;
    height: calc(100% - 16px); 
}
.page-container-listcard.mat-drawer-container {
    height: calc(100% - 47px);
    &>.mat-drawer-content {
        @include grid-page-common-height;
        &>.listmode-card{
            @include grid-page-common-height;
            @media (width <= 580px) {
                height: calc(100% - 53px);
            }
            .kendo-grid-appearance, .kendo-settings, .k-grid{
                height: 100%;
            }
            .kendo-grid-appearance.candidate-source-grid{
                height: calc(100% - 20px);
                @media only screen and (min-width: 493px) and (max-width: 1155px){
                    height: calc(100% - 35px);
                }
                @media only screen and (min-width: 320px) and (max-width: 492px){
                    height: calc(100% - 68px);
                }
            }
            .kendo-grid-appearance.kendo-sms-template{
                height: calc(100% - 25px);
            }
            .list-container{
                overflow-x: auto;
                overflow-y: hidden;
                height: 100%;
            }
        }
    }
}

.kendo-grid-appearance{
    .candidate-source-list.k-grid{
        tr{
            &:hover{
                // box-shadow: none !important;
                td{
                    box-shadow: none !important;
                    background: transparent;
                }
            }
        }
        .k-detail-row,.k-detail-row.k-alt{
            background: #ffffff !important;
            box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 3px 0px inset !important;
            td{
                background: transparent !important;
                .no-child{
                    width: max-content;
                    margin-inline: 10px;
                    padding-inline: 6px;
                    padding-block: 2px;
                    background: #f5f5f5;
                    border-radius: 3px;
                }
            }
            td:not(.k-hierarchy-cell){
                padding: 4px 12px;
            }
            &:hover{
                td{
                    &:first-child{
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

.candidate-child-source{
    .candidate-child-source-inner{
        .k-grid{
            width: 100% !important;
            height: auto !important;
            // background: #ffffff;
            // padding: 5px;
            border-radius: 5px;
            tr{
                // background: #ffffff !important;
                td{
                    // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    .input-with-error{
                        .k-textbox{
                            width: 100%;
                            padding-inline: 0px;
                            border-radius: 0px;
                            padding-block: 0px;
                            height: 27px;
                        }
                        // .error-msg{
                        //     margin-left: -16px;
                        // }
                    }
                    &:first-child{
                        background-color: transparent !important;
                        border-left: 1px solid rgba(0, 0, 0, 0.12);
                        padding: 4px 12px;
                        text-align: left;
                    }
                }
                td.k-command-cell{
                    padding: 0px 12px;
                }
                &:hover{
                    box-shadow: none !important;
                    td{
                        &:first-child{
                            box-shadow: none !important;
                        }
                    }
                }
            }
            tr.k-alt{
                td{
                    &:first-child{
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

.child-source-list{
    .k-grid-header{
        thead{
            th:first-child{
                padding: 8px 12px;
                position: inherit;
            }
        }
    }
}

.dark-theme{
    .kendo-grid-appearance{
        .candidate-source-list.k-grid{
            .k-detail-row,.k-detail-row.k-alt{
                background: #303030 !important;
                td{
                    &:first-child{
                        background: transparent !important;
                    }
                    .no-child{
                        background: #424242;
                    }
                } 
            }
        }
    }
    .child-source-list{
        tr{
            td:first-child{
                background: transparent !important;
            }
        }
    }
    .candidate-child-source{
        .candidate-child-source-inner{
            .k-grid{
                tr{
                    td{
                        .input-with-error{
                            .k-textbox{
                                color: #ffffff;
                                border-color: #c1c1c1;
                            }
                        }
                    }
                }
            }
        }
    }
}