// @When: 29-Jan-2024 @who:Amit Rajput @why: EWM-15832 @what: manage candidate folder style
.document-name{
    display: flex;
    padding-bottom: 10px;
    gap: 15px;
}
.access-mat-dialog-content{
    .mat-radio-button{
        padding: 15px 10px 0px 0px;
    }
    small{
        display: flex;
        margin-bottom: 1em;
        margin-top: 20px;
    }
    .manage-access-data{
        p{
            font-size: 13px;
        }
    }
}