@import '../../../../../../styles-var.scss';
@import '../../../../../../mixinStyle.scss';
.seekIntegrationHeader{
    justify-content: space-between;
    div{
        span:first-child{
            @media only screen and (max-width: 665px) and (min-width: 581px) {
                display: none;
            }
            @media only screen and (max-width: 415px) and (min-width: 320px) {
                display: none;
            }
        }
        span{
            margin-left: 0px;
        }
    }
}
// .seek-mat-card{
//     padding:15px 20px;
// }
.leftPanelLinks{
    width: 100%;
    display: inline-block;
    .mat-card{
        padding: 15px;
        .mat-raised-button{
            margin-bottom: 0px;
            @media only screen and (max-width: 530px) and (min-width: 320px) {
                margin-bottom:10px;
            }
        }
        .jobSpanStyle{
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
        }
    }
}

.seekIntegrationSection{
    .seekImbBox{
        line-height: 0px;
        img{
            width:150px;
            height: auto;
            max-width:100%;
            max-height: 100%;
            border-radius: 4px;
            padding: .25rem;
            border: 1px solid rgba(120,130,140,.13);
        }
    }
    .seekButtonBox{
        margin-left: 15px;
        padding:0.25rem;
        @media only screen and (max-width: 992px) and (min-width: 320px) {
            margin-left:0px;
        }
        button{
            max-width: unset;
            margin:0px 0px 0px 10px;
            // padding:5px 25px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media only screen and (max-width: 992px) and (min-width: 320px) {
                margin:5px 5px 0px 0px;
            }
        }
    }
    
    .seekContentSectionBox{
        p{
            margin: 0px 0px 15px 0px;
            padding:0px;
            line-height: 20px;
        }
    }
    .imageVideoWidthSize{
        width:100%;
        padding: 5px 20px 15px 20px;
    }
    .actionButton{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .contactDetailsSection{
        border-radius: 4px;
        max-width: 500px;
        margin: 15px 0px 20px 15px;
        padding: 10px 15px;
        p{
            margin:8px 0px;
            width: 130px;
            font-weight: 500;
        }
        .spnStyle{
            display:block;
            font-weight: 400;
            margin:8px 0px;
        }
    }
    .warnColorBtn{
        color:#f44336;
        position: relative;
        &::after{
            content: "";
            background: currentColor;
            opacity: 0.11;
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 0;
            border-radius: 4px;
            transition: opacity .2s ease-in-out;    
            }
    }
    .greenColorBtn{
        color: #7FB734;
        position: relative;
        &::after{
            content: "";
            background: currentColor;
            opacity: 0.11;
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 0;
            border-radius: 4px;
            transition: opacity .2s ease-in-out;    
            }
    }
    .blackColorBtn{
        color: #333333;
        position: relative;
        &::after{
            content: "";
            background: currentColor;
            opacity: 0.11;
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 0;
            border-radius: 4px;
            transition: opacity .2s ease-in-out;    
            }
    }
    .blueColorBtn{
        background: #008cd2;
        color:#fff;
    }
    .darkYellowColorBtn{
        background: #bf9000;
        color:#fff;
    }
    .profileBuildBtn{
        position: relative;
        margin-left: 10px;
        color: $primary-bg-color;
        display: inline-block;
        @media only screen and (max-width: 815px) and (min-width: 320px) {
            margin-top: 10px;
        }
        .mat-icon{
            width: 18px;
            height: 18px;
            font-size: 16px;
            color: $warn-bg;
            vertical-align: middle;
            text-align: right;
        }

    }
}

.seekbox{
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    // @media only screen and (max-width: 992px) and (min-width: 320px) {
    //     justify-content: center;
    // }
}


.urOrderList {
    display: flex;
    margin: 0px;
    padding: 0px 50px;
  }

  .urOrderList .swiper-button-prev,
  .swiper-button-next {
    right: 0px;
  }

  .urOrderList .stageListItems {
    width: 100%;
    height: 100%;
    max-height: 470px;
    margin-top: 15px;
    padding: 0px 0px 25px 0px;
    img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 450px;
        display: block;
        margin:0px auto;
        border-radius: 4px;
    }
    video{
        width: auto;
        height: 400px;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin:0px auto;
        @media only screen and (max-width: 767px) and (min-width: 481px){
            height: 300px;
        }
        @include for-small-smartphones{
            height: 200px;
        }
    }
  }

//   .seekIntegrationHeader {
//     .mat-stroked-button {
//         top: -8px;
//     }   
// }

.partners{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.jobBoardStatus {
    span{
        padding-left: 5px;
        padding-right: 5px;
        @media only screen and (max-width: 350px) and (min-width: 320px) {
            font-size:11px;
        }
    }
}

.subTitle.mat-card-subtitle{
    font-size:16px;
    font-weight: 500;
}

.showAccessSection {
    height: 100%;
}

.resumeTab{
    .mat-tab-label-container .mat-tab-list {
        border-bottom:none;
    }
}


.seekTab{
    height: calc(100vh - 170px);
    .interfaceBoardContainer{
        height: 100%;
        overflow: auto;
    }
}









.seekDetails{
    width: 33.33%;
    @media only screen and (max-width: 1060px) and (min-width: 481px) {
        width: 50%;
    }
    @media only screen and (max-width: 480px) and (min-width: 320px) {
        width: 100%;
    }
    .positionRelative{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 480px) and (min-width: 320px) {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .mat-form-field{
            margin-bottom: 0px;
            @media only screen and (max-width: 480px) and (min-width: 320px) {
                width: 100%;
            }
        }
        .mat-form-field.org-name{
            margin-top: 15px;
        }
        .mat-form-field.org-name.mat-form-field-hide-placeholder{
            margin-top:5px;
        }
    }
    .input-with-info-icon{
        .infoStyle{
            right: -5px;
            color: #f44336;
        }
    }
}
.addPlanType{
    min-width: 40px;
    padding: 0px 5px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #7fb734;
}

.dashboard-mat-card-header.title-and-btn.mat-card-header {
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      flex-direction: column;
    }
    .actionButton{
        @media only screen and (max-width: 767px) and (min-width: 320px) {
            width: 100%;
        }
    }
  }

.seekDetails{
    .positionRelative{
        .id-del-btn{
            min-width: 32px;
            padding: 0px 5px;
            border-radius: 50px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            .notranslate{
                margin: 0px;
                width: 20px;
                height: 20px;
                font-size: 20px;
            }
        }
    }
} 

.page-header.mat-card-header{
    @media only screen and (max-width: 580px) and (min-width: 240px){
      height: 55px;
    }
}
 

