/* 
  @(C): Entire Software
  @Type: File, <scss>
  @Who: Satya Prakash Gupta
  @When: 04-Aug-2021
  @Why: EWM-2240 EWM-2451
  @What:  This page will be use for the candidate configure Component scss file

*/

.candidateColumnList{
    max-height: calc(100vh - 338px);
    overflow: auto;
    padding-right: 5px;
  }
  .col.s12{
    .candidateColumnList{
      max-height: none;
    }
  }
  .candidateColumnList-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    padding-right: 10px;
    cursor: default;
    margin: 10px 0px;
    border-radius: 8px;
    box-shadow: 0 0px 6px 0px rgb(0 0 0 / 22%);
    box-sizing: border-box;
  }
  .candidateColumnList-custom-placeholder {
    min-height: 40px;
    border-radius: 8px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .candidateColumnList.cdk-drop-list-dragging
    .candidateColumnList-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  