/* 
  @(C): Entire Software
  @Type: File, <scss>
  @Who: Anup Singh
  @When: 13-july-2021
  @Why: EWM-2001 EWM-2070
  @What:  This page will be use for the manage job template Component scss file

*/

.ng-select-withicon{
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    .ng-select{
        font-size: 14px;
        width: 100%;
    }
}

.select-matPrefix-icon{
    top: 4px;
    position: relative;
    width: 1.215em; 
}

.divTextAreaLavel{
    opacity: 0.74;
  }

  .matErrorDesc{
    font-size: 11px;
    position: relative;
    top: -15px;
}