// @When: 23-05-2024 @who:Amit @why: EWM-17125 @what: manage candidate source style
.manage-candidate-source{
    width: clamp(270px, 408px, 100%);
    padding: 0px 10px;
    box-sizing: border-box;
}