<!---
    @(C): Entire Software
    @Type: File, <html>
    @Name: candidate-job.application-form.component.html
    @Who: Suika
    @When: 26-Aug-2023
    @Why: EWM-13813 EWM-13813
    @What:  This page wil be use only for the candidate application form Component HTML
-->
<div class="progress-loader-box" *ngIf="loaderAddInfo" id="loaderAddInfo">
    <div class="progress-loader">
      <div class="loaderBar"></div>
    </div>
  </div>
  
  <div class="modal-header" id="modal-header">      
    <button mat-icon-button  id="btncloseinfo" (click)="onDismiss()" color="warn">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="multiple-no-data" *ngIf="!applicationUrl" id="noAppFormFound">
    <span *ngIf="docUrl">Loading...</span>
    <p *ngIf="!docUrl">{{'label_noAppFormFound' | translate}}</p>
  </div>
  
  <div id="candidate-summry" class="candidate-resume-summry" *ngIf="applicationUrl">
    <div class="PDFViewer-buttons resumeDownloadBtn-cover" id="PDFViewer">
      <button target="_blank" mat-icon-button [hidden]="IsApplicationForm" id="btnFullscreen" class="resume"
        (click)="showAppForm(applicationUrl,UploadFileName)">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <button class="resumeDownloadBtn-cover" type="button" mat-icon-button class="buttonForDesktopMobile"
        [hidden]="IsApplicationForm" tabindex="8" color="primary" id="downloadResumeBtn"
        (click)="onDownloadAppForm(applicationUrl,UploadFileName)">
        <mat-icon class="matIconDownload">file_download</mat-icon>
      </button>
    </div>
  
  
    <div class="PDFViewer candidate-screening-tab" id="candidate-screening-tab">    
      <ngx-doc-viewer class="PDF-viewer-box" [url]="applicationUrl" [viewer]="viewer" (loaded)="isLoading=false" style="width:100%;height:99%;">
      </ngx-doc-viewer>
    </div>
  </div>