<!-- 
    @(C): Entire Software
    @Type: File, <html>
    @Name: manage-experience.component.html
    @Who: Nitin Bhati
    @When: 24-May-2021
    @Why: EWM-1602
    @What: There are all HTML elements of a manage experience master page
-->

<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>
  
    <mat-card-header class="dashboard-mat-card-header title-and-btn" id="manage-experience-type-mat-card-header">
        <mat-card-title class="only-title" *ngIf="activestatus=='Add'">{{'label_addNew' |translate}} {{'label_experience' |translate}}</mat-card-title>
        <mat-card-title class="only-title" *ngIf="activestatus=='Edit'">{{'label_edit' |translate}} {{'label_experience' |translate}}
        </mat-card-title>
        <div class="actionButton">
            <button mat-raised-button color="warn" tabindex="3" [routerLink]="['../']" [queryParams]="{V:viewMode}"
                id="btnCancel" class="buttonForDesktopMobile">
                <mat-icon>close</mat-icon>
                <span class="buttonTxt">{{'label_cancel' |translate}}</span>
            </button>

            <button mat-raised-button tabindex="4" class="buttonForDesktopMobile" color="primary"
                (click)="onSave(this.addExperienceForm.value)" type="button" id="btnSave"
                [disabled]="!addExperienceForm.valid">
                <mat-icon>check</mat-icon>
                <span class="buttonTxt">{{'label_save'|translate}}</span>
            </button>
        </div>
    </mat-card-header>   
    
<mat-drawer-container class="xeople-container-with-one-card" autosize id="manage-experience-type-drawer">
    <mat-card id="manage-experience-master" class="component-card mat-elevation-z2">
        <form novalidate [formGroup]="addExperienceForm" accept-charset="utf-8" enctype='multipart/form-data'
             id="experience-addExperienceForm">
            <div class="row col mb-0">
                <mat-form-field class="col l4 m8 s12">
                    <mat-label>{{'label_experience'|translate}}</mat-label>
                    <input type="hidden" formControlName="Id" id="Id">
                       <!--  @Who: maneesh, @When: 19-jun-2023,@Why: EWM-12791 handel duplicate issu -->
                    <input matInput formControlName="experienceName" tabindex="1" id="experienceName"
                        text="experienceName" placeholder="{{'label_experience'|translate}}" (keyup)="duplicayCheck()"
                        required>
                    <mat-error *ngIf="addExperienceForm.controls['experienceName'].hasError('codeTaken') && !addExperienceForm.controls['experienceName'].hasError('whitespace')">
                        {{'label_experience'|translate}} {{'label_errorreqiredAlready'|translate}}
                    </mat-error>
                    <mat-error *ngIf="addExperienceForm.controls['experienceName'].hasError('required')">
                        {{'label_experience'|translate}} {{'label_errorreqired'|translate}}
                    </mat-error>
                    <mat-error *ngIf="addExperienceForm.controls['experienceName'].hasError('maxlength') && !addExperienceForm.controls['experienceName'].hasError('whitespace')">
                        {{'label_experience'|translate}} {{'label_errormaxlength50'|translate}}
                    </mat-error>
                    <mat-error *ngIf="addExperienceForm.controls['experienceName'].hasError('pattern')">
                        {{'label_experience'|translate}} {{'label_errorpatternAlphanumeric'|translate}}
                    </mat-error>
                       <!--  @Who: maneesh, @When: 29-dec-2022,@Why: EWM-10085 addnoWhitespaceValidator -->
                       <mat-error *ngIf="addExperienceForm.controls['experienceName'].hasError('whitespace') && !addExperienceForm.controls['experienceName'].hasError('required')">
                        {{'label_experience' |translate}} {{'label_nameValidation' |translate}} 
                      </mat-error>
                </mat-form-field>
            </div>
            <div class="row mb-0">
                <div class="ng-slectBox col l4 m6 s12"> 
                    <!-- <input type="hidden" formControlName="ID" id="Id"> -->
                <ng-select placeholder="{{'label_weightage'|translate}}" [clearable]="true" tabindex="1"
                formControlName="Weightage" (change)="clickWeightage($event)" id="Weightage" >
                <ng-option disabled="true" value=""disabled>{{'label_weightage'|translate}}</ng-option>
                <ng-option *ngFor="let list of getWeightageType" [value]="list.Id">{{list.Weightage}}
                    
                </ng-option>
                <mat-menu #allJobStatus="matMenu" xPosition="after" class="infoIconContentBox">
                    <span class="material-icons headerDroupDownUp">
                      arrow_drop_up
                    </span>
                    {{'label_weightageDesc'|translate}}
                  </mat-menu>
            </ng-select>
           
            <mat-error
                *ngIf="addExperienceForm.controls['Weightage'].hasError('required') && addExperienceForm.controls['Weightage'].touched">
                {{'label_weightage'|translate}} {{'label_errorreqired'|translate}}
            </mat-error>
                </div>
             </div>
            <div class="row mb-0">
                <div class="col l4 m8 s12 ">
                    <div class="ng-slectBox">
                           <!-----@suika@EWM-10681 EWM-10818  @03-03-2023 to set default values for status in master data--->
                        <ng-select placeholder="{{'label_status'|translate}}" class="show-required" [clearable]="false" tabindex="2"
                            formControlName="Status" id="experience-status" required>
                            <ng-option value="" disabled>{{'label_selectStatus'|translate}}</ng-option>
                            <ng-option *ngFor="let status of statusData" [value]="status.StatusId">
                                {{status.StatusName}}
                            </ng-option>
                        </ng-select>
                        <mat-error
                            *ngIf="addExperienceForm.controls['Status'].hasError('required') && addExperienceForm.controls['Status'].touched">
                            {{'label_status'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</mat-drawer-container>