
// @(C): Entire Software
// @Type: File, <html>
// @Who: Anup Singh
// @When: 18-jan-2022
// @Why: EWM-4478 EWM-4715


.counterTxt{
    position: relative;
    .countlabel{
        margin-top: 0px;
        text-align: right;
        color: #fe7000;
        font-size: 80%;
        position: absolute;
        bottom: 5px;
        right: 20px;
    }
}
