<!-- 
    @(C): Entire Software
    @Type: File, <html>
    @Name: manage-score-type.component.html
    @Who: Nitin Bhati
    @When: 21-Aug-2021
    @Why: EWM-2501
    @What: There are all HTML elements of a manage degree type master page
-->

<div *ngIf="loading" class="logo-loader" id="logo-loader">
    <div class="logo-loading"></div>
</div>


    <mat-card-header class="dashboard-mat-card-header title-and-btn" id="client-dashboard-dashboard-mat-card-header">
        <mat-card-title class="only-title" *ngIf="activestatus=='Add'">{{'label_add' |translate}} {{'label_degreeType'|translate}}
        </mat-card-title>
        <mat-card-title class="only-title" *ngIf="activestatus=='Edit'">{{'label_edit' |translate}} {{'label_degreeType'|translate}}
        </mat-card-title>
        <div class="actionButton">
            <button mat-raised-button color="warn" tabindex="5" [routerLink]="['../']" [queryParams]="{V:viewMode}"
                id="btnCancel" class="buttonForDesktopMobile">
                <mat-icon>close</mat-icon>
                <span class="buttonTxt">{{'label_cancel' |translate}}</span>
            </button>
            <button mat-raised-button tabindex="4" class="buttonForDesktopMobile" color="primary"
                (click)="onSave(this.addForm.value)" type="button" id="btnSave" [disabled]="!addForm.valid">
                <mat-icon>check</mat-icon>
                <span class="buttonTxt">{{'label_save'|translate}}</span>
            </button>
        </div>
    </mat-card-header>


    <mat-drawer-container class="xeople-container-with-one-card" autosize id="dashboard-drawer">
        <mat-card id="manage-scoreType-master" class="component-card mat-elevation-z2">
   
        <div class="row">
            <form novalidate [formGroup]="addForm" accept-charset="utf-8" enctype='multipart/form-data' class="col l12 m12 s12"
                id="brands-addForm">
                <div class="row mb-0">
                    <mat-form-field class="col l4 m8 s12">
                        <mat-label>{{'label_degreeType'|translate}}</mat-label>
                        <input type="hidden" formControlName="Id" id="Id">
                        <input matInput formControlName="DegreeTypeName" tabindex="1" id="DegreeTypeName"
                            text="DegreeTypeName" placeholder="{{'label_degreeType'|translate}}" (blur)="duplicayCheck()"
                            required>
                        <mat-error *ngIf="addForm.controls['DegreeTypeName'].hasError('codeTaken') &&!addForm.controls['DegreeTypeName'].hasError('whitespace')">
                            {{'label_degreeType'|translate}} {{'label_errorreqiredAlready'|translate}}
                        </mat-error>
                        <mat-error *ngIf="addForm.controls['DegreeTypeName'].hasError('required')">
                            {{'label_degreeType'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                        <mat-error *ngIf="addForm.controls['DegreeTypeName'].hasError('maxlength') &&!addForm.controls['DegreeTypeName'].hasError('whitespace')">
                            {{'label_degreeType'|translate}} {{'label_errormaxlength100'|translate}}
                        </mat-error>
                        <!-- <mat-error *ngIf="addForm.controls['DegreeTypeName'].hasError('pattern')">
                            {{'label_degreeType'|translate}} {{'label_errorpatternAlphanumeric'|translate}}
                        </mat-error> -->
                          <!-- @Who: maneesh, @When: 04-jan-2023,@Why: EWM-10097 addnoWhitespaceValidator -->
                       <mat-error *ngIf="addForm.controls['DegreeTypeName'].hasError('whitespace') && !addForm.controls['DegreeTypeName'].hasError('required')">
                        {{'label_degreeType' |translate}} {{'label_nameValidation' |translate}}
                   </mat-error>
                    </mat-form-field>
                </div>
                <div class="row mb-0">
                    <mat-form-field class="col l4 m8 s12">
                        <mat-label>{{'label_description'|translate}}</mat-label>
                        <textarea matInput formControlName="Description" tabindex="2" id="scoreType-description"
                            text="Description" placeholder="{{'label_description'|translate}}" required></textarea>
                        <mat-error *ngIf="addForm.controls['Description'].hasError('maxlength') && !addForm.controls['Description'].hasError('whitespace')">
                            {{'label_description'|translate}} {{'label_errormaxlength200'|translate}}
                        </mat-error>
                        <mat-error *ngIf="addForm.controls['Description'].hasError('required') && addForm.controls['Description'].touched">
                            {{'label_description'|translate}} {{'label_errorreqired'|translate}}
                        </mat-error>
                           <!-- @Who: maneesh, @When: 04-jan-2023,@Why: EWM-10097 addnoWhitespaceValidator -->
                       <mat-error *ngIf="addForm.controls['Description'].hasError('whitespace') && !addForm.controls['Description'].hasError('required')">
                        {{'label_description' |translate}} {{'label_nameValidation' |translate}}
                   </mat-error>
                    </mat-form-field>
                </div>
                <div class="row mb-0">
                    <div class="col l4 m8 s12 ">
                        <div class="ng-slectBox">
                            <!-----@suika@EWM-10681 EWM-10818  @03-03-2023 to set default values for status in master data---->
                            <!-- who:maneesh,what:ewm-12032 for cross icon not display [clearable]="false" when:20/04/2023 -->
                            <ng-select placeholder="{{'label_status'|translate}}" class="show-required" [clearable]="false" tabindex="3"
                                formControlName="Status" id="scoreType-status" required>
                                <ng-option value="" disabled>{{'label_selectStatus'|translate}}</ng-option>
                                <ng-option *ngFor="let status of statusData" [value]="status.StatusId">
                                    {{status.StatusName}}
                                </ng-option>
                            </ng-select>
                            <mat-error
                                *ngIf="addForm.controls['Status'].hasError('required') && addForm.controls['Status'].touched">
                                {{'label_status'|translate}} {{'label_errorreqired'|translate}}
                            </mat-error>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   
</mat-card>
</mat-drawer-container>