.screening-and-interview-modal{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-height:calc(100% - 0px);
    max-width: calc(100% - 20px) !important;
    .screening-and-interview-close{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .mat-dialog-container{
        border-radius: 2px !important;
        padding: 0px;
    }
}