/************************RTL Style css**************************************/
@import "../../styles-var.scss";
[dir="rtl"] {
    .add-new-user-broadbean{
      bottom: 60px;
      right: inherit !important;
      left: 23px;
    }
    .ng-select-withicon {
      .ng-select .ng-select-container:after {
        right: -28px;
        left: 0px;
      }
    }
    .disablePublishJobSec .disablePublishJob {
      left: 40px !important;
      right: inherit !important;
    }
    .assesment-stepper-container {
      .add-section{
        right: inherit;
        left: 20px !important;
      }
      .assesment-add-question {
        .question-type.mat-card {
          .mat-icon.check-selection{
            left: 10px;
            right: inherit !important;
          }
          .question-type-heading{
            padding-left: 30px;
            padding-right: 0px !important;
  
          }
          .mat-card-title{
            padding-left: 30px;
            padding-right: 0px !important;
            .check-selection.mat-icon{
              left: 0px;
              right: inherit !important;
            }
          }
        }
      }
      .choose-layout .mat-card .mat-card-title{
        padding-left: 30px;
        padding-right: 0px !important;
        .check-selection.mat-icon{
          right: inherit !important;
          left: 0px;
        }
      }
    }
    .time-picker .ngx-timepicker__toggle{
      right: inherit;
      left: 0px;
      right: 0px;
    }
    .hideSearchHeader{
      .headerSearch{
        height: $header-search;
        position: fixed;
        top: 70px;
        z-index: 3;
        width: 100%;
        left: 0px;
        right: 0px;
      }
    }
    .mat-toolbar.mat-primary.footer{
      height: $footer-height;
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
    .selectWorkflow.mat-card{
      border-left: none;
      border-right: 5px solid $primary-bg-color;
    }
    .gdpr-slde-toggle{
      .iconForword{
        .mat-button-base{
          .mat-icon{
            transform: rotate(180deg);
          }
        }
      }
    }
    .assesment-stepper-container {
      .add-section{
        right: inherit;
        left: 20px !important;
      }
      .assesment-add-question {
        .question-type.mat-card {
          .mat-icon.check-selection{
            left: 10px;
            right: inherit !important;
          }
          .question-type-heading{
            padding-left: 30px;
            padding-right: 0px !important;
  
          }
          .mat-card-title{
            padding-left: 30px;
            padding-right: 0px !important;
            .check-selection.mat-icon{
              left: 0px;
              right: inherit !important;
            }
          }
        }
      }
      .choose-layout .mat-card .mat-card-title{
        padding-left: 30px;
        padding-right: 0px !important;
        .check-selection.mat-icon{
          right: inherit !important;
          left: 0px;
        }
      }
    }
    .time-picker .ngx-timepicker__toggle{
      right: inherit;
      left: 0px;
    }
    .notes-matcard-content{
      padding-left: inherit;
      padding-right: 10px;
    }
    .notes-details-sec {
      .mat-drawer-content {
        .notes-detail {
          .notes-detail-linebar {
            left: inherit;
            right: 30px;
          }
          .notes-detail-linebar.left-gap{
            left: inherit;
            right: 20px;
          }
        }
      }
    }
    .urOrderList {
      .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 0px;
      }
      .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: 0px;
      }
    } 
    .interfaceBoardContainer{
      .selectTemplateOrCreatejob {
        .mat-raised-button{
          float: left;
        }
      }
    }
    .canidate-card {
      .candidate-summry {
        .mat-card {
          .mat-card-content {
            .mat-chip.mat-standard-chip {
              span.number {
                margin-right: inherit;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
    span.badge{
      margin-left: inherit;
      margin-right: 10px;
    }
    .cardContent .mat-card.CarMode .mat-card-content.kendoCard .cardModeLine .clientShortName{
      margin-right: inherit;
      margin-left: 15px;
    }
    .mat-card .mat-card-content.advancedsearch-mat-card-content {
      .filterButton {
        margin-right: inherit;
        margin-left: 8px;
      }
      .createjob.mat-raised-button {
        margin-right: inherit;
        margin-left: 5px;
        .buttonTxt {
          margin-right: inherit;
          margin-left: 8px;
        }
      }
    }
    .advancedsearchDrawer {
      .drawerTitleSec {
        h4 {
          transform: translateY(82px) translateX(82px) rotate(90deg);
          border-radius: 0px 4px 4px 0px;
          padding-left: 50px;
          padding-right: 15px;
          text-align: right;
          .closeDrawerIcon {
            border-radius: 0px 0px 0px 4px;
            transform: rotate(90deg);
            right: inherit;
            left: 0px;
          }
        }
      }
    }
    .mailview-sidenav-content.mat-drawer-content{
      padding-left: 0px;
      padding-right: 5px;
    }
    .emailInt-Outlook-Box {
      .mat-card {
        .mat-card-header {
          img {
            margin-right: 0px;
            margin-left: 8px;
          }
        }
      }
    }
    .foremail-connection {
      .mat-raised-button {
        text-align: right;
        margin-right: 8px;
        margin-left: 0px;
        img {
          margin-right: 0px;
          margin-left: 10px;
        }
      }
    }
    .cardContent .mat-card.CarMode .go-corner{
      right: inherit;
      left: 0px;
      margin-right: 0px;
      margin-left: -70px;
    }
    .cardContent .mat-card.CarMode:hover {
      .go-corner {
        margin-right: inherit;
        margin-left: 0px;
      }
    }
    .cardContent {
      .mat-card {
        border-right: 3px solid $default-bg-color;
        border-left: 0px solid $default-bg-color;
      }
    }
    .listContent .mat-card{
        border-right: 2px solid $default-bg-color;
        border-left: 0px solid $default-bg-color;
    }
    span.white {
      display: inline-flex;
      line-height: 14px;
    }
    .invite-andeportall {
      position: absolute;
      right: inherit !important;
      left: -7px !important;
      float: left !important;
      margin-left: 0px !important;
      text-align: left;
      @media only screen and (min-width: 320px) and (max-width: 1115px) {
        position: relative;
        margin-bottom: 10px;
      }
    }
    .anchorLinkIcon {
      border-left: 1px solid #e1e1e2;
      border-right: none;
      left: -32px;
      width: 40px;
    }
    #upload-url-logo {
      margin-left: 0px;
      width: calc(100% - 37px);
      margin-right: 40px;
    }
    .pageContainer .mat-card .mat-card-header .viewAuditlog {
      margin-left: 5px;
    }
    .mat-toolbar.mat-primary.header{
      .mainMenu {
        .companyInfo{
          margin-left: 15px;
          margin-right: 0px;
        }
      }
    }
    .userInvitationCard .userInviteHeading .userEmailLink {
      left: inherit;
      right: 18px;
    }
    .userInvitationCard .userInviteContent .userInviteContentLinks {
      text-align: right;
    }
    .mat-slide-toggle-bar,
    .mat-slide-toggle-label-before .mat-slide-toggle-bar {
      margin-right: 8px !important;
    }
    .right-align {
      text-align: left;
    }
    .mat-drawer.moduleDrawer.mat-drawer-end,
    .mat-drawer.maillist-sidenav.mat-drawer-end {
      left: inherit !important;
      right: 0px !important;
      padding-right: 0px !important;
    }
    .drawerContentOpen {
      transform: none !important;
      margin-left: inherit !important;
      margin-right: 80px !important;
    }
    .moduleDrawer.mat-drawer-side{
      .leftMnuButton.mat-mini-fab.mat-primary {
        right: inherit;
        left: -10px;
        .mat-icon{
          transform: rotate(180deg);
        }  
      }
    }
    .pageContainerNav {
      padding-left: 15px;
      padding-right: 0px;
    }
    .pageContainerNav ul li .mat-button {
      text-align: right;
      border-radius: 20px 0px 0px 20px;
    }
    .pageContainerNav ul li .mat-button .material-icons {
      padding-right: 0px;
      padding-left: 10px;
    }
    .leftMnuButton {
      right: -21px;
      z-index: 1;
      top: 18px;
      position: absolute;
      background-color: #eeebf1;
      color: rgba(0, 0, 0, 0.87);
    }
    .listGridButton .mat-raised-button:first-child {
      border-radius: 0px 4px 4px 0px;
    }
    .listGridButton .mat-raised-button:last-child {
      border-radius: 4px 0px 0px 4px;
      margin-right: 5px;
    }
    // @When: 04-05-2023 @who:Amit @why: EWM-12313 @what: space manage
    .listGridButton .mat-raised-button.gridButton{
      margin-right: 0px;
    }
    .row .col {
      float: right;
    }
    .listHeader div:first-child {
      border-radius: 0px 4px 0px 0px;
    }
    .listHeader div:last-child {
      border-radius: 4px 0px 0px 0px;
    }
    .listActionBox {
      text-align: right;
    }
    .listContent .cardListImg {
      float: right;
      margin: 6px 0px 2px 10px;
    }
    .actionButton{
      .mat-raised-button.mat-warn{
        margin: 0px;
      }
      .mat-raised-button.mat-primary {
        margin-right: 8px;
        margin-left: 0px;
      }
    } 
    .colorBox {
      right: inherit;
      left: 10px;
    }
    .pageContainer .mat-card .mat-card-content h2.cardSubTitle .mat-raised-button.mat-primary {
      float: left;
    }
    .interfaceBoardContainer{
      .selectTemplateOrCreatejob {
        #btnConnect{
          right:unset;
          left:0px;
        }
      }    
    }
    #pageContainer{
    .mat-card-header{
      .actionButton{  
          #btnSave{
              margin-right: 8px;
              margin-left: 0px;
          }
      }
    }
    .location_on{
      left:5px;
      right:inherit;
    }
  }
    .mat-card-title{
      .addClientButton{
        margin-left:10px;
        margin-right:0px;
      }
    }
    .clientDashboardContainer{
      .dashboard-mat-card-header.mat-card-header{
        .listGridButton .search-viewicon{
      .filterButton{
        margin:0px;
      }
      .button-with-clear {
        margin-left: 0px;
        margin-right: 5px !important;
          }     
        }
        .mat-card-header-text{
          .mat-card-title.only-title{
            margin-left: 0px;
            margin-right: 5px;
          }
          .mat-card-title{
            .addClientButton{
              margin-right: 0px;
            }
          }
        }
        // @When: 23-03-2023 @who:Amit @why: EWM-11380 @what:space manage
        .actionButton{
          .mat-raised-button{
            img{
              margin-right: 0px !important;
              margin-left: 5px;
            }
          }
        } 
      } 
    } 
  .myActivityContainer{
    .home-create-activity.mat-card{
      .my-activity{
        .drawer-footer{
          .mat-raised-button{
            margin:0px 8px 0px 0px;
          }
        }
        .drawer-footer.my-activity-footer{
          left: 0px;
          right: inherit;
        }
      } 
    } 
  } 
    .attachFileBtn{
      right:0px;
    }
    .assistance-activity{
      .schedule-assistance{
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        padding-left: 15px;
        padding-right: 0px;
        border-right: inherit;
      }
    } 
    .notes-addEdit-drawer{
      .mat-form-field{
        .mat-raised-button{
          margin-left: 0px;
        }
      } 
    } 
    .candidate-folder{
      .selectTemplateOrCreatejob.mat-card{
        min-height: 285px;
      }
    }
    .modal-header{
      .mat-icon-button{
        left: -20px;
        right: inherit !important;
      }
    }
    .dashboard-sec{
      .dashboardColBox{
        .dashboardCardBox{
          .mat-card-header .mat-card-title .matIcon{
            left: 5px;
            right: inherit;
          }
        }
      }
    } 
    .question-list-sec{
      .new-data-list-header div{
        border-right: none !important;
        border-left: 1px solid #ccc;
        &:last-child{
          border-left: 0px solid #ccc;
        }
      }
      .new-data-list-content{
        .new-data-list-list{
          box-shadow: -2px 0px 0px 0px $primary-bg-color inset;
        }
      }
    }
    .nike-career .mat-expansion-panel{
      .career-main-flow button .text-btn .mat-icon{
        transform: rotate(180deg);
      }
    }
    .career-selection{
      .mat-card.active.cursor{
        .mat-radio-label{
          .mat-icon{
            right: inherit;
            left: 10px;
          }
        }
      }
    }
    .drawer-footer{
      .mat-raised-button.mat-primary{
        margin: 0px 8px 0px 0px;
      }
    }
    .mat-raised-button.mat-primary{
      margin: 0px 8px 0px 0px !important;
    }
    .mat-header-cell:first-of-type {
      border-radius: 0px 4px 0px 0px;
    }
    .mat-header-cell:last-of-type {
      border-radius: 4px 0px 0px 0px;
    }
    .email-settings.mat-card-content,.contact-info.mat-card-content,.security-part.mat-card-content{
      .setting-full-part,.contact-full-part,.security-full-part{
        .mat-card.mat-elevation-z2{
          h2.cardSubTitle{
            text-align: right;
            .mat-raised-button.mat-button-base.mat-primary{
              float: left;
            }
          }
        }
      } 
    }
    .look-and-feel.mat-card-content{
      .look-full-part{
        .mat-card.mat-elevation-z2{
          h2.cardSubTitle{
            text-align: right;
            .mat-raised-button.mat-button-base.mat-primary{
              float: left;
            }
          }
        }
      }
    }
    .listContent{
      .listcardContent{
        border-left: 0px solid $primary-bg-color;
      }
    }
    .listHeader{
      div{
        border-left: 1px solid rgba($black-color, 0.08);
        border-right: 0px solid rgba($black-color, 0.08);
        &:last-child{
          border-left: 0px solid rgba($black-color, 0.08);
        }
      }
    }
    .headerSearch{
      .advanced-search{
        .list-and-grid{
          .mat-raised-button{
            border-radius: 0px 4px 4px 0px !important;
            &:last-child{
              border-radius: 4px 0px 0px 4px !important;
            }
          }
        } 
        .searchAddButton.mat-raised-button.mat-button-base{
          .mat-button-wrapper{
            .mat-icon{
              &:first-child{
                text-align: left;
              }
              &:last-child{
                text-align: right;
              }
            }
          }
        }
      } 
    }
    .mat-dialog-container{
      .mat-dialog-actions{
        justify-content: flex-end;
      }
    }
    .profileDetail{
      .profilePic{
        .profileEditIcon{
          margin-right: -25px;
        }
      }
    } 
    .custom-control.overflow-checkbox{
      padding-left: 0px;
      padding-right: 30px;
      .overflow-control-indicator{
        right: 0px;
        left: inherit;
      }
    } 
    .new-list-card-content{
      .new-list-content{
        .new-list-data-header{
          .new-data-list-header div{
            border-right: none;
            border-left: 1px solid #ccc;
            &:last-child{
              border-left: 0px solid #ccc;
            }
          }
        }
        .new-list-data-content{
          .new-data-list-list{
            border-left: none;
            border-right: 2px solid $primary-bg-color;
            &:hover{
              border-left: none;
            }
          }
        }
      }
    }
    .assessment-ques-form{
      .assessment-content{
        .set-question-answer{
          .set-answer{
            .set-answer-description{
              padding: 0px 0px 0px 10px !important;
            }
          }
          .set-question{
            .documentUploadRoundBox{
              .circleCreateDocFileUpload{
                left: inherit !important;
                right: -12px;
              }
              .fileInstructions{
                padding: 0px 60px 0px 0px !important;
              }
            }
          }
        }
        .add-btn.mat-button-base{
          left: 10px;
          right: inherit;
        }
      }
    }
    .stepper-button{
      .mat-raised-button.mat-accent{
        margin: 0px;
      }
    }
    .breadcum{
      .arrowIcon{
        line-height: 10px;
        transform: rotate(180deg);
      }
    }
    .configure-application-container.mat-sidenav-container{
      .configure-application-sec{
        margin-left: 0px !important;
        margin-right: 292px;
      }
      .configure-application-stepper.mat-sidenav{
        border-left: none;
        .stepper-button-group{
          padding-right: 0px !important;
          padding-left: 9px;
          .stepper-button{
            border-radius: 0px 4px 4px 0px !important;
            padding-right: 0px !important;
            padding-left: 7px;
            &::after{
              right: inherit !important;
              left: -8px;
            }
          }
          .stepper-button.active{
            &::after{
              border-left: none !important;
              border-right: 8px solid $default-bg-color;
            }
          }
        }
      }
    } 
    .mailboxCardContent{
      .emailInboxHeader{
        .mat-raised-button{
          margin-left: 0px !important;
          margin-right: 8px;
        }
      }
    } 
    .select-Workflow.job-select-workflow{
      .tenant-footer{
        .mat-icon-button{
          .mat-icon{
            transform: rotate(180deg);
          }
        } 
      }
    } 
    .mat-menu-item{
      direction: rtl;
    }
  
    // @When: 02-03-2023 @who:Amit @why: EWM-10801 @what: icon radius start here
    .multiple-file-upload.mat-stroked-button.mat-primary{
      .mat-icon{
        &::after{
          border-radius: 0px 4px 4px 0px;
        }
      }
    }
    // @When: 02-03-2023 @who:Amit @why: EWM-10801 @what: icon radius end here
  
    // @When: 23-03-2023 @who:Amit @why: EWM-11380 @what:space manage start here
    .save-filter-input{
      .search-filter-matSuffix.mat-icon-button{
        right: inherit !important;
        left: 0px;
      }
    }
    // @When: 23-03-2023 @who:Amit @why: EWM-11380 @what:space manage end here
  
    // @When: 06-04-2023 @who:Amit @why: EWM-11769 @what:dynamic filter area direction change start here
    .dynamic-filter-area{
      left: inherit;
      right: calc(100% + 18px);
      .mat-icon.arrow_left{
        left: inherit;
        top: 21px;
        right: -25px;
        transform: rotate(180deg);
      }
    }
    // @When: 06-04-2023 @who:Amit @why: EWM-11769 @what:dynamic filter area direction change end here
  
    // @When: 11-04-2023 @who:Amit @why: EWM-11807 @what:add checklist btn RTL mode start here
    .add-checklist.mat-fab{
      left: 20px;
      right: inherit !important;
    }
    // @When: 11-04-2023 @who:Amit @why: EWM-11807 @what:add checklist btn RTL mode end here
  
     // @When: 13-04-2023 @who:Amit @why: EWM-11875 @what:multilayer workflow RTL start here
    .multilayer-workflow{
      h4{
        padding-right: 0px !important;
        padding-left: 35px;
        .mat-icon-button{
          right: inherit !important;
          left: 0px;
        }
      }
      .tree-view-box{
        .multilayer-tree-node{
          .multilayer-tree-node-name{
            .badge{
              right: inherit !important;
              left: 6px;
            }
          }
        }
      } 
    }
    // @When: 13-04-2023 @who:Amit @why: EWM-11875 @what:multilayer workflow RTL end here
  
    // @When: 14-04-2023 @who:Amit @why: EWM-11914 @what:image preview RTL start here
    .imageModal{
      .mat-dialog-container{
        .closeModal{
          right: inherit;
          left: 0px;
        }
      }
    }
    // @When: 14-04-2023 @who:Amit @why: EWM-11914 @what:image preview RTL end here
  
    // @When: 24-04-2023 @who:Amit @why: EWM-12101 @what: btn show RTL view start here
    .floating-menu.mat-fab{
      right: inherit;
      left: 35px;
    }
    // @When: 24-04-2023 @who:Amit @why: EWM-12101 @what: btn show RTL view end here
  
    // @When: 24-04-2023 @who:Amit @why: EWM-12104 @what: cross icon RTL view start here
    .xeople-search-search-results{
      .closeDrawerIcon{
        right: inherit !important;
        left: 0px;
      }
    } 
    // @When: 24-04-2023 @who:Amit @why: EWM-12104 @what: cross icon RTL view end here
  
    // @When: 25-04-2023 @who:Amit @why: EWM-12108 @what: loader position change start here
    .administrator-input-search{
      right: inherit !important;
      left: 20px !important;
    }
    // @When: 25-04-2023 @who:Amit @why: EWM-12108 @what: loader position change end here
  
    // @When: 26-04-2023 @who:Amit @why: EWM-12115 @what: search filter list reverse start here
    .main-email-list{
      .auto-mat-option{
        padding-inline-start: 32px;
        padding-inline-end: 16px !important;
        .user-email-searchlist{
          flex-direction: row-reverse;
        }
      }
      .mat-icon-button{
        left: 5px;
      }
    }
    // @When: 26-04-2023 @who:Amit @why: EWM-12115 @what: search filter list reverse end here
  
    .advancedsearch-sidenav-content{
      padding: 0px 5px !important;
    }
    .modal-header{
      .org-refresh-btn{
        left: 15px;
      }
    }
  
    // dashboard widget title & btn direction change
    .dashboard-sec{
      .dashboardColBox{
        .dashboardCardBox{
          .mat-card-title{
            left: inherit !important;
            right: 10px;
          }
          .inbox-btn-group{
            right: inherit !important;
            left: 10px;
          }
        } 
      }
    } 
    .notes-category-tag-box{
      .notes-category-tag{
        .mat-icon{
          border-right: none !important;
          border-left: 1px solid rgba(0, 0, 0, 0.16);
          margin-right: 0px !important;
          margin-left: 5px;
          direction: rtl;
        }
      } 
    } 
    .inputSearch{
      right: inherit !important;
      left: 20px !important;
    }
  
    // @When: 18-05-2023 @who:Amit @why: EWM-12501 @what:document upload box RTL work.
    .documentUploadRoundBox{
      .circleCreateDocFileUpload{
        right: -12px;
      }
      .fileInstructions{
        padding: 0px 60px 0px 0px !important;
      }
    }
  
    // @When: 18-05-2023 @who:Amit @why: EWM-12501 @what:country dropdown work.
    .countrySelect{
      span.ng-value-label{
        padding-inline-start: 30px;
        img{
          right: 1px;
          margin-left: 5px;
          margin-right: 0px;
        }
      }
    }
    
    // @When: 18-05-2023 @who:Amit @why: EWM-12482 @what:mat option dropdown RTL work
    .mat-complete{
      .mat-option{
        .user-email-searchlist{
          flex-direction: row-reverse;
          .userAvtaar{
            margin-inline-start: 10px !important;
            margin-inline-end: 0px;
          }
          .mat-icon-button{
            .mat-icon{
              margin-left: 0px;
            }
          }
        }
      }
    }
  
    // @When: 19-05-2023 @who:Amit @why: EWM-12562 @what: RTL work
    .newEmailStyle.new-mail-heading{
      h2{
        span{
          left: 0px;
        }
      }
    }
  
    // swiper previous & next btn rtl work
    .workflow-stages{
      .swiper-button-prev{
        left: inherit;
        right: 1px;
      }
      .swiper-button-next{
        right: inherit;
        left: 1px;
      }
      .badge{
        right: inherit;
        left: 22px;
      }
    }
  
    // latitude style
    .main-latitude{
      .latitude{
        .mat-icon-button{
          right: inherit;
          left: -1px;
          border-radius: 0px 0px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
      } 
    }
  
    // @When: 13-09-2023 @who:Amit @why: EWM-14068 @what: copy message
    .newEmailBtn-right{
      .copyMessage.email-hide{
        right: 0px;
        left: inherit;
      }
    }
  
    // @When: 08-09-2023 @who:Amit @why: EWM-13874 @what: job detail card & bottom action start here
    .jobdetail-card.mat-card{
      .jobDetailsPage{
        .quickFiltr-sidenav-content{
          .kanban-sec{
            .kanban{
              .process-box{
                .candidate-list{
                  .candidate-box-icons{
                    .pin-unpin{
                      .pin-btn.pin-active{
                        .secondIcon{
                          right: inherit;
                        }
                      }
                    }
                  }
                }
              }
            }
            .candidate-bottom-actions-main{
              .candidate-bottom-actions{
                padding: 2px 8px 2px 25px !important;
                .mat-stroked-button.btn-cancel{
                  right: inherit !important;
                  left: 3px;
                }
              }
            }
          }
        }
      } 
    }
    // @When: 08-09-2023 @who:Amit @why: EWM-13874 @what: job detail card & bottom action end here
  
    // @When: 08-09-2023 @who:Amit @why: EWM-13874 @what: close job start here
    .close-job-form{
      .mat-dialog-content{
        .email-details{
          .input-with-info-icon{
            .mat-form-field-wrapper{
              padding-right: 0px;
              padding-left: 20px;
            }
            .infoStyle{
              right: inherit !important;
              left: 0px;
            }
          }
        }
      }
    }
    // @When: 08-09-2023 @who:Amit @why: EWM-13874 @what: close job end here
    
  }
  /************************RTL Style css**************************************/
  
  
  
  
  
  
  
  
  
  