

@import "../../../../../styles-var.scss";



.actionBoxFooter {
  .attachFileBtn {
    position: absolute;
    cursor: pointer;
    left: 25px;
  }
}
.ccBccEmailBtn {
  min-width: 35px;
  padding: 0px 0px;
  position: relative;
  top: -6px;
  margin: 0px 3px;
}

.activeBtnColor {
  background: #f1f1f2;
}

.fileUpload {
  input[type="file"] {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -15px;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
}

.insert-template {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .mat-icon {
    font-size: 150%;
  }
}

.emailattacmentbox{
  .mat-card{
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 7px;
  }
}
.email-attachment {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
  .file-detail {
    padding-right: 5px;
    display: grid;
    span {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .fileSize{
      font-size: 12px;
      margin-top: 4px;
    }
  }
  .mat-icon{
    cursor: pointer;
  }
  .mat-icon:hover {
    color: $warn-bg;
  }
}

.mailediter {
  height: 295px;
  @media only screen and (max-width: 672px) {
    height: 430px;
  }
}

.email-chip{
  min-width: 100px;
}
.newEmailStyle{
  margin-bottom: 25px;
  .checkbox-group{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  small{
      display: flex;
      margin: 5px 0px;
  }
  p{
      a{
          text-decoration: underline;
          cursor: pointer;
      }
  }
}
