@import '../../../../styles-var.scss';

*{outline:none !important}
.xeople-modal-lg{
    .row{
        margin-bottom: 10px;
    }
    &:first-child{
        margin-top: 0px;
    }
    
}

.ng-slectBox{
    font-size: 14px !important;
}


.orgSelect{
    width: 100%;
}

::ng-deep {
    .location-icon-withchip .mat-form-field-label-wrapper .mat-form-field-label {
        top: 1.28125em;
        left: 0px;
    }
}
.add-manage {
    display: flex;
    align-items: center;
    .spacer {
      flex: 1 1 auto;
    }
    .ng-dropdown-panel .scroll-host {
      margin-top: -15px;
    }
  }
  .no-bottom {
    margin-bottom: -1.25em !important;
  }
  .listWithText{
     width: 20px;
     height: 20px;
     line-height: 20px;
    font-size: 10px;
    display: inline-block;
     text-align: center;
     border-radius: 50px;
    color: $white-color;
     margin-right: 5px;
    }



