.inputSearch {
  display: block !important;
  z-index: 9999999999;
  position: absolute;
  top: inherit;
  left: inherit;
  background-color: rgba(0, 0, 0, 0);
  right: 20px;
  bottom: 18px;
  font-size: 26px;
}

.counterTxt {
  position: relative;
  .countlabel {
    margin-top: 0px;
    text-align: right;
    color: #fe7000;
    font-size: 80%;
    position: absolute;
    bottom: 5px;
    right: 20px;
  }
}
.toggle-label{
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}
.document-name{
  display: flex;
  padding-bottom: 10px;
  gap: 15px;
}
.permissionHeading{
  margin-top: 5px; 
  display: block;
}