@import '../profile-summary/candidate-summary/candidate-summary.component.scss';

.mat-divider-horizontal{
    margin-top:0px !important;
    margin-bottom: 0px !important;
  }
  .mgtopFix{
    position: relative; 
    top:-5px;
  }
  
  .mgBottom{
    margin-bottom: 70px !important;
    height: auto !important;
  }
  
.wordwrap{
    word-break: break-word;
    display: flex;
    .noteHeadingLbl{
        font-weight: 500;
        display: inline-block;
        min-width: 100px;
    }
    .notesTxt{
        font-weight: 400;
        margin-left: 10px;
    }
}

.recentNotesGreyBg{
    padding: 0px 0px;
    margin:0px 15px;
    margin-bottom: 10px !important;
}

.mgBottom10{
    margin-bottom: 9px;
}
