
//  @Type: File, <scss>
 // @Name:create-job-and-client-popup.component.scss
 // @Who: Nitin Bhati
 // @When: 09-Feb-2023
 // @Why: EWM-9628 EWM-10420



 .completeFormBox{
    p{
        padding: 15px 0px;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 0px;
        line-height: 22px;
    }        
}



