/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: 
    @Who: Satya Prakash Gupta
    @When: 17-Oct-2023
    @Why: EWM-14828 EWM-14832 EWN-14833
*/
.modal-header {
    margin-bottom: 0px;
}
.logo-loader.logo-loader-candidate {
    cursor: inherit;
    z-index: 2;
}
.drawer-mat-card{
    padding: 0px;
}