/* 
  @(C): Entire Software
  @Type: File, <css>
  @Who: Satya Prakash Gupta
  @When: 18-May-2021
  @Why: EWM-1481 EWM-1554
  @What:  This page will be use for the Social Profile Cmponent CSS file
*/

@import "../../../../../mixinStyle.scss";

.col-1{
    width: 60%;
    @media only screen and (min-width:320px) and (max-width:1400px){
        width: 53%;
    }
}
.col-2{
    width: 37%;
}
.col-4{
    width: 3%;
}
.col-3{
    width: 10%;
    @media only screen and (min-width:320px) and (max-width:1400px){
        width: 17%;
    }
}
.listCardView .listcardContent{
    padding-bottom: 0px;
}
.sticky-width, .listcardContentMaxData{
    min-width: 690px;
}
.defultIcon{
    height: 37px;
    margin-top: 8px;
    margin-left: 5px;
}
.cardContent .cardListImg {
  display: table-cell;
  vertical-align: middle;
  .defultIcon{
      height: 45px;
  }
  img{
      max-height: 45px;
      max-width: 45px;
      height: auto;
      width: auto;
  }
}
.list{
  display: block !important;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.32);
}

// Entire Software : Satya Prakash : 15-Dec-2020 : List and card view : ROST-491 ROST-532 
.maxData {
    height: 70px;
}
.maxData:hover {
    height: 70px;
}
.k-toolbar{
    justify-content:flex-end;
}
.mat-form-field.uploadFromURL{
    max-width:unset;
}
.xeople-container-listing-with-breadCrumb.mat-drawer-container{
    .component-card.mat-card{
      @media only screen and (max-width: 385px) and (min-width: 320px) {
        height: calc(100% - 54px);
      }
    }
}
.page-header.mat-card-header{
    @media only screen and (max-width: 1060px) and (min-width: 581px){
      flex-direction: column;
      height: 78px;
      padding: 5px 10px 5px 15px;
      align-items: inherit;
    }
    @media only screen and (max-width: 580px) and (min-width: 240px){
      height: 73px;
    }
}