/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: account-prefrences.component.scss
    @Who: Satya Prakash
    @When: 18-Nov-2020
    @Why: ROST-369 ROST-412
    @What: You can add account-prefrences.component styles to this file, and also import other style files
*/
.col .row {
    margin-left: -10px;
    margin-right: -10px;
}
span.badge {
    text-transform: inherit;
    font-size: 14px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}
.slide-toggle-devide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}