/*
  @modified 
  @(C): Entire Software
  @Type: File, <css>
  @Name: my-activity.component.scss
  @Who: Satya Prakash Gupta
  @When: 20-Mar-2023
  @Why:EWM-11254 EWM-11255
  @What: You can add style for job activity drawer only
*/
@import "../../../../modules/EWM.core/home/my-activity/my-activity.component.scss";

.recording-url {
  border: 1px solid #c9c9c9;
  .mat-icon.title{
    background-color: #e4e4e4
  }
}

.header-button{
  min-width: 36px;
  margin-inline-end: 5px;
}