<!--- 
    @(C): Entire Software
    @Type: File, <html>
    @Name:confirm-dialog.component.html
    @Who: Satya Prakash Gupta
    @When: 17-Mar-2021
    @Why: EWM-1017 EWM-1186
    @What: This page wil be use only for the confirm Component HTML
-->
<div mat-dialog-content class="center-align confirm-dialog">
    <span class="material-icons animate__animated animate__heartBeat animate__repeat-2">
        help
    </span>
    <h2 mat-dialog-title>
        {{'label_confirmation'|translate}}
        <!-- {{title|translate}} {{subtitle|translate}} -->
    </h2>
    <!-- <p *ngIf="orgDataEnable"> {{subtitle|translate}} ?</p>
    <p *ngIf="!siteDomainUpdate && !orgDataEnable"> {{message|translate}} {{subtitle|translate}} ?</p> 
    <p *ngIf="siteDomainUpdate"> {{'label_titleDialogContentSiteDomain'|translate}} {{title|translate}} {{subtitle|translate}} ?</p>-->
    <div *ngIf="!isWithoutQuestionMark">
        <p *ngIf="noQuestionMark"> {{data?.prefixmsg}} {{message | translate}} {{title | customTranslate}}
            {{data?.prefixsubtittle}} {{subtitle | customTranslate}}<span *ngIf="isQuestionMark"></span><span
                *ngIf="!isQuestionMark">.</span></p>
        <p *ngIf="!noQuestionMark"> {{data?.prefixmsg}} {{message | translate}} {{title | customTranslate}}
            {{data?.prefixsubtittle}} {{subtitle | customTranslate}}</p>
    </div>
    <div *ngIf="isWithoutQuestionMark">
        <p> {{data?.prefixmsg}} {{message | translate}} {{title | customTranslate}} {{data?.prefixsubtittle}} {{subtitle
            | customTranslate}}</p>
    </div>

</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="button-row actionBoxFooter">
    <button mat-stroked-button color="warn" (click)="onDismiss()"> {{'label_noBtn'| translate}}</button>
    <button mat-stroked-button color="primary" (click)="onConfirm()"> {{'label_yesBtn'|translate}}</button>
</div>