// common css variables
$primary-bg-color: var(--primary-color);
$primary-txt-color:var(--secondary-color);
$highlight-bg-color: var(--highlightprimary-color);
$highlight-txt-color: var(--highlightsecondary-color);

$default-bg-color: #5844DA;
$default-text-color: #ffffff;
$warn-bg:#F44336;
$warn-txt:#ffffff;

$white-color: #ffffff;
$green-color: #7fb734;
$black-color: #000000;
$width-full: 100%;
// common css variables
$backBtnColor: #c92327;
$gold-star : #FFD700;
$gray-button: #c1c1c1;
$gray-txt: #696969;
$info-color: #3f51b5;
$orange-color: #e0a904;
// popup shadow
$defoult-shadow:0px 3px 6px 0px rgba(0, 0, 0, 0.16);
$shadow:0px 0px 6px 0px rgba(0, 0, 0, 0.16);
// popup shadow

// header
$header-height:60px;
$header-search: 50px;
$footer-height: 40px;
// header

$gray-bg-color: #f5f5f5;

$dark-primary: #789aab;

$dark-primary-bg: #424242;
$white-bg: #ffffff;

$defoult-font-size: 14px;
