<div class="quick-dialog">
    <h2 mat-dialog-title>
      <!--<a *ngFor="let label of data?.name"> {{label.Name}} <mat-icon >keyboard_arrow_right</mat-icon> </a>-->
        <span class="closeModal"  (click)="onDismiss('')">
            <mat-icon>close</mat-icon>
        </span>
    </h2>
    <div mat-dialog-content>
        <mat-card class="mat-elevation-z0 mb-0">
            <div class="row">
                <div class="col s12 m6 l6 animate__zoomIn animate__animated">
                    <mat-card class="selectTemplateOrCreatejob" tabindex="1" id="createdocument"
                        (click)="onDismiss('document')">
                        <div class=" center-align">
                            <div class="tenantBox">
                                <div class="cltImgBox">
                                    <mat-icon class="companyIcon">
                                        description
                                    </mat-icon>
                                </div>
                                <label>{{'label_adddocuments' |translate}}</label>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col s12 m6 l6 animate__zoomIn animate__animated">
                    <mat-card class="selectTemplateOrCreatejob" tabindex="2" id="candidate-document-createfolder"
                        (click)="onDismiss('folder')">
                        <div class="center-align">
                            <div class="tenantBox">
                                <div class="cltImgBox">
                                    <mat-icon class="companyIcon">
                                        folder
                                    </mat-icon>
                                </div>
                                <label>{{'label_addfolder' |translate}}</label>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>