/* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: email-settings.component.scss
    @Who: Satya Prakash
    @When: 19-Nov-2020
    @Why: ROST-366 ROST-398
    @What: You can add email settings styles to this file, and also import other style files
*/
.col .row {
    margin-left: -10px;
    margin-right: -10px;
}
.html-editor-kendo{
    label{
        display: block;
        margin: 5px 0px 3px;
    }
    small{
        display: block;
        margin-bottom: 3px;
    }
}

