
  /* 
    @(C): Entire Software
    @Type: File, <css>
    @Name: status.component.scss
    @Who: Renu
    @When: 13-may-2021
    @Why: ROST-1500
    @What: You can add group details styles to this file, and also import other style files
*/

@import "../../../../../../mixinStyle.scss";

.col-1 {
  width: 15%;
}
.col-2 {
  width: 15%;
}
.col-3 {
  width:25%;
}
.col-4 {
  width: 9%;
}
.col-5 {
  width: 9%;
}
.col-6 {
  width: 18%;
}
.col-7 {
  width: 7%;
}
.col-8 {
  width: 8%;
}
.col-9 {
  width: 3%;
}
.list{
  display: block !important;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(0, 0, 0, 0.32);
}
.mat-form-field-infix, .mat-form-field{
  width: 100%;
}
.colorBox{
  position: relative;
  border: 1px solid #707070;
  width: 20px;
  height: 20px;
  right: 0px;
  bottom: 0px;
  &:focus{
    outline: none;
  }
}
.subTitle.mat-card-subtitle{
	width:calc(100% - 60px) !important
}

      
.colorCodeBoxCenter span{
  display:flex;
  align-items: center;
  justify-content: center;
}
.xeople-container-listing-with-breadCrumb.mat-drawer-container{
  .component-card.mat-card{
      @media only screen and (max-width: 327px) and (min-width: 240px){
        height: calc(100% - 78px);
      }
  }
}      

.page-header.mat-card-header{
  @media only screen and (max-width: 1060px) and (min-width: 581px){
    flex-direction: column;
    height: 78px;
    padding: 5px 10px 5px 15px;
    align-items: inherit;
  }
  @media only screen and (max-width: 580px) and (min-width: 328px){
    height: 73px;
  }
  @media only screen and (max-width: 327px) and (min-width: 240px){
    height: 97px;
  }
}

.list-container{
  overflow-y: auto !important;
}