.quick-dialog{
    span.timeLineCloseIcon{
        float: right;
        position: relative;
         z-index: 999;
         cursor: pointer;
         right:0px;
         color:#c1c1c1;
    }
    span.timeLineCloseIcon:hover{
        color:#cc0000;
    }        
}