/* 
    @(C): Entire Software
    @Type: File, <css>
    @Who: Priti
    @When: 3-sep-2021
    @Why: EWM-2702
    @What: You can add  styles to this file, and also import other style files
*/
.col-1 {
  width: 15%;
}
.col-2 {
  width: 14%;
}
.col-3 {
  width: 12%;
}
.col-4 {
  width: 11%;
}
.col-5 {
  width: 12%;
}
.col-6 {
  width: 12%;
}
.col-7 {
  width: 10%;
}
.col-8 {
  width: 3%;
}
.col-9 {
  width: 11%;
}
.textpadding {
  padding-left: 200px;
  position: relative;
  cursor: pointer;
  .mat-icon {
    position: absolute;
    top: -28px;
  }
}

.headerDroupDownUp{
  color: #282828;
}

.hyperlink{
  color: #7aa6e7;
}
.with-icon {
  padding-left: 23px;
  .mat-icon {
    left: 4px;
    position: absolute;
    font-size: 19px;
    line-height: 20px;
  }
}

.alternetBG .mat-card{
  box-shadow: none !important;
  .mat-card-content{
    overflow: hidden;
  }
}
.listcardContent:hover {
  box-shadow: none;
}
