<!--
  @(C): Entire Software
  @Type: File, <ts>
  @Name: job-type-add.component.html
  @Who: Anup
  @When: 21-june-2021
  @Why: EWM-1738 EWM-1826
  @What: For Job type master
 -->

<div *ngIf="loading" class="logo-loader" id="logo-loader">
  <div class="logo-loading"></div>
</div>


    <mat-card-header class="dashboard-mat-card-header title-and-btn" id="job-type-add-mat-card-header">
        <mat-card-title class="only-title" *ngIf="activestatus=='Add'">{{'label_addJobType' |translate}}</mat-card-title>
        <mat-card-title class="only-title" *ngIf="activestatus=='Edit'">{{'label_editJobType' |translate}}</mat-card-title>
        <div class="actionButton">

            <button mat-raised-button color="warn" tabindex="3" [routerLink]="['../']" [queryParams]="{V:viewMode}"
                id="btnCancel" class="buttonForDesktopMobile">
                <mat-icon>close</mat-icon>
                <span class="buttonTxt">{{'label_cancel' |translate}}</span>
            </button>
            <button mat-raised-button tabindex="4" class="buttonForDesktopMobile" color="primary"
                (click)="onSave(this.addJobForm.value)" type="button" id="btnSave" [disabled]="!addJobForm.valid">
                <mat-icon>check</mat-icon>
                <span class="buttonTxt">{{'label_save'|translate}}</span>
            </button>
        </div>
    </mat-card-header>
    
<mat-drawer-container class="xeople-container-with-one-card" autosize id="job-type-add-drawer">
    <mat-card class="component-card mat-elevation-z2" id="component-card"> 
        <div class="addEditSec">
            <ng-template #template let-anchor>
                <span>{{ anchor.nativeElement.innerText }}</span>
            </ng-template>
            <form novalidate [formGroup]="addJobForm" (ngSubmit)="onSave(this.addJobForm.value)" accept-charset="utf-8"
                id="commitment-form">
                <div class="row mb-0">
                    <div class="col l8 m12 s12">
                        <div class="row mb-0">
                            <mat-form-field class="col l6 m6 s12">
                                <mat-label>{{'label_JobType'|translate}}</mat-label>
                                <input type="hidden" formControlName="Id" id="Id">
                                <input matInput formControlName="JobType" tabindex="1" id="jobType-Name"
                                    placeholder="{{'label_JobType'|translate}}" required (blur)="JobduplicayCheck()">
                                <mat-error *ngIf="addJobForm.controls['JobType'].hasError('required')">
                                    {{'label_JobType'|translate}} {{'label_errorreqired'|translate}}
                                </mat-error>
                                <mat-error *ngIf="addJobForm.controls['JobType'].hasError('codeTaken')">
                                    {{'label_JobType'|translate}} {{'label_errorreqiredAlready'|translate}}
                                </mat-error>
                                <mat-error *ngIf="addJobForm.controls['JobType'].hasError('maxlength')">
                                    {{'label_JobType'|translate}} {{'label_errormaxlength100' |translate }}
                                </mat-error>
                                <mat-error *ngIf="addJobForm.controls['JobType'].hasError('pattern')">
                                    {{'label_JobType'|translate}} {{'label_errorspecialchar'|translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="row mb-0">
                            <div class="col l6 m6 s12 ">
                                <div class="ng-slectBox">
                                       <!-----@suika@EWM-10681 EWM-10818  @03-03-2023 to set default values for status in master data--->
                                    <ng-select placeholder="{{'label_status'|translate}}" class="show-required" [clearable]="false"
                                        tabindex="2" formControlName="Status" id="jobType-status" required (change)="clickStatusID($event)">
                                        <ng-option value="" disabled>{{'label_selectStatus'|translate}}</ng-option>
                                        <ng-option *ngFor="let list of statusList" value="{{list.StatusId}}">
                                            {{list.StatusName}}</ng-option>
                                    </ng-select>
                                    <mat-error
                                        *ngIf="addJobForm.controls['Status'].hasError('required') && addJobForm.controls['Status'].touched">
                                        {{'label_status'|translate}} {{'label_errorreqired'|translate}}
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</mat-card>
</mat-drawer-container>